Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

fix: java/app-encryption/pom.xml to reduce vulnerabilities
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: server/samples/clients/node/Dockerfile to reduce vulnerabilities
  server/samples/clients/node/Dockerfile
Due: none

fix: upgrade ch.qos.logback:logback-classic from 1.2.3 to 1.2.11
  samples/java/reference-app/pom.xml
Due: none

fix: upgrade com.zaxxer:HikariCP from 2.6.1 to 2.7.9
  server/java/pom.xml
Due: server-java

fix: upgrade org.bouncycastle:bcprov-jdk15on from 1.68 to 1.70
  java/app-encryption/pom.xml
Due: java_app_encryption

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

Delete codeql.yml
  .github/workflows/codeql.yml
Due: none

fix: upgrade org.slf4j:slf4j-simple from 1.7.25 to 1.7.36
  server/java/pom.xml
Due: server-java

Update node version
  server/samples/clients/node/Dockerfile
Due: none

fix: upgrade io.micrometer:micrometer-core from 1.9.1 to 1.9.3
  java/app-encryption/pom.xml
Due: java_app_encryption

Use debug logger
  go/appencryption/pkg/kms/aws.go
Due: go_appencryption

base image updates: go -> 1.19, alpine -> 3.16
  server/go/Dockerfile
Due: server-go

godog to 0.12.5, use seperate initializers
  tests/cross-language/go/encrypt_test.go
  tests/cross-language/go/go.mod
  tests/cross-language/go/go.sum
Due: none

remove install of outdated cucumber/godog package
  .github/workflows/ci.yml
Due: none

regenerated code with grpcio v1.49.1
  server/samples/clients/python/appencryption_pb2.py
  server/samples/clients/python/appencryption_pb2_grpc.py
Due: none

install godog command (latest)
  .github/workflows/ci.yml
Due: none

[java] update server to use latest AE (v0.2.3)
  server/java/pom.xml
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/DynamoDbConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/ServerApp.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionConfigTest.java
Due: server-java

[server/java] dockerfile updates
  server/java/Dockerfile
Due: server-java

[server/java] readme updates
  server/java/README.md
Due: server-java

fix: upgrade com.google.guava:guava from 30.1-jre to 30.1.1-jre
  java/app-encryption/pom.xml
Due: java_app_encryption

Update packages for Snyk
  go/appencryption/go.mod
  go/appencryption/go.sum
Due: go_appencryption

fix: upgrade info.picocli:picocli from 4.3.2 to 4.6.3
  server/java/pom.xml
Due: server-java

Update System.Text.Encodings.Web in SecureMemory
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

fix: csharp/SecureMemory/SecureMemory/SecureMemory.csproj to reduce vulnerabilities
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

Update SecureMemory packages and target framework
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/SecureMemory.Tests/Libc/LibcMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

Try installing Microsoft.CodeAnalysis 4.3
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

Remove stylecop to see if that's what's broken
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
Due: csharp_SecureMemory

Update SecureMemory.csproj
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

Try upgrading to .NET Core 3.1
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  csharp/SecureMemory/SecureMemory.sln
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

Update SecureMemory.sln
  csharp/SecureMemory/SecureMemory.sln
Due: csharp_SecureMemory

Recreate projects
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/SecureMemory.sln
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

Use sdk 6 to build
  .github/workflows/ci.yml
Due: none

Fix tag
  .github/workflows/ci.yml
Due: none

Try this property
  .github/workflows/ci.yml
  csharp/SecureMemory/Directory.Build.props
Due: csharp_SecureMemory

Update build.sh
  build/csharp/build.sh
Due: none

Use sdk 6.0 for SecureMemory
  .github/workflows/ci.yml
Due: none

Install dotnet-3.1 into sdk:6.0 container
  .github/workflows/ci.yml
  build/csharp/install-dotnet-3.1.sh
  csharp/SecureMemory/scripts/install-dotnet-3.1.sh
Due: csharp_SecureMemory

Set execute on scripts
  build/csharp/install-dotnet-3.1.sh
  csharp/SecureMemory/scripts/install-dotnet-3.1.sh
Due: csharp_SecureMemory

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
