Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

Improve code coverage
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption/Persistence/AdoMetastoreImpl.cs
Due: csharp_AppEncryption

Add more tests
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/JdbcMetastoreImplTest.java
Due: java_app_encryption

Improve patch code coverage
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/InMemoryMetastoreImplTest.cs
Due: csharp_AppEncryption

Address review comments
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
Due: java_app_encryption

Java: Add global table support (#202)
  .circleci/config.yml
  java/app-encryption/pom.xml
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/DefaultPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SuffixedPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/Metastore.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/DefaultPartitionTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SuffixedPartitionTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImplTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/JdbcMetastoreImplTest.java
  server/java/checkstyle.xml
  server/java/pom.xml
  server/java/scripts/install_local.sh
  server/samples/clients/test_clients.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: java_app_encryption, server-java

Release Java AE v0.1.1
  java/app-encryption/pom.xml
Due: java_app_encryption

Adding support for specify region for dynamodb in C# SDK.
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Add a HeapAlloc version as well, just in case
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorHeapAlloc.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorVirtualAlloc.cs
Due: csharp_SecureMemory

Add locked memory when we are decrypted
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Fix formatting
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Switch to VirtualAlloc
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorHeapAlloc.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorVirtualAlloc.cs
Due: csharp_SecureMemory

HeapAlloc implementation flawed
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorHeapAlloc.cs
Due: csharp_SecureMemory

Remove unused functions
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
Due: csharp_SecureMemory

Formatting
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
Due: csharp_SecureMemory

Reduced inconsistency in error handling
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Fixes
  csharp/SecureMemory/PlatformNative/LLP64/Windows/VirtualUnlock.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsOperationFailedException.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Fix missed exception types
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorVirtualAlloc.cs
Due: csharp_SecureMemory

Initial Windows support (#198)
  codecov.yml
  csharp/AppEncryption/Crypto/Engine/BouncyCastle/BouncyAeadCrypto.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/CryptProtect.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/Enums/AllocationType.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/Enums/CryptProtectOptions.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/Enums/MemoryProtection.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/VirtualUnlock.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/Debug.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsOperationFailedException.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorVirtualAlloc.cs
Due: csharp_AppEncryption, csharp_SecureMemory

Remove excess new lines
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
Due: java_app_encryption

Temporarily disable the ests-java-test-app job in CircleCI
  .circleci/config.yml
  java/app-encryption/pom.xml
Due: java_app_encryption

Update README.md
  csharp/SecureMemory/README.md
Due: csharp_SecureMemory

Enable job in CircleCi, diable the problematic test in tast-app
  .circleci/config.yml
  tests/java/test-app/pom.xml
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/DynamoDbGlobalTableTest.java
Due: none

Update artifact version
  tests/java/test-app/pom.xml
Due: none

Fix checkstyle errors
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/AppEncryptionParameterizedTest.java
Due: none

Apply suggestions from code review
  csharp/SecureMemory/README.md
Due: csharp_SecureMemory

Fix version
  java/app-encryption/pom.xml
Due: java_app_encryption

Update README.md (#211)
  csharp/SecureMemory/README.md
Due: csharp_SecureMemory

[C#] bump SecureMemory to v0.1.2
  csharp/SecureMemory/Directory.Build.props
Due: csharp_SecureMemory

Update variable order in constructor
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
Due: java_app_encryption

Address review comments
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImplTest.java
  tests/java/test-app/pom.xml
Due: java_app_encryption

[C#] bump AppEncryption to v0.1.2
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

[C#] bump AppEncryption to v0.1.2 (#215)
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Address review comments
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImplTest.java
Due: java_app_encryption

Address review comments
  tests/java/test-app/pom.xml
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/DynamoDbGlobalTableTest.java
Due: none

Update tests/java/test-app/pom.xml
  tests/java/test-app/pom.xml
Due: none

JAVA: DynamoDb config updates (#210)
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImplTest.java
  tests/java/test-app/pom.xml
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/DynamoDbGlobalTableTest.java
Due: java_app_encryption

[server/go] add --dynamodb-endpoint flag
  server/go/README.md
  server/go/pkg/server/options.go
  server/go/pkg/server/server.go
  server/go/pkg/server/server_test.go
Due: server-go

[go] WithTableName option for DynamoDBMetastore
  go/appencryption/pkg/persistence/dynamodb.go
  go/appencryption/pkg/persistence/dynamodb_test.go
Due: go_appencryption

Update README
  java/app-encryption/README.md
Due: java_app_encryption

[server/go] add --dynamodb-region flag
  server/go/README.md
  server/go/pkg/server/options.go
  server/go/pkg/server/server.go
  server/go/pkg/server/server_test.go
Due: server-go

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
