Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: languages_csharp_AppEncryption, languages_csharp_Logging, languages_csharp_SecureMemory, languages_java_app_encryption, languages_java_secure_memory

Remove distributionManagement
  tests/java/test-app/pom.xml
Due: none

Update active jobs
  .circleci/config.yml
Due: none

initial test of circle deploy flow control in step
  .circleci/config.yml
Due: none

minor change in echo wording
  .circleci/config.yml
Due: none

Fix versioning
  languages/csharp/AppEncryption/Crypto/Crypto.csproj
  languages/csharp/AppEncryption/Directory.Build.props
  languages/csharp/AppEncryption/scripts/deploy.sh
  languages/csharp/AppEncryption/scripts/install_local.sh
  languages/csharp/Logging/Directory.Build.props
  languages/csharp/Logging/scripts/deploy.sh
  languages/csharp/Logging/scripts/install_local.sh
  languages/csharp/SecureMemory/Directory.Build.props
  languages/csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  languages/csharp/SecureMemory/scripts/deploy.sh
  languages/csharp/SecureMemory/scripts/install_local.sh
Due: languages_csharp_AppEncryption, languages_csharp_Logging, languages_csharp_SecureMemory

Added a step in the pipeline to install any required dependencies
  .circleci/config.yml
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
  samples/csharp/ReferenceApp/scripts/deploy.sh
Due: none

Fix install_local script
  languages/csharp/AppEncryption/scripts/install_local.sh
  languages/csharp/Logging/scripts/install_local.sh
  languages/csharp/SecureMemory/scripts/install_local.sh
Due: languages_csharp_AppEncryption, languages_csharp_Logging, languages_csharp_SecureMemory

temporary changes for verifying tag detection
  .circleci/config.yml
Due: none

whoops, forgot to add another temp debug bit
  .circleci/config.yml
Due: none

no-op change for debugging/troubleshooting
  .circleci/config.yml
Due: none

circleci seems to treat tags oddly
  .circleci/config.yml
Due: none

changing how we detect tags in circleci
  .circleci/config.yml
Due: none

bah, fix yaml bug
  .circleci/config.yml
Due: none

forgot \d isn't posix compliant
  .circleci/config.yml
Due: none

no-op for testing tag flow
  .circleci/config.yml
Due: none

remove debug in deploy step and add it throughout
  .circleci/config.yml
Due: none

forgot to add comment around git tag inspection
  .circleci/config.yml
Due: none

WIP: Add mocking for DynamoDb
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastorePersistenceImplTestIT.java
Due: languages_java_app_encryption

Make changes as per review comments
  .circleci/config.yml
  build/NuGet.Config
  build/settings.xml
  languages/csharp/AppEncryption/scripts/deploy.sh
  languages/csharp/AppEncryption/scripts/install_local.sh
  languages/csharp/Logging/scripts/deploy.sh
  languages/csharp/Logging/scripts/install_local.sh
  languages/csharp/SecureMemory/scripts/deploy.sh
  languages/csharp/SecureMemory/scripts/install_local.sh
  samples/csharp/ReferenceApp/scripts/deploy.sh
Due: languages_csharp_AppEncryption, languages_csharp_Logging, languages_csharp_SecureMemory

Fix dotnet tool path
  .circleci/config.yml
Due: none

/Users/nlohia does not work in persisting workspaces
  .circleci/config.yml
Due: none

Persist workspace requires absolute path
  .circleci/config.yml
Due: none

- Enable all java builds - Move local installation to last step of the job
  .circleci/config.yml
Due: none

Use /home/ciecleci in persist_to_workspace.root
  .circleci/config.yml
Due: none

comment out master deploy for java
  .circleci/config.yml
Due: none

Use hours and minutes in build timestamp
  .circleci/config.yml
  languages/csharp/AppEncryption/scripts/install_local.sh
  languages/csharp/Logging/scripts/install_local.sh
  languages/csharp/SecureMemory/scripts/install_local.sh
Due: languages_csharp_AppEncryption, languages_csharp_Logging, languages_csharp_SecureMemory

Put docker content in a profile
  tests/java/test-app/pom.xml
Due: none

Remove dynamodb test class
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastorePersistenceImplTest.java
Due: languages_java_app_encryption

Comment docker.registry tag
  tests/java/test-app/pom.xml
Due: none

Use environment variable to attach workspace
  .circleci/config.yml
Due: none

Rename docker profile
  tests/java/test-app/pom.xml
Due: none

Java cicd cont (#97)
  .circleci/config.yml
  languages/java/app-encryption/scripts/install_local.sh
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastorePersistenceImplTestIT.java
  languages/java/secure-memory/scripts/install_local.sh
  samples/java/reference-app/pom.xml
  samples/java/reference-app/scripts/build.sh
  tests/java/test-app/pom.xml
  tests/java/test-app/scripts/build.sh
Due: languages_java_app_encryption, languages_java_secure_memory

Add dynamodb local tests
  .circleci/config.yml
  languages/java/app-encryption/pom.xml
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastorePersistenceImplTest.java
Due: languages_java_app_encryption

Csharp CI builds (#98)
  .circleci/config.yml
  .codecov.yml
  build/NuGet.Config
  build/settings.xml
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastorePersistenceImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastorePersistenceImplTest.cs
  languages/csharp/AppEncryption/Crypto/Crypto.csproj
  languages/csharp/AppEncryption/scripts/deploy.sh
  languages/csharp/AppEncryption/scripts/install_local.sh
  languages/csharp/Logging/scripts/deploy.sh
  languages/csharp/Logging/scripts/install_local.sh
  languages/csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  languages/csharp/SecureMemory/scripts/deploy.sh
  languages/csharp/SecureMemory/scripts/install_local.sh
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
  samples/csharp/ReferenceApp/scripts/clean.sh
  samples/csharp/ReferenceApp/scripts/deploy.sh
Due: languages_csharp_AppEncryption, languages_csharp_Logging, languages_csharp_SecureMemory

cache and workspace may conflict, use cache only
  .circleci/config.yml
  project-dirs
  scripts/checksum.sh
Due: none

Add environment variables in CircleCI UI
  .circleci/config.yml
Due: none

cache and workspace may conflict, use cache only (#100)
  .circleci/config.yml
  project-dirs
  scripts/checksum.sh
Due: none

Changes as per review comments
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastorePersistenceImplTest.java
Due: languages_java_app_encryption

Circle deploy flow (#99)
  .circleci/config.yml
Due: none

Path conditions:
  languages_csharp_AppEncryption: any of: languages/csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_csharp_Logging: any of: languages/csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_csharp_SecureMemory: any of: languages/csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_java_app_encryption: any of: languages/java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_java_secure_memory: any of: languages/java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
