Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

Fix JavaDoc issues
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
Due: java_app_encryption

Add javadoc check as part of build script
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
Due: java_app_encryption

Add javadoc check as part of build script
  build/java/build.sh
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
Due: java_app_encryption

Add documentation for persistence package in cc sdk
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption/Partition.cs
  csharp/AppEncryption/AppEncryption/Persistence/AdhocPersistence.cs
  csharp/AppEncryption/AppEncryption/Persistence/AdoMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/IMetastore.cs
  csharp/AppEncryption/AppEncryption/Persistence/InMemoryMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/Persistence.cs
  docs/Metastore.md
Due: csharp_AppEncryption

Add documentation for persistence package in cc sdk
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/InMemoryMetastoreImplTest.cs
Due: csharp_AppEncryption

Minor correction
  csharp/AppEncryption/AppEncryption/Persistence/InMemoryMetastoreImpl.cs
Due: csharp_AppEncryption

Execute maven-javadoc-plugin during compile for JavaDoc validation
  build/java/build.sh
  java/app-encryption/pom.xml
Due: java_app_encryption

Remove maven-javadoc-plugin from release profile
  java/app-encryption/pom.xml
Due: java_app_encryption

Fix JavaDoc issues for AE v0.1.3 release (#269)
  java/app-encryption/pom.xml
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
Due: java_app_encryption

[go] added session cache support to perf test app
  go/appencryption/cmd/example/go.mod
  go/appencryption/cmd/example/go.sum
  go/appencryption/cmd/example/main.go
  go/appencryption/cmd/example/out.go
Due: go_appencryption

[go] session cache engine policy option
  go/appencryption/policy.go
  go/appencryption/policy_test.go
  go/appencryption/session_cache.go
  go/appencryption/session_cache_ristretto.go
  go/appencryption/session_cache_test.go
Due: go_appencryption

[go] session cache refactoring
  go/appencryption/session_cache.go
  go/appencryption/session_cache_ristretto.go
  go/appencryption/session_cache_test.go
Due: go_appencryption

[go] slow tests can now be skipped using -short
  go/appencryption/cache_test.go
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/integration_test.go
  go/appencryption/pkg/persistence/dynamodb_integration_test.go
  go/appencryption/pkg/persistence/sql_test.go
Due: go_appencryption

[go] session cache initial impl (goburrow)
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/policy.go
  go/appencryption/policy_test.go
  go/appencryption/session.go
  go/appencryption/session_cache.go
  go/appencryption/session_cache_test.go
  go/appencryption/session_test.go
Due: go_appencryption

[go] session cache alt impl (ristretto)
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/session.go
  go/appencryption/session_cache_ristretto.go
  go/appencryption/session_cache_test.go
Due: go_appencryption

Address comments for persistence and utils packages
  build/java/integration_test.sh
  build/java/test.sh
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/AdhocPersistence.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/InMemoryMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/JdbcMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/utils/Json.java
Due: java_app_encryption

[go] session cache doc updates
  README.md
  go/appencryption/README.md
  go/appencryption/cmd/example/README.md
Due: go_appencryption

Fix JavaDoc error
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/utils/Json.java
Due: java_app_encryption

version bump
  go/appencryption/.versionfile
Due: go_appencryption

removed unused return value
  go/appencryption/session_cache_test.go
Due: go_appencryption

Address review comments
  README.md
  csharp/AppEncryption/AppEncryption/Partition.cs
  csharp/AppEncryption/AppEncryption/Persistence/AdhocPersistence.cs
  csharp/AppEncryption/AppEncryption/Persistence/AdoMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/IMetastore.cs
  csharp/AppEncryption/AppEncryption/Persistence/InMemoryMetastoreImpl.cs
Due: csharp_AppEncryption

rename crypto policy options
  go/appencryption/policy.go
  go/appencryption/policy_test.go
  go/appencryption/session_cache.go
  go/appencryption/session_cache_ristretto.go
  go/appencryption/session_cache_test.go
Due: go_appencryption

[C#]Use latest version of AE
  csharp/AppEncryption/README.md
  samples/csharp/ReferenceApp/README.md
  samples/csharp/ReferenceApp/ReferenceApp/Options.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
Due: csharp_AppEncryption

Add docs for persistence package in csharp
  csharp/AppEncryption/AppEncryption/Kms/AwsKeyManagementServiceImpl.cs
  csharp/AppEncryption/AppEncryption/Kms/AwsKmsClientFactory.cs
  csharp/AppEncryption/AppEncryption/Kms/KeyManagementService.cs
  csharp/AppEncryption/AppEncryption/Kms/StaticKeyManagementServiceImpl.cs
Due: csharp_AppEncryption

Address review comments
  csharp/AppEncryption/AppEncryption/Persistence/AdoMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/InMemoryMetastoreImpl.cs
Due: csharp_AppEncryption

Address review comments
  csharp/AppEncryption/AppEncryption/Kms/AwsKeyManagementServiceImpl.cs
  csharp/AppEncryption/AppEncryption/Kms/KeyManagementService.cs
Due: csharp_AppEncryption

Address review comments
  samples/csharp/ReferenceApp/README.md
  samples/csharp/ReferenceApp/ReferenceApp/Options.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
Due: none

Cc docs (#270)
  README.md
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/InMemoryMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption/Partition.cs
  csharp/AppEncryption/AppEncryption/Persistence/AdhocPersistence.cs
  csharp/AppEncryption/AppEncryption/Persistence/AdoMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/IMetastore.cs
  csharp/AppEncryption/AppEncryption/Persistence/InMemoryMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/Persistence.cs
  docs/Metastore.md
Due: csharp_AppEncryption

[C#]Use latest version of AE (#274)
  csharp/AppEncryption/README.md
  samples/csharp/ReferenceApp/README.md
  samples/csharp/ReferenceApp/ReferenceApp/Options.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
Due: csharp_AppEncryption

update session cache code example
  go/appencryption/README.md
Due: go_appencryption

session cache test cleanup
  go/appencryption/session_cache_test.go
Due: go_appencryption

do not export session cache types
  go/appencryption/session.go
  go/appencryption/session_cache.go
  go/appencryption/session_cache_ristretto.go
  go/appencryption/session_cache_test.go
Due: go_appencryption

new test TestSessionCacheGetDoesNotUseLoaderOnHit
  go/appencryption/session_cache_test.go
Due: go_appencryption

Add docs for kms package in csharp (#275)
  csharp/AppEncryption/AppEncryption/Kms/AwsKeyManagementServiceImpl.cs
  csharp/AppEncryption/AppEncryption/Kms/AwsKmsClientFactory.cs
  csharp/AppEncryption/AppEncryption/Kms/KeyManagementService.cs
  csharp/AppEncryption/AppEncryption/Kms/StaticKeyManagementServiceImpl.cs
Due: csharp_AppEncryption

Address review comments
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKeyManagementServiceImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKmsClientFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/StaticKeyManagementServiceImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/AdhocPersistence.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
Due: java_app_encryption

Address review comments
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/KeyManagementService.java
Due: java_app_encryption

Fix JavaDoc issue
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKeyManagementServiceImpl.java
Due: java_app_encryption

Address review comments
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKmsClientFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/KeyManagementService.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/utils/Json.java
Due: java_app_encryption

Address review comments
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKeyManagementServiceImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/utils/Json.java
Due: java_app_encryption

minor refactor
  go/appencryption/session_cache.go
Due: go_appencryption

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
