Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

fix typos
  go/appencryption/pkg/cache/cache.go
Due: go_appencryption

fix typo
  go/appencryption/pkg/cache/cache.go
Due: go_appencryption

removed unused constant
  go/appencryption/pkg/cache/cache.go
Due: go_appencryption

fix: java/app-encryption/pom.xml to reduce vulnerabilities
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade com.google.guava:guava from 32.1.2-jre to 32.1.3-jre
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.micrometer:micrometer-core from 1.11.4 to 1.11.5
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.grpc:grpc-protobuf from 1.58.0 to 1.59.0
  server/java/pom.xml
Due: server-java

fix: upgrade com.google.protobuf:protobuf-java-util from 3.24.4 to 3.25.0
  server/java/pom.xml
Due: server-java

fix: upgrade com.godaddy.asherah:appencryption from 0.3.0 to 0.3.1
  server/java/pom.xml
Due: server-java

fix: upgrade org.checkerframework:checker-qual from 3.39.0 to 3.40.0
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.netty:netty-codec-http2 from 4.1.100.Final to 4.1.101.Final
  server/java/pom.xml
Due: server-java

fix: upgrade com.zaxxer:HikariCP from 5.0.1 to 5.1.0
  server/java/pom.xml
Due: server-java

fix: upgrade io.micrometer:micrometer-core from 1.11.5 to 1.12.0
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade com.google.protobuf:protobuf-java from 3.25.0 to 3.25.1
  server/java/pom.xml
Due: server-java

fix: upgrade org.apache.commons:commons-lang3 from 3.13.0 to 3.14.0
  server/java/pom.xml
Due: server-java

reduced keycache lock contention
  go/appencryption/key_cache.go
Due: go_appencryption

bump version v0.4.1
  go/appencryption/.versionfile
Due: go_appencryption

fix: upgrade software.amazon.awssdk:dynamodb from 2.21.27 to 2.21.28
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade software.amazon.awssdk:kms from 2.21.27 to 2.21.29
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.grpc:grpc-core from 1.59.0 to 1.59.1
  server/java/pom.xml
Due: server-java

fix: upgrade org.checkerframework:checker-qual from 3.40.0 to 3.41.0
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.grpc:grpc-api from 1.59.0 to 1.60.0
  server/java/pom.xml
Due: server-java

fix: upgrade net.java.dev.jna:jna from 5.13.0 to 5.14.0
  java/secure-memory/pom.xml
Due: java_secure_memory

fix: upgrade io.netty:netty-codec-http2 from 4.1.101.Final to 4.1.102.Final
  server/java/pom.xml
Due: server-java

fix: upgrade software.amazon.awssdk:dynamodb from 2.21.29 to 2.21.46
  java/app-encryption/pom.xml
Due: java_app_encryption

Replace master branch with main
  .github/actions/run-wss-scan/wss-unified-agent.config
  .github/workflows/ci.yml
  .github/workflows/sync-release.yml
  CONTRIBUTING.md
  README.md
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/Logging/Logging/Logging.csproj
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
  docs/Internals.md
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
  server/java/pom.xml
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, server-java

fix: upgrade software.amazon.awssdk:kms from 2.21.29 to 2.21.43
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.micrometer:micrometer-core from 1.12.0 to 1.12.1
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.netty:netty-handler-proxy from 4.1.101.Final to 4.1.103.Final
  server/java/pom.xml
Due: server-java

upgrade bouncycastle to latest (1.77)
  java/app-encryption/pom.xml
Due: java_app_encryption

migrating aws-v1 to /plugins dir
  go/appencryption/.gitignore
  go/appencryption/cmd/example/main.go
  go/appencryption/go.work.sum
  go/appencryption/integrationtest/integration_benchmark_test.go
  go/appencryption/integrationtest/integration_test.go
  go/appencryption/integrationtest/persistence/dynamodb_test.go
  go/appencryption/integrationtest/persistence/persistencetest/dynamodb.go
  go/appencryption/integrationtest/persistence/sql_test.go
  go/appencryption/integrationtest/traces/report.go
  go/appencryption/plugins/aws-v1/kms/aws.go
  go/appencryption/plugins/aws-v1/kms/aws_test.go
  go/appencryption/plugins/aws-v1/kms/static.go
  go/appencryption/plugins/aws-v1/kms/static_test.go
  go/appencryption/plugins/aws-v1/persistence/dynamodb.go
  go/appencryption/plugins/aws-v1/persistence/dynamodb_test.go
  go/appencryption/plugins/aws-v1/persistence/memory.go
  go/appencryption/plugins/aws-v1/persistence/memory_test.go
  go/appencryption/plugins/aws-v1/persistence/persistence.go
  go/appencryption/plugins/aws-v1/persistence/persistence_test.go
  go/appencryption/plugins/aws-v1/persistence/sql.go
  go/appencryption/plugins/aws-v1/persistence/sql_test.go
  go/appencryption/plugins/aws-v2/kms/aws.go
Due: go_appencryption

creating kms & kms_test
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/plugins/aws-v2/kms/aws.go
  go/appencryption/plugins/aws-v2/kms/aws_test.go
Due: go_appencryption

renaming aws to kms
  go/appencryption/plugins/aws-v2/kms/kms.go
  go/appencryption/plugins/aws-v2/kms/kms_test.go
Due: go_appencryption

created static module
  go/appencryption/plugins/aws-v2/kms/static.go
  go/appencryption/plugins/aws-v2/kms/static_test.go
Due: go_appencryption

updated DynamoDBMetabase to support client injection, increased test coverage
  go/appencryption/pkg/persistence/dynamodb.go
  go/appencryption/plugins/aws-v1/persistence/dynamodb.go
  go/appencryption/plugins/aws-v1/persistence/dynamodb_mockdb_test.go
  go/appencryption/plugins/aws-v1/persistence/dynamodb_test.go
Due: go_appencryption

new package: ./plugins/aws-v1
  go/appencryption/plugins/aws-v1/persistence/dynamodb.go
  go/appencryption/plugins/aws-v1/persistence/dynamodb_test.go
Due: go_appencryption

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
