Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags: csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags: csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags: csharp_SecureMemory
        target: 90%
      java-app-encryption:
        flags: java_app_encryption
        target: 90%
      java-secure-memory:
        flags: java_secure_memory
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
ignore:
  # Ignore non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  # No need for C# path since the dotnet test command handles it currently (should change if/when we do the above)
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macos path

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags:
          - csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags:
          - csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags:
          - csharp_SecureMemory
        target: 90%
      go-securememory:
        flags:
          - go_securememory
        target: 90%
      go-appencryption:
        flags:
          - go_appencryption
        target: 90%
      java-app-encryption:
        flags:
          - java_app_encryption
        target: 90%
      java-secure-memory:
        flags:
          - java_secure_memory
        target: 90%
      server-go:
        flags:
          - server_go
        target: 90%
      server-java:
        flags:
          - server_java
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  go_securememory:
    paths:
      - go/securememory
  go_appencryption:
    paths:
      - go/appencryption
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
  server-go:
    paths:
      - server/go
  server-java:
    paths:
      - server/java
ignore:
  # Non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macOS path
  - "**/SecureMemory/ProtectedMemoryImpl/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LP64/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LLP64/Windows" # C# Windows path
  - "**/SecureMemory/ProtectedMemoryImpl/Windows" # C# Windows path
  # gRPC auto-generated file
  - "**/target/generated-sources/protobuf" # Java auto-generated files
  - "**api/appencryption.pb.go" # Go auto-generated files
  # Server startup files
  - "**/com/godaddy/asherah/grpc/ServerApp.java" # Java server startup

fix: upgrade org.slf4j:slf4j-api from 2.0.7 to 2.0.9
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: java/app-encryption/pom.xml to reduce vulnerabilities
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade org.checkerframework:checker-qual from 3.37.0 to 3.38.0
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.micrometer:micrometer-core from 1.11.3 to 1.11.4
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade com.google.protobuf:protobuf-java-util from 3.24.0 to 3.24.3
  server/java/pom.xml
Due: server-java

fix: upgrade org.slf4j:slf4j-api from 2.0.7 to 2.0.9
  server/java/pom.xml
Due: server-java

fix: upgrade io.grpc:grpc-api from 1.57.2 to 1.58.0
  server/java/pom.xml
Due: server-java

fix: upgrade org.checkerframework:checker-qual from 3.38.0 to 3.39.0
  java/app-encryption/pom.xml
Due: java_app_encryption

[csharp logging] migrate to .NET 6.0
  .github/workflows/ci.yml
  csharp/Logging/Directory.Build.props
  csharp/Logging/Logging.Tests/Logging.Tests.csproj
  csharp/Logging/Logging/Logging.csproj
Due: csharp_Logging

[csharp securememory] migrate to .NET 6.0
  .github/workflows/ci.yml
  csharp/SecureMemory/Directory.Build.props
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
Due: csharp_SecureMemory

[csharp appencryption] migrate to .NET 6.0
  .github/workflows/ci.yml
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

[csharp referenceapp] migrate to .NET 6.0, update deps
  .github/workflows/ci.yml
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
Due: none

fix: upgrade com.google.protobuf:protobuf-java from 3.24.3 to 3.24.4
  server/java/pom.xml
Due: server-java

fix: upgrade info.picocli:picocli from 4.7.4 to 4.7.5
  server/java/pom.xml
Due: server-java

[java securememory] update dependencies, bump version
  java/secure-memory/pom.xml
Due: java_secure_memory

upgrade direct dependencies
  go/securememory/go.mod
  go/securememory/go.sum
Due: go_securememory

bump version to v0.1.5
  go/securememory/.versionfile
Due: go_securememory

bump version to v0.1.4
  java/secure-memory/pom.xml
Due: java_secure_memory

[java appencryption] update dependencies, bump version
  java/app-encryption/pom.xml
Due: java_app_encryption

[go appencryption] update dependencies, bump version
  go/appencryption/.versionfile
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/go.work.sum
Due: go_appencryption

[go] use builder to construct cache, implement expiry (lazy)
  go/appencryption/key_cache.go
  go/appencryption/pkg/cache/cache.go
  go/appencryption/pkg/cache/cache_test.go
  go/appencryption/pkg/cache/lfu_example_test.go
  go/appencryption/pkg/cache/lfu_test.go
  go/appencryption/pkg/cache/lru_test.go
  go/appencryption/pkg/cache/tlfu_test.go
  go/appencryption/session_cache.go
Due: go_appencryption

[go] new package: integrationtest/traces
  go/appencryption/.gitignore
  go/appencryption/integrationtest/traces/README.md
  go/appencryption/integrationtest/traces/cache2k.go
  go/appencryption/integrationtest/traces/cache2k_test.go
  go/appencryption/integrationtest/traces/combine-png.sh
  go/appencryption/integrationtest/traces/combine.sh
  go/appencryption/integrationtest/traces/data/dl-address.sh
  go/appencryption/integrationtest/traces/data/dl-cache2k.sh
  go/appencryption/integrationtest/traces/data/dl-storage.sh
  go/appencryption/integrationtest/traces/data/dl-wikipedia.sh
  go/appencryption/integrationtest/traces/data/dl-youtube.sh
  go/appencryption/integrationtest/traces/files.go
  go/appencryption/integrationtest/traces/out/report-session-cache.png
  go/appencryption/integrationtest/traces/report.go
  go/appencryption/integrationtest/traces/report.sh
  go/appencryption/integrationtest/traces/report_test.go
  go/appencryption/integrationtest/traces/storage.go
  go/appencryption/integrationtest/traces/storage_test.go
  go/appencryption/integrationtest/traces/visualize-request.sh
  go/appencryption/integrationtest/traces/visualize-size.sh
  go/appencryption/integrationtest/traces/wikipedia.go
  go/appencryption/integrationtest/traces/wikipedia_test.go
  go/appencryption/integrationtest/traces/youtube.go
  go/appencryption/integrationtest/traces/youtube_test.go
  go/appencryption/integrationtest/traces/zipf.go
  go/appencryption/integrationtest/traces/zipf_test.go
Due: go_appencryption

default session cache eviction policy to slru (as documented)
  go/appencryption/session_cache.go
  go/appencryption/session_cache_test.go
Due: go_appencryption

rename pkg/cache/internal/(LICENSE -> NOTICE)
  go/appencryption/integrationtest/traces/README.md
  go/appencryption/pkg/cache/internal/NOTICE
  go/appencryption/pkg/cache/internal/doc.go
Due: go_appencryption

rename cache* to key_cache*
  go/appencryption/key_cache.go
  go/appencryption/key_cache_benchmark_test.go
  go/appencryption/key_cache_test.go
Due: go_appencryption

fix race condition in test
  go/appencryption/pkg/cache/lfu_test.go
Due: go_appencryption

remove mango session cache implementation
  go/appencryption/session_cache.go
  go/appencryption/session_cache_test.go
  go/appencryption/session_test.go
Due: go_appencryption

[go] caching updates
  go/appencryption/envelope.go
  go/appencryption/envelope_test.go
  go/appencryption/integrationtest/traces/out/report-session-cache.png
  go/appencryption/integrationtest/traces/report.go
  go/appencryption/internal/key.go
  go/appencryption/key_cache.go
  go/appencryption/key_cache_benchmark_test.go
  go/appencryption/key_cache_test.go
  go/appencryption/parameterized_test.go
  go/appencryption/pkg/cache/cache.go
  go/appencryption/policy.go
  go/appencryption/policy_test.go
  go/appencryption/session.go
  go/appencryption/session_cache.go
  go/appencryption/session_cache_test.go
  go/appencryption/session_test.go
Due: go_appencryption

remove deprecated SessionCacheEngine option
  go/appencryption/policy.go
  go/appencryption/policy_test.go
Due: go_appencryption

[go] new package: pkg/cache
  go/appencryption/pkg/cache/cache.go
  go/appencryption/pkg/cache/cache_test.go
  go/appencryption/pkg/cache/internal/LICENSE
  go/appencryption/pkg/cache/internal/doc.go
  go/appencryption/pkg/cache/internal/filter.go
  go/appencryption/pkg/cache/internal/filter_test.go
  go/appencryption/pkg/cache/internal/hash.go
  go/appencryption/pkg/cache/internal/hash_test.go
  go/appencryption/pkg/cache/internal/sketch.go
  go/appencryption/pkg/cache/internal/sketch_test.go
  go/appencryption/pkg/cache/lfu.go
  go/appencryption/pkg/cache/lfu_example_test.go
  go/appencryption/pkg/cache/lfu_test.go
  go/appencryption/pkg/cache/lru.go
  go/appencryption/pkg/cache/lru_test.go
  go/appencryption/pkg/cache/tlfu.go
  go/appencryption/pkg/cache/tlfu_test.go
Due: go_appencryption

exclude traces from integration test runs
  build/go/integration_test.sh
Due: none

[go] add additional eviction policies to trace report
  go/appencryption/integrationtest/traces/out/report-session-cache.png
  go/appencryption/integrationtest/traces/report.go
Due: go_appencryption

go mod tidy
  go/appencryption/go.mod
  go/appencryption/go.sum
Due: go_appencryption

Add support for synchronous evictions
  go/appencryption/key_cache.go
  go/appencryption/pkg/cache/cache.go
  go/appencryption/pkg/cache/cache_test.go
Due: go_appencryption

additional debug logging
  go/appencryption/envelope.go
Due: go_appencryption

support additional cache configurations
  go/appencryption/cmd/example/main.go
  go/appencryption/go.work.sum
  go/appencryption/policy.go
  go/appencryption/policy_test.go
Due: go_appencryption

bump version
  go/appencryption/.versionfile
Due: go_appencryption
