Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

allow "*-ci.yml" workflows to run on release branch
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-securememory-ci.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-securememory-ci.yml
  .github/workflows/java-appencryption-ci.yml
  .github/workflows/java-securememory-ci.yml
Due: none

adds a "dry run" notice and early exit to each release script
  build/csharp/release_prod.sh
  build/go/release_prod.sh
  build/java/release_prod.sh
Due: none

escape special chars (ie brackets) in workflow triggers
  .github/workflows/csharp-appencryption-release.yml
  .github/workflows/csharp-logging-release.yml
  .github/workflows/csharp-securememory-release.yml
  .github/workflows/go-appencryption-release.yml
  .github/workflows/go-securememory-release.yml
  .github/workflows/java-appencryption-release.yml
  .github/workflows/java-securememory-release.yml
Due: none

download artifact via `gh` CLI
  .github/workflows/csharp-logging-release.yml
Due: none

checkout trigger branch, set working directory
  .github/workflows/csharp-logging-release.yml
Due: none

set branch and sha from workflow_run event, fix startsWith args
  .github/workflows/csharp-logging-release.yml
Due: none

bump version
  csharp/Logging/Directory.Build.props
Due: csharp_Logging

replace `workflow_run` with `workflow_call` triggers & related fixes
  .github/workflows/csharp-appencryption-release.yml
  .github/workflows/csharp-logging-release.yml
  .github/workflows/csharp-securememory-release.yml
  .github/workflows/go-appencryption-release.yml
  .github/workflows/go-securememory-release.yml
  .github/workflows/java-appencryption-release.yml
  .github/workflows/java-securememory-release.yml
Due: none

update each ci workflow to call its corresponding release workflow
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-securememory-ci.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-securememory-ci.yml
  .github/workflows/java-appencryption-ci.yml
  .github/workflows/java-securememory-ci.yml
Due: none

fix typo
  .github/workflows/java-securememory-ci.yml
Due: none

elevate permissions for release jobs
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-securememory-ci.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-securememory-ci.yml
  .github/workflows/java-appencryption-ci.yml
  .github/workflows/java-securememory-ci.yml
Due: none

remove "dry run", fix tag target
  build/csharp/release_prod.sh
  build/go/release_prod.sh
  build/java/release_prod.sh
Due: none

do not use the force option when creating tags
  build/csharp/release_prod.sh
  build/go/release_prod.sh
  build/java/release_prod.sh
Due: none

removed dead links
  java/app-encryption/README.md
Due: java_app_encryption

go mod tidy
  server/go/go.mod
Due: server-go

remove old dotnet version
  .github/workflows/cross-language-validation.yml
Due: none

bump version to 0.1.7
  csharp/Logging/Directory.Build.props
Due: csharp_Logging

pass secrets to reusable release workflows
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-securememory-ci.yml
  .github/workflows/java-appencryption-ci.yml
  .github/workflows/java-securememory-ci.yml
Due: none

remove unused inputs
  .github/workflows/go-appencryption-release.yml
  .github/workflows/go-securememory-release.yml
Due: none

fix typo
  .github/workflows/csharp-appencryption-release.yml
  .github/workflows/csharp-logging-release.yml
  .github/workflows/csharp-securememory-release.yml
  .github/workflows/go-appencryption-release.yml
  .github/workflows/go-securememory-release.yml
  .github/workflows/java-appencryption-release.yml
  .github/workflows/java-securememory-release.yml
Due: none

fix paths
  .github/workflows/java-appencryption-ci.yml
  .github/workflows/java-appencryption-release.yml
  .github/workflows/java-securememory-release.yml
Due: none

bump version to 0.2.6
  csharp/SecureMemory/Directory.Build.props
Due: csharp_SecureMemory

upgrade Logging and SecureMemory to latest
  csharp/AppEncryption/Crypto/Crypto.csproj
Due: csharp_AppEncryption

bump version to 0.2.12
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Support custom AWS credentials for C# client
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/DynamoDbGlobalTableTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDBContainerFixture.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/MySqlContainerFixture.cs
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/AppEncryption/Kms/AwsKeyManagementServiceImpl.cs
  csharp/AppEncryption/AppEncryption/Kms/AwsKmsClientFactory.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Fix tests
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDBContainerFixture.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/MySqlContainerFixture.cs
Due: csharp_AppEncryption

Update readme
  csharp/AppEncryption/README.md
Due: csharp_AppEncryption

type
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
Due: csharp_AppEncryption

Remove \r
  csharp/AppEncryption/AppEncryption/Kms/AwsKeyManagementServiceImpl.cs
  csharp/AppEncryption/AppEncryption/Kms/AwsKmsClientFactory.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
Due: csharp_AppEncryption

add pull_request triggers to all ci workflows
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-securememory-ci.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-securememory-ci.yml
  .github/workflows/java-appencryption-ci.yml
  .github/workflows/java-securememory-ci.yml
Due: none

fix tests - use same aws credentials
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDBContainerFixture.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
Due: csharp_AppEncryption

Support custom AWS credentials for C# client
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/DynamoDbGlobalTableTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDBContainerFixture.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/MySqlContainerFixture.cs
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/AppEncryption/Kms/AwsKeyManagementServiceImpl.cs
  csharp/AppEncryption/AppEncryption/Kms/AwsKmsClientFactory.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/Directory.Build.props
  csharp/AppEncryption/README.md
Due: csharp_AppEncryption

Upgrade targets for test projects to net8.0
  .github/workflows/ci.yml
  .github/workflows/cross-language-validation.yml
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-appencryption-integration.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-pr.yml
  .github/workflows/csharp-securememory-ci.yml
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/Logging/Logging.Tests/Logging.Tests.csproj
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
  tests/cross-language/csharp/Cltf.csproj
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

Test with build
  build/csharp/test.sh
  csharp/AppEncryption/scripts/test.sh
Due: csharp_AppEncryption

Back to dotnet6.0
  .github/workflows/ci.yml
  .github/workflows/cross-language-validation.yml
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-appencryption-integration.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-pr.yml
  .github/workflows/csharp-securememory-ci.yml
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/Logging/Logging.Tests/Logging.Tests.csproj
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
  tests/cross-language/csharp/Cltf.csproj
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

Fix nuget cache
  .github/workflows/csharp-appencryption-ci.yml
  build/csharp/test.sh
Due: none

Fix nuget cache for appencryption workflow
  .github/workflows/csharp-appencryption-ci.yml
Due: none

Fix exception handling in SecureMemory
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryAllocationFailedException.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryException.cs
Due: csharp_SecureMemory

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
