Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

Remove debug code
  csharp/AppEncryption/AppEncryption/Util/Json.cs
Due: csharp_AppEncryption

pre-commit run -a
  csharp/AppEncryption/Directory.Build.props
  docs/SystemRequirements.md
Due: csharp_AppEncryption

Add unit test
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Util/JsonTest.cs
Due: csharp_AppEncryption

Add documentation for public methods. Phase 1
  csharp/AppEncryption/Crypto/BufferUtils/ManagedBufferUtils.cs
  csharp/AppEncryption/Crypto/Engine/BouncyCastle/BouncyAeadCrypto.cs
  csharp/AppEncryption/Crypto/Engine/BouncyCastle/BouncyAes256GcmCrypto.cs
  csharp/AppEncryption/Crypto/Envelope/AeadEnvelopeCrypto.cs
  csharp/AppEncryption/Crypto/Exceptions/CipherNotSupportedException.cs
  csharp/AppEncryption/Crypto/ExtensionMethods/DateTimeOffsetExtensions.cs
Due: csharp_AppEncryption

Add documentation for Crypto public methods
  csharp/AppEncryption/Crypto/AeadCrypto.cs
  csharp/AppEncryption/Crypto/BasicExpiringCryptoPolicy.cs
  csharp/AppEncryption/Crypto/CryptoPolicy.cs
  csharp/AppEncryption/Crypto/Keys/CryptoKey.cs
  csharp/AppEncryption/Crypto/Keys/SecretCryptoKey.cs
  csharp/AppEncryption/Crypto/Keys/SecureCryptoKeyDictionary.cs
  csharp/AppEncryption/Crypto/Keys/SharedCryptoKey.cs
  csharp/AppEncryption/Crypto/NeverExpiredCryptoPolicy.cs
  csharp/AppEncryption/Crypto/NonceGenerator.cs
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

New sample application and docs for AWS Lambda
  .tartufo-excludes
  README.md
  docs/SystemRequirements.md
  samples/README.md
  samples/go/aws/lambda/1-create-bucket.sh
  samples/go/aws/lambda/2-deploy.sh
  samples/go/aws/lambda/3-invoke.sh
  samples/go/aws/lambda/README.md
  samples/go/aws/lambda/function/go.mod
  samples/go/aws/lambda/function/go.sum
  samples/go/aws/lambda/function/main.go
  samples/go/aws/lambda/template.yml
Due: none

[Java] upgrade bouncycastle to 1.67
  java/app-encryption/pom.xml
Due: java_app_encryption

Documented permissions requirements for AWS KMS and DynamoDB
  docs/KeyManagementService.md
  docs/Metastore.md
  samples/go/aws/lambda/README.md
Due: none

update instructions to set cli_binary_format via config file
  samples/go/aws/lambda/README.md
Due: none

ensure `out` directory exists
  samples/go/aws/lambda/1-create-bucket.sh
Due: none

add step for updating template.yml
  samples/go/aws/lambda/README.md
  samples/go/aws/lambda/template.yml
Due: none

cleanup example command output
  docs/KeyManagementService.md
Due: none

[go] implement store/load persistence model
  go/appencryption/appencryption.go
  go/appencryption/pkg/persistence/persistence.go
  go/appencryption/pkg/persistence/persistence_test.go
  go/appencryption/session.go
  go/appencryption/session_test.go
Due: go_appencryption

doc updates for go store/load feature
  README.md
  go/appencryption/README.md
Due: go_appencryption

bump version
  go/appencryption/.versionfile
Due: go_appencryption

[go] removed context-less session Encrypt/Decrypt methods
  .tartufo-excludes
  go/appencryption/cmd/example/main.go
  go/appencryption/integration_benchmark_test.go
  go/appencryption/integration_test.go
  go/appencryption/parameterized_test.go
  go/appencryption/session.go
  go/appencryption/session_test.go
  tests/cross-language/go/decrypt_test.go
  tests/cross-language/go/encrypt_test.go
Due: go_appencryption

session store/load updates
  go/appencryption/README.md
  go/appencryption/appencryption.go
  go/appencryption/go.mod
  go/appencryption/pkg/persistence/persistence.go
  go/appencryption/pkg/persistence/persistence_test.go
  go/appencryption/session.go
  go/appencryption/session_test.go
Due: go_appencryption

lint cleanup
  go/appencryption/pkg/persistence/persistence_test.go
Due: go_appencryption

referenceapp updates for go/appencryption v0.1.6
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
  samples/go/referenceapp/main.go
Due: none

Update AWS Lambda sample for go/appencryption v0.1.6
  samples/go/aws/lambda/README.md
  samples/go/aws/lambda/function/go.mod
  samples/go/aws/lambda/function/go.sum
  samples/go/aws/lambda/function/main.go
Due: none

asherah server updates for go/appencryption v0.1.6
  server/go/go.mod
  server/go/go.sum
  server/go/pkg/server/server.go
  server/go/pkg/server/server_test.go
Due: server-go

Update tartufo to v2.3.0
  .pre-commit-config.yaml
  .tartufo-excludes
  tartufo.toml
Due: none

Update tartufo.toml
  tartufo.toml
Due: none

[wip] initial resources for c# ecs example
  samples/csharp/ReferenceApp/ReferenceApp/Options.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
  samples/csharp/ReferenceApp/entrypoint.sh
  samples/csharp/aws/ecs/Dockerfile
  samples/csharp/aws/ecs/docker-compose-ecs.yaml
  samples/csharp/aws/ecs/ecs-params.yaml
Due: none

Update wss-unified-agent.config
  .circleci/wss-unified-agent.config
Due: none

Update config.yml
  .circleci/config.yml
Due: none

ASP.NET Core sample app and tutorial for ECS
  samples/csharp/aws/ecs/Dockerfile
  samples/csharp/aws/ecs/README.md
  samples/csharp/aws/ecs/docker-compose-ecs.yaml
  samples/csharp/aws/ecs/docker-compose.aws.yml
  samples/csharp/aws/ecs/docker-compose.yml
  samples/csharp/aws/ecs/ecs-params.yml
  samples/csharp/aws/ecs/myapp/.dockerignore
  samples/csharp/aws/ecs/myapp/.gitignore
  samples/csharp/aws/ecs/myapp/Controllers/CustomerController.cs
  samples/csharp/aws/ecs/myapp/Dockerfile
  samples/csharp/aws/ecs/myapp/Models/Customer.cs
  samples/csharp/aws/ecs/myapp/Program.cs
  samples/csharp/aws/ecs/myapp/Properties/launchSettings.json
  samples/csharp/aws/ecs/myapp/Startup.cs
  samples/csharp/aws/ecs/myapp/appsettings.Development.json
  samples/csharp/aws/ecs/myapp/appsettings.json
  samples/csharp/aws/ecs/myapp/entrypoint.sh
  samples/csharp/aws/ecs/myapp/myapp.csproj
  tartufo.toml
Due: none

revert referenceapp changes
  samples/csharp/ReferenceApp/ReferenceApp/Options.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
Due: none

readme - final touch ups
  samples/csharp/aws/ecs/README.md
Due: none

added link to ECS example
  samples/README.md
Due: none

Convert WS scan workflow to GitHub Actions
  .circleci/config.yml
  .github/actions/run-wss-scan.yml
  .github/actions/setup-wss-env.yml
  .github/actions/wss-unified-agent.config
  .github/workflows/run-wss-scans.yml
Due: none

typo fix
  samples/csharp/aws/ecs/README.md
Due: none

minor text updates
  .github/actions/run-wss-scan.yml
  .github/workflows/run-wss-scans.yml
Due: none

default inputs.ref to empty string
  .github/workflows/run-wss-scans.yml
Due: none

move each action to its own dir
  .github/actions/run-wss-scan/action.yml
  .github/actions/setup-wss-env/action.yml
Due: none

install packages with sudo
  .github/actions/setup-wss-env/action.yml
Due: none

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
