Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

Return error response for unknown gRPC request types
  server/go/pkg/server/server.go
Due: server-go

Propagate caller context through intermediateKeyFromEKR chain
  go/appencryption/envelope.go
Due: go_appencryption

Fix cache Delete to invoke eviction callback
  go/appencryption/pkg/cache/cache.go
Due: go_appencryption

Wipe plaintext KEK after KMS DecryptKey to prevent key material leak
  go/appencryption/plugins/aws-v2/kms/kms.go
Due: go_appencryption

Fix memory leak in tinyLFU keys map
  go/appencryption/pkg/cache/tlfu.go
Due: go_appencryption

Fix protectedmemory close() to always mark secret as closed
  go/securememory/protectedmemory/secret.go
Due: go_securememory

Fix nil pointer panic in tinyLFU bypassed mode
  go/appencryption/pkg/cache/tlfu.go
Due: go_appencryption

Fix key material leak when replacing invalid cache entries
  go/appencryption/key_cache.go
Due: go_appencryption

Restore accessCounter on Protect(NoAccess) failure in release()
  go/securememory/memguard/secret.go
  go/securememory/memguard/secret_test.go
  go/securememory/protectedmemory/secret.go
  go/securememory/protectedmemory/secret_test.go
Due: go_securememory

Add delimiter to cacheKey to prevent ambiguous key collisions
  go/appencryption/key_cache.go
Due: go_appencryption

Add capacity validation to cache Build to prevent zero-capacity panic
  go/appencryption/pkg/cache/cache.go
Due: go_appencryption

Fix hashString to iterate over bytes instead of runes
  go/appencryption/pkg/cache/internal/hash.go
Due: go_appencryption

Clean up stale Unix domain socket before listening
  server/go/main.go
Due: server-go

Add gRPC server resource limits
  server/go/main.go
Due: server-go

Improve KMS encrypt error log for multi-region failures
  go/appencryption/plugins/aws-v2/kms/kms.go
Due: go_appencryption

Log metastore errors in tryStore instead of silently discarding
  go/appencryption/envelope.go
Due: go_appencryption

Collect and return errors from SessionFactory.Close
  go/appencryption/session.go
Due: go_appencryption

Add graceful shutdown timeout to gRPC server
  server/go/main.go
Due: server-go

Add input validation for partition ID on gRPC GetSession endpoint
  server/go/pkg/server/server.go
Due: server-go

Add runtime finalizer to memguard secret to prevent memory leaks
  go/securememory/memguard/secret.go
Due: go_securememory

Clear keyCache.latest map on Close to prevent unbounded growth
  go/appencryption/key_cache.go
Due: go_appencryption

Fix data race in database connection singleton
  server/go/pkg/server/database.go
  server/go/pkg/server/database_test.go
Due: server-go

Add mutex to secrets.Reader to prevent data race on internal position
  go/securememory/internal/secrets/reader.go
Due: go_securememory

Prevent internal error details from leaking to gRPC clients
  server/go/pkg/server/server.go
  server/go/pkg/server/server_test.go
Due: server-go

Fix overly permissive suffixedPartition.IsValidIntermediateKeyID
  go/appencryption/partition.go
  go/appencryption/partition_test.go
Due: go_appencryption

Fix 'godladdy' typo in deprecation notices
  go/appencryption/pkg/persistence/dynamodb.go
  go/appencryption/plugins/aws-v1/kms/aws.go
  go/appencryption/plugins/aws-v1/persistence/dynamodb.go
Due: go_appencryption

Recover from panic in memguard Close() when Destroy() fails
  go/securememory/memguard/secret.go
Due: go_securememory

Add large payload encrypt/decrypt benchmarks
  go/appencryption/integrationtest/integration_benchmark_test.go
Due: go_appencryption

Add large payload encryption test tool for Go SDK
  samples/go/largepayload/Dockerfile
  samples/go/largepayload/README.md
  samples/go/largepayload/go.mod
  samples/go/largepayload/go.sum
  samples/go/largepayload/main.go
Due: none

go work sync
  go/appencryption/cmd/example/go.mod
  go/appencryption/cmd/example/go.sum
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/go.work.sum
  go/appencryption/integrationtest/go.mod
  go/appencryption/integrationtest/go.sum
Due: go_appencryption

update nuget packages
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.PlugIns.Aws/AppEncryption.PlugIns.Aws.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
Due: csharp_AppEncryption

C# AppEncryption: new metastore, Core session factory, Static KMS in PlugIns.Testing
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/Core/EncryptionSessionTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/MetastoreMock.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Utils/CoreSessionFactoryGenerator.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Utils/SessionFactoryGenerator.cs
  csharp/AppEncryption/AppEncryption.PlugIns.Testing/AppEncryption.PlugIns.Testing.csproj
  csharp/AppEncryption/AppEncryption.PlugIns.Testing/Kms/StaticKeyManagementService.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Core/CachedEncryptionSessionTests.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Core/SessionFactoryBuilderTests.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Core/SessionFactoryTests.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionTests.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/TestHelpers/Dummy/DummyKeyManagementService.cs
  csharp/AppEncryption/AppEncryption/Kms/StaticKeyManagementServiceImpl.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/README.md
  tartufo.toml
Due: csharp_AppEncryption

Add Regression/Metastore integration tests: DynamoDbGlobalTableTest (plugins) and MetastoreCompatibilityTest (legacy/core cross-decrypt)
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/Metastore/DynamoDbGlobalTableTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/Metastore/MetastoreCompatibilityTest.cs
  tartufo.toml
Due: csharp_AppEncryption

docs: add SessionFactory upgrade guide and KeyMetastore section to plugins guide
  csharp/AppEncryption/docs/plugins-upgrade-guide.md
  csharp/AppEncryption/docs/sessionfactory-upgrade-guide.md
Due: csharp_AppEncryption

go work use (switch to go 1.25)
  go/appencryption/go.work
Due: go_appencryption

Restrict Dependabot to security updates only
  .github/dependabot.yml
Due: none

Add regression test for cross-region IK cache pollution bug
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
Due: java_app_encryption

Fix cross-region intermediate key cache pollution in multi-region setups
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
Due: java_app_encryption

Bump Java AppEncryption version to 0.4.0
  java/app-encryption/pom.xml
Due: java_app_encryption

Add regression test for cross-region IK cache pollution bug (C#)
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
Due: csharp_AppEncryption

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
