Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags: csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags: csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags: csharp_SecureMemory
        target: 90%
      java-app-encryption:
        flags: java_app_encryption
        target: 90%
      java-secure-memory:
        flags: java_secure_memory
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
ignore:
  # Ignore non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  # No need for C# path since the dotnet test command handles it currently (should change if/when we do the above)
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macos path

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags:
          - csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags:
          - csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags:
          - csharp_SecureMemory
        target: 90%
      go-securememory:
        flags:
          - go_securememory
        target: 90%
      go-appencryption:
        flags:
          - go_appencryption
        target: 90%
      java-app-encryption:
        flags:
          - java_app_encryption
        target: 90%
      java-secure-memory:
        flags:
          - java_secure_memory
        target: 90%
      server-go:
        flags:
          - server_go
        target: 90%
      server-java:
        flags:
          - server_java
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  go_securememory:
    paths:
      - go/securememory
  go_appencryption:
    paths:
      - go/appencryption
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
  server-go:
    paths:
      - server/go
  server-java:
    paths:
      - server/java
ignore:
  # Non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macOS path
  - "**/SecureMemory/ProtectedMemoryImpl/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LP64/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LLP64/Windows" # C# Windows path
  - "**/SecureMemory/ProtectedMemoryImpl/Windows" # C# Windows path
  # gRPC auto-generated file
  - "**/target/generated-sources/protobuf" # Java auto-generated files
  - "**api/appencryption.pb.go" # Go auto-generated files
  # Server startup files
  - "**/com/godaddy/asherah/grpc/ServerApp.java" # Java server startup

Fix cross-region intermediate key cache pollution in multi-region setups (C#)
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
Due: csharp_AppEncryption

Bump C# AppEncryption version to 0.11.0
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Make secure-memory FFM allocator GraalVM native-image-ready
  java/secure-memory/.tool-versions
  java/secure-memory/NATIVE_IMAGE_GUIDE.md
  java/secure-memory/pom.xml
  java/secure-memory/src/main/java/com/godaddy/asherah/securememory/TransientSecretFactory.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/FfmProtectedMemoryAllocator.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/FfmProtectedMemorySecret.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/FfmSecretFactory.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/LinuxFfmProtectedMemoryAllocator.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/MacOSFfmProtectedMemoryAllocator.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/NativeLibc.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/Platform.java
  samples/java/native-app/pom.xml
  samples/java/native-app/src/main/resources/META-INF/native-image/com.godaddy.asherah/native-app/reachability-metadata.json
Due: java_secure_memory

Remove unused CI, draft-release, and sync-release workflows
  .github/workflows/ci.yml
  .github/workflows/draft-release.yml
  .github/workflows/sync-release.yml
Due: none

Bump actions/checkout to v6.0.2
  .github/workflows/cross-language-validation.yml
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-appencryption-integration.yml
  .github/workflows/csharp-appencryption-release.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-logging-release.yml
  .github/workflows/csharp-pr.yml
  .github/workflows/csharp-securememory-ci.yml
  .github/workflows/csharp-securememory-release.yml
  .github/workflows/go-appencryption-bench.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-appencryption-integration.yml
  .github/workflows/go-appencryption-release.yml
  .github/workflows/go-pr.yml
  .github/workflows/go-securememory-bench.yml
  .github/workflows/go-securememory-ci.yml
  .github/workflows/go-securememory-release.yml
  .github/workflows/java-appencryption-ci.yml
  .github/workflows/java-appencryption-integration.yml
  .github/workflows/java-appencryption-release.yml
  .github/workflows/java-pr.yml
  .github/workflows/java-securememory-ci.yml
  .github/workflows/java-securememory-release.yml
Due: none

Bump actions/setup-java to v5.2.0
  .github/workflows/cross-language-validation.yml
  .github/workflows/java-appencryption-ci.yml
  .github/workflows/java-appencryption-integration.yml
  .github/workflows/java-appencryption-release.yml
  .github/workflows/java-pr.yml
  .github/workflows/java-securememory-ci.yml
  .github/workflows/java-securememory-release.yml
Due: none

Bump actions/cache to v5.0.5
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-appencryption-integration.yml
  .github/workflows/csharp-appencryption-release.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-logging-release.yml
  .github/workflows/csharp-pr.yml
  .github/workflows/csharp-securememory-ci.yml
  .github/workflows/csharp-securememory-release.yml
Due: none

Bump actions/upload-artifact to v7.0.1
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-securememory-ci.yml
Due: none

Bump actions/download-artifact to v8.0.1
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-appencryption-release.yml
  .github/workflows/csharp-logging-release.yml
  .github/workflows/csharp-securememory-ci.yml
  .github/workflows/csharp-securememory-release.yml
Due: none

Bump actions/setup-dotnet from v4.0.1 to v5.2.0
  .github/workflows/cross-language-validation.yml
  .github/workflows/csharp-appencryption-release.yml
  .github/workflows/csharp-logging-release.yml
  .github/workflows/csharp-securememory-release.yml
Due: none

Bump actions/setup-node from v4.0.3 to v6.4.0
  .github/workflows/cross-language-validation.yml
Due: none

Bump actions/setup-python from v5.6.0 to v6.2.0
  .github/workflows/cross-language-validation.yml
Due: none

Centralize NuGet trusted publishing
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-appencryption-release.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-logging-release.yml
  .github/workflows/csharp-securememory-ci.yml
  .github/workflows/csharp-securememory-release.yml
  .github/workflows/nuget-release.yml
  build/csharp/release_prod.sh
  csharp/AppEncryption/scripts/release_prod.sh
  csharp/Logging/scripts/release_prod.sh
  csharp/SecureMemory/scripts/release_prod.sh
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

Address NuGet release workflow review
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-release.yml
  .github/workflows/csharp-securememory-ci.yml
Due: none

Bump golangci-lint to v2.13.1 for Go 1.27 support
  .github/workflows/cross-language-validation.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-pr.yml
  .github/workflows/go-securememory-ci.yml
  CLAUDE.md
  go/appencryption/.golangci.yml
  go/appencryption/pkg/cache/internal/hash.go
Due: go_appencryption
