Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags: csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags: csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags: csharp_SecureMemory
        target: 90%
      java-app-encryption:
        flags: java_app_encryption
        target: 90%
      java-secure-memory:
        flags: java_secure_memory
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
ignore:
  # Ignore non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  # No need for C# path since the dotnet test command handles it currently (should change if/when we do the above)
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macos path

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags:
          - csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags:
          - csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags:
          - csharp_SecureMemory
        target: 90%
      go-securememory:
        flags:
          - go_securememory
        target: 90%
      go-appencryption:
        flags:
          - go_appencryption
        target: 90%
      java-app-encryption:
        flags:
          - java_app_encryption
        target: 90%
      java-secure-memory:
        flags:
          - java_secure_memory
        target: 90%
      server-go:
        flags:
          - server_go
        target: 90%
      server-java:
        flags:
          - server_java
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  go_securememory:
    paths:
      - go/securememory
  go_appencryption:
    paths:
      - go/appencryption
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
  server-go:
    paths:
      - server/go
  server-java:
    paths:
      - server/java
ignore:
  # Non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macOS path
  - "**/SecureMemory/ProtectedMemoryImpl/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LP64/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LLP64/Windows" # C# Windows path
  - "**/SecureMemory/ProtectedMemoryImpl/Windows" # C# Windows path
  # gRPC auto-generated file
  - "**/target/generated-sources/protobuf" # Java auto-generated files
  - "**api/appencryption.pb.go" # Go auto-generated files
  # Server startup files
  - "**/com/godaddy/asherah/grpc/ServerApp.java" # Java server startup

removed stylecop custom rules
  csharp/SecureMemory/StyleCopCustom.ruleset
Due: csharp_SecureMemory

upgrated to xunit.v3
  .editorconfig
  csharp/SecureMemory/SecureMemory.Tests/Libc/LibcMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/ResourceLimitTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemoryTests.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Libc/LibcSecureMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Libc/ResourceLimitTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Linux/LinuxProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemorySecretTest.cs
Due: csharp_SecureMemory

Analyzers updated for AppEncryption and some fixes based on new analysis
  tartufo.toml
Due: none

Update FAQ with integration guidance for ProductID and ServiceName
  docs/FAQ.md
Due: none

revert SecureMemory back to xunit 2
  csharp/SecureMemory/SecureMemory.Tests/Libc/LibcMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/ResourceLimitTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemoryTests.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Libc/LibcSecureMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Libc/ResourceLimitTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Linux/LinuxProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemorySecretTest.cs
Due: csharp_SecureMemory

back to xunit2 tests
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDBContainerFixture.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/MySqlContainerFixture.cs
Due: csharp_AppEncryption

fix some tests
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemoryTests.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Linux/LinuxProtectedMemoryAllocatorTest.cs
Due: csharp_SecureMemory

removed unused usings
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/CacheMock.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/CryptoKeyHolder.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/MetastoreMock.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
  csharp/AppEncryption/AppEncryption/Kms/AwsKeyManagementServiceImpl.cs
Due: csharp_AppEncryption

eof-fixer-back
  .pre-commit-config.yaml
Due: none

more detailed csharp message
  csharp/pre-commit-dotnet-format.sh
Due: none

set -e on dotnet format script
  csharp/pre-commit-dotnet-format.sh
Due: none

fixed it maybe?
  csharp/pre-commit-dotnet-format.sh
Due: none

Fixes for the PR
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/TestHelpers/Dummy/DummyKeyManagementService.cs
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionBytesImpl.cs
  csharp/AppEncryption/AppEncryption/Kms/StaticKeyManagementServiceImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/InMemoryMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/SessionBytesImpl.cs
  csharp/AppEncryption/Crypto/AeadCrypto.cs
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Crypto/Keys/SecureCryptoKeyDictionary.cs
  csharp/AppEncryption/Crypto/Keys/SharedCryptoKey.cs
  csharp/SecureMemory/SecureMemory.Tests/CheckTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Libc/LibcSecureMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/Check.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemory.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/Libc/LibcSecureMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/Linux/LinuxSecureMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/TransientSecretFactory.cs
Due: csharp_AppEncryption, csharp_SecureMemory

Fixes for the PR
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemoryTests.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Linux/LinuxProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/TransientSecretFactory.cs
Due: csharp_SecureMemory

fixed renamed method in debug message
  csharp/SecureMemory/SecureMemory/Check.cs
Due: csharp_SecureMemory

bump version to 0.3.0
  csharp/Logging/Directory.Build.props
Due: csharp_Logging

bump version to 0.4.0
  csharp/SecureMemory/Directory.Build.props
Due: csharp_SecureMemory

upgrade logging and securememory to latest
  csharp/AppEncryption/Crypto/Crypto.csproj
Due: csharp_AppEncryption

bump version to 0.6.0
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

bump version to 0.1.6
  java/secure-memory/pom.xml
Due: java_secure_memory

Removed logging reference from Crypto
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Crypto/Engine/BouncyCastle/BouncyAeadCrypto.cs
Due: csharp_AppEncryption

Removed LogManager from SessionFactory
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: csharp_AppEncryption

add tests using WithLogger
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
Due: csharp_AppEncryption

removed LogManager from AwsKeyManagementServiceImpl
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
  csharp/AppEncryption/AppEncryption/Kms/AwsKeyManagementServiceImpl.cs
Due: csharp_AppEncryption

removed LogManager from DynamoDbMetastoreImpl
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
Due: csharp_AppEncryption

removed LogManager from AdoMetastoreImpl
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption/Kms/AwsKeyManagementServiceImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/AdoMetastoreImpl.cs
Due: csharp_AppEncryption

removed LogManager from SessionBytesImpl
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionBytesImplTest.cs
  csharp/AppEncryption/AppEncryption/SessionBytesImpl.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: csharp_AppEncryption

removed LogManager from SessionJsonImpl
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionJsonImplTest.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/AppEncryption/SessionJsonImpl.cs
Due: csharp_AppEncryption

removed LogManager from EnvelopEncryptionBytesImpl
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionBytesImplTest.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionBytesImpl.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: csharp_AppEncryption

removed LogManager from EnvelopEncryptionJsonImpl
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: csharp_AppEncryption

fix: use Go's built-in clear() for secure memory wiping
  go/appencryption/internal/bytes.go
Due: go_appencryption

fix: ensure key material is cleared in error paths
  go/appencryption/envelope.go
  go/appencryption/plugins/aws-v1/kms/aws.go
  go/appencryption/plugins/aws-v2/kms/kms.go
Due: go_appencryption

fix: default to bounded LRU cache instead of unbounded simple cache
  go/appencryption/policy.go
  go/appencryption/policy_test.go
Due: go_appencryption

fix: resolve race condition in reference counting logging
  go/appencryption/key_cache.go
  go/appencryption/key_cache_race_test.go
  go/appencryption/key_cache_safety_test.go
Due: go_appencryption

feat: add eviction failure detection and warnings
  go/appencryption/go.work
  go/appencryption/go.work.sum
  go/appencryption/key_cache.go
  go/appencryption/key_cache_safety_test.go
Due: go_appencryption

fix: prevent memory leak from orphaned keys during cache eviction
  go/appencryption/REMEDIATION.md
  go/appencryption/key_cache.go
Due: go_appencryption

refactor: remove hot-path cleanup to avoid variable latency
  go/appencryption/key_cache.go
Due: go_appencryption
