Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: languages_csharp_AppEncryption, languages_csharp_Logging, languages_csharp_SecureMemory, languages_java_app_encryption, languages_java_secure_memory

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      #languages-csharp-AppEncryption:
      #  flags: languages_csharp_AppEncryption
      #  target: 90%
      #languages-csharp-Logging:
      #  flags: languages_csharp_Logging
      #  target: 90%
      #languages-csharp-SecureMemory:
      #  flags: languages_csharp_SecureMemory
      #  target: 90%
      languages-java-app-encryption:
        flags: languages_java_app_encryption
        target: 90%
      languages-java-secure-memory:
        flags: languages_java_secure_memory
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  languages_csharp_AppEncryption:
    paths:
      - languages/csharp/AppEncryption
  languages_csharp_Logging:
    paths:
      - languages/csharp/Logging
  languages_csharp_SecureMemory:
    paths:
      - languages/csharp/SecureMemory
  languages_java_app_encryption:
    paths:
      - languages/java/app-encryption
  languages_java_secure_memory:
    paths:
      - languages/java/secure-memory
ignore:
  # Ignore non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  # No need for C# path since the dotnet test command handles it currently (should change if/when we do the above)
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macos path

WIP : Use remote docker
  .circleci/config.yml
Due: none

WIP : Try to install docker and setup remote docker
  .circleci/config.yml
Due: none

WIP : Fix bash command
  .circleci/config.yml
Due: none

Update project description
  languages/java/app-encryption/pom.xml
  languages/java/secure-memory/pom.xml
Due: languages_java_app_encryption, languages_java_secure_memory

Update description
  languages/java/app-encryption/pom.xml
Due: languages_java_app_encryption

Fix spacing
  languages/java/secure-memory/pom.xml
Due: languages_java_secure_memory

Use 2 space indents for XML files
  languages/java/app-encryption/pom.xml
  languages/java/secure-memory/pom.xml
  languages/java/settings.xml
Due: languages_java_app_encryption, languages_java_secure_memory

Use 2 space indents for XML files
  samples/java/reference-app/pom.xml
  tests/java/test-app/pom.xml
Due: none

aesthetic change in ci diff dep order
  .circleci/calculate_dependencies.py
Due: none

Only build diffs and their dependencies in CircleCI (#94)
  .circleci/calculate_dependencies.py
  .circleci/compare-url-reconstruct-patch.sh
  .circleci/config.yml
  languages/csharp/Logging/README.md
  languages/java/secure-memory/README.md
Due: languages_csharp_Logging, languages_java_secure_memory

WIP : Fix yaml
  .circleci/config.yml
Due: none

WIP : Build all csharp projects
  .circleci/config.yml
Due: none

POM file updates for CD (#95)
  languages/java/app-encryption/pom.xml
  languages/java/secure-memory/pom.xml
  languages/java/settings.xml
  samples/java/reference-app/pom.xml
  tests/java/test-app/pom.xml
Due: languages_java_app_encryption, languages_java_secure_memory

disabling testcontainer-based unit tests
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastorePersistenceImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastorePersistenceImplTest.cs
Due: languages_csharp_AppEncryption

WIP : Try to build csharp reference app
  .circleci/config.yml
Due: none

temporarily reduce code cov requirements
  .codecov.yml
Due: none

disabling testcontainer-based unit tests
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastorePersistenceImplTest.java
Due: languages_java_app_encryption

Use wild card for Asherah version number Un comment proceed_or_skip_job
  .circleci/config.yml
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
Due: none

removing ci diff functionality :(
  .circleci/calculate_dependencies.py
  .circleci/compare-url-reconstruct-patch.sh
  .circleci/config.yml
Due: none

removing ci diff functionality :( (#96)
  .circleci/calculate_dependencies.py
  .circleci/compare-url-reconstruct-patch.sh
  .circleci/config.yml
Due: none

Trigerring all csharp builds Added install local scripts Minor refactor of configuration yaml
  .circleci/config.yml
  languages/csharp/AppEncryption/scripts/install_local.sh
  languages/csharp/Logging/scripts/install_local.sh
  languages/csharp/SecureMemory/scripts/install_local.sh
Due: languages_csharp_AppEncryption, languages_csharp_Logging, languages_csharp_SecureMemory

Fix yaml
  .circleci/config.yml
Due: none

Fix script location
  .circleci/config.yml
Due: none

Test local install for Java SM
  .circleci/config.yml
  languages/java/secure-memory/scripts/install_local.sh
Due: languages_java_secure_memory

Test local install for Java SM
  .circleci/config.yml
Due: none

Use config from master
  .circleci/config.yml
Due: none

Add install local step
  .circleci/config.yml
Due: none

Add debug code
  .circleci/config.yml
Due: none

No longer hacky way needed
  .circleci/config.yml
  samples/csharp/ReferenceApp/scripts/clean.sh
Due: none

Persist workspace in SM and build app-encryption
  .circleci/config.yml
Due: none

Use /home/circleci as root path
  .circleci/config.yml
Due: none

Attach workspace to all java projects
  .circleci/config.yml
Due: none

Use correct path in app-encryption local installation
  .circleci/config.yml
Due: none

Add script
  languages/java/app-encryption/scripts/install_local.sh
Due: languages_java_app_encryption

Test with updated script
  samples/java/reference-app/scripts/build.sh
Due: none

Use mvn compile instead of package
  tests/java/test-app/scripts/build.sh
Due: none

Surefre workaround and disable docker for test-app
  samples/java/reference-app/pom.xml
  samples/java/reference-app/scripts/build.sh
  tests/java/test-app/pom.xml
  tests/java/test-app/scripts/build.sh
Due: none

Disable docker builds for test-app
  tests/java/test-app/pom.xml
Due: none
