Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags: csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags: csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags: csharp_SecureMemory
        target: 90%
      java-app-encryption:
        flags: java_app_encryption
        target: 90%
      java-secure-memory:
        flags: java_secure_memory
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
ignore:
  # Ignore non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  # No need for C# path since the dotnet test command handles it currently (should change if/when we do the above)
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macos path

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags:
          - csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags:
          - csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags:
          - csharp_SecureMemory
        target: 90%
      go-securememory:
        flags:
          - go_securememory
        target: 90%
      go-appencryption:
        flags:
          - go_appencryption
        target: 90%
      java-app-encryption:
        flags:
          - java_app_encryption
        target: 90%
      java-secure-memory:
        flags:
          - java_secure_memory
        target: 90%
      server-go:
        flags:
          - server_go
        target: 90%
      server-java:
        flags:
          - server_java
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  go_securememory:
    paths:
      - go/securememory
  go_appencryption:
    paths:
      - go/appencryption
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
  server-go:
    paths:
      - server/go
  server-java:
    paths:
      - server/java
ignore:
  # Non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macOS path
  - "**/SecureMemory/ProtectedMemoryImpl/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LP64/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LLP64/Windows" # C# Windows path
  - "**/SecureMemory/ProtectedMemoryImpl/Windows" # C# Windows path
  # gRPC auto-generated file
  - "**/target/generated-sources/protobuf" # Java auto-generated files
  - "**api/appencryption.pb.go" # Go auto-generated files
  # Server startup files
  - "**/com/godaddy/asherah/grpc/ServerApp.java" # Java server startup

fix: upgrade io.grpc:grpc-api from 1.55.1 to 1.56.0
  server/java/pom.xml
Due: server-java

fix: upgrade com.google.guava:guava from 32.0.0-jre to 32.0.1-jre
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade org.checkerframework:checker-qual from 3.34.0 to 3.35.0
  java/app-encryption/pom.xml
Due: java_app_encryption

Create pull_request_template.md
  .github/pull_request_template.md
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

fix: upgrade io.micrometer:micrometer-core from 1.11.0 to 1.11.1
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade com.google.protobuf:protobuf-java from 3.23.2 to 3.23.3
  server/java/pom.xml
Due: server-java

fix: upgrade info.picocli:picocli from 4.7.3 to 4.7.4
  server/java/pom.xml
Due: server-java

fix: upgrade com.google.protobuf:protobuf-java-util from 3.23.2 to 3.23.3
  server/java/pom.xml
Due: server-java

fix: upgrade io.grpc:grpc-protobuf from 1.56.0 to 1.56.1
  server/java/pom.xml
Due: server-java

Update SQLMetastore to support PostgreSQL and Oracle driver families
  go/appencryption/.versionfile
  go/appencryption/README.md
  go/appencryption/pkg/persistence/sql.go
  go/appencryption/pkg/persistence/sql_test.go
Due: go_appencryption

fix: server/java/pom.xml to reduce vulnerabilities
  server/java/pom.xml
Due: server-java

docs: remove legacy oss slack reference
  CONTRIBUTING.md
  README.md
Due: none

fix: upgrade com.google.guava:guava from 32.0.1-jre to 32.1.0-jre
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade org.checkerframework:checker-qual from 3.35.0 to 3.36.0
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.netty:netty-codec-http2 from 4.1.94.Final to 4.1.95.Final
  server/java/pom.xml
Due: server-java

input validation and memory optimization
  go/appencryption/pkg/crypto/aead/aead.go
  go/appencryption/pkg/crypto/aead/aes256gcm.go
  go/appencryption/pkg/crypto/aead/aes256gcm_test.go
Due: go_appencryption

skip test
  go/appencryption/pkg/crypto/aead/aes256gcm_test.go
Due: go_appencryption

Improved input validation on encrypt
  go/appencryption/pkg/crypto/aead/aead.go
  go/appencryption/pkg/crypto/aead/aes256gcm.go
  go/appencryption/pkg/crypto/aead/aes256gcm_test.go
Due: go_appencryption

fix: upgrade com.github.ben-manes.caffeine:caffeine from 3.1.6 to 3.1.7
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade com.google.guava:guava from 32.1.0-jre to 32.1.1-jre
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.micrometer:micrometer-core from 1.11.1 to 1.11.2
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.netty:netty-codec-http2 from 4.1.95.Final to 4.1.96.Final
  server/java/pom.xml
Due: server-java

fix: upgrade org.apache.commons:commons-lang3 from 3.12.0 to 3.13.0
  server/java/pom.xml
Due: server-java

consturct server spy in main thread
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionServerTest.java
Due: server-java

fix: upgrade io.grpc:grpc-netty from 1.57.0 to 1.57.1
  server/java/pom.xml
Due: server-java

fix: upgrade com.google.guava:guava from 32.1.1-jre to 32.1.2-jre
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade org.checkerframework:checker-qual from 3.36.0 to 3.37.0
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: java/app-encryption/pom.xml to reduce vulnerabilities
  java/app-encryption/pom.xml
Due: java_app_encryption

use ubuntu-latest
  .github/workflows/ci.yml
Due: none

fix: upgrade com.github.ben-manes.caffeine:caffeine from 3.1.7 to 3.1.8
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.micrometer:micrometer-core from 1.11.2 to 1.11.3
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.grpc:grpc-core from 1.57.1 to 1.57.2
  server/java/pom.xml
Due: server-java

fix: upgrade software.amazon.awssdk:kms from 2.20.69 to 2.20.128
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade software.amazon.awssdk:dynamodb from 2.20.69 to 2.20.130
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade org.slf4j:slf4j-api from 2.0.7 to 2.0.9
  java/secure-memory/pom.xml
Due: java_secure_memory
