Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: languages_csharp_AppEncryption, languages_csharp_Logging, languages_csharp_SecureMemory, languages_java_app_encryption, languages_java_secure_memory

SessionFactoryTest test methods renamed README changes
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/README.md
Due: languages_csharp_AppEncryption

Remove wild character
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
Due: languages_csharp_AppEncryption

Fixed spacing. Sushant's IDE was misbehaving for some reason
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
Due: languages_java_app_encryption

- Fix indentation - Organize imports - Leftover renaming
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/AppEncryptionParameterizedTest.java
Due: languages_java_app_encryption

fix a couple minor import orderings
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
Due: languages_java_app_encryption

Fixed typo Use metastore as parameter name instead of metastore Removed unrequired property in csproj
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  languages/csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
  languages/csharp/AppEncryption/README.md
Due: languages_csharp_AppEncryption

Csharp renaming (#110)
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/MultiFactoryThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/MultiPartitionMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/SessionByteMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/SessionJsonMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/MetastoreMock.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/SessionBytesTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/SessionJsonTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Utils/SessionFactoryGenerator.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/KeyManagement/AwsKeyManagementServiceImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/PartitionTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/InMemoryMetastoreImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionBytesImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionJsonImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionTest.cs
  languages/csharp/AppEncryption/AppEncryption/AppEncryption.nuspec
  languages/csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Partition.cs
  languages/csharp/AppEncryption/AppEncryption/Persistence/AdoMetastoreImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Persistence/IMetastore.cs
  languages/csharp/AppEncryption/AppEncryption/Persistence/InMemoryMetastoreImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Session.cs
  languages/csharp/AppEncryption/AppEncryption/SessionBytesImpl.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
  languages/csharp/AppEncryption/AppEncryption/SessionJsonImpl.cs
  languages/csharp/AppEncryption/Crypto/Crypto.nuspec
  languages/csharp/AppEncryption/README.md
  samples/csharp/ReferenceApp/README.md
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
Due: languages_csharp_AppEncryption

hopefully one of the final sweeps of the renaming
  README.md
  docs/Metastore.md
  docs/ROADMAP.md
  docs/TestingApproach.md
  docs/assets/cache_lifecycles.puml
  docs/images/cache_lifecycles.svg
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/MetastoreMock.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/TestHelpers/Constants.cs
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  samples/csharp/ReferenceApp/README.md
  samples/csharp/ReferenceApp/ReferenceApp/Options.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
  samples/java/reference-app/README.md
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/MetastoreMock.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/utils/MetastoreFactory.java
Due: languages_csharp_AppEncryption, languages_java_app_encryption

noticed another minor whitespace issue
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/utils/MetastoreFactory.java
Due: none

naming normalization final-ish sweep (#111)
  README.md
  docs/Metastore.md
  docs/ROADMAP.md
  docs/TestingApproach.md
  docs/assets/cache_lifecycles.puml
  docs/images/cache_lifecycles.svg
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/MetastoreMock.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/TestHelpers/Constants.cs
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  samples/csharp/ReferenceApp/README.md
  samples/csharp/ReferenceApp/ReferenceApp/Options.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
  samples/java/reference-app/README.md
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/MetastoreMock.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/utils/MetastoreFactory.java
Due: languages_csharp_AppEncryption, languages_java_app_encryption

- Rename systemId to serviceId - Update corresponding documentation
  README.md
  docs/CodeStructure.md
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/PartitionTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/utils/SessionFactoryGenerator.java
Due: languages_java_app_encryption

- Rename systemId to serviceId (#112)
  README.md
  docs/CodeStructure.md
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/PartitionTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/utils/SessionFactoryGenerator.java
Due: languages_java_app_encryption

Change keymanagement package to kms
  docs/CodeStructure.md
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/KMSException.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/KeyManagementException.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKeyManagementServiceImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKmsClientFactory.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/KeyManagementService.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/StaticKeyManagementServiceImpl.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/kms/AwsKeyManagementServiceImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/kms/KeyManagementServiceTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/testhelpers/dummy/DummyKeyManagementService.java
Due: languages_java_app_encryption

Add changes to reference app and test app
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/TestSetup.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/AppEncryptionParameterizedTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/MetastoreMock.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/utils/KeyManagementServiceFactory.java
Due: none

Rename KeyManagementException to KmsException
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/KMSException.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/KmsException.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKeyManagementServiceImpl.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/kms/AwsKeyManagementServiceImplTest.java
Due: languages_java_app_encryption

Rename systemId to serviceId
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/TestHelpers/Constants.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Utils/SessionFactoryGenerator.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/PartitionTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption/Partition.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

Rename keymanagement package to kms (#113)
  docs/CodeStructure.md
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/KeyManagementException.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/KmsException.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKeyManagementServiceImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKmsClientFactory.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/KeyManagementService.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/StaticKeyManagementServiceImpl.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/kms/AwsKeyManagementServiceImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/kms/KeyManagementServiceTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/testhelpers/dummy/DummyKeyManagementService.java
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/TestSetup.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/AppEncryptionParameterizedTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/MetastoreMock.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/utils/KeyManagementServiceFactory.java
Due: languages_java_app_encryption

Rename systemId to serviceId (#114)
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/TestHelpers/Constants.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Utils/SessionFactoryGenerator.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/PartitionTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption/Partition.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

Rename keymanagement package to kms
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/MetastoreMock.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Utils/SessionFactoryGenerator.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/KeyManagementServiceTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/TestHelpers/Dummy/DummyKeyManagementService.cs
  languages/csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  languages/csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Exceptions/KmsException.cs
  languages/csharp/AppEncryption/AppEncryption/Kms/AwsKeyManagementServiceImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Kms/AwsKmsClientFactory.cs
  languages/csharp/AppEncryption/AppEncryption/Kms/KeyManagementService.cs
  languages/csharp/AppEncryption/AppEncryption/Kms/StaticKeyManagementServiceImpl.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

ReferenceApp changes
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
Due: none

Remove bom character Added back static import
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
  languages/csharp/AppEncryption/AppEncryption/AppEncryption.csproj
Due: languages_csharp_AppEncryption

fixing line lengths and rename metafile
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
  languages/csharp/AppEncryption/after.AppEncryption.sln.targets
Due: languages_csharp_AppEncryption

Rename keymanagement package to kms (#115)
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/MetastoreMock.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Utils/SessionFactoryGenerator.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/KeyManagementServiceTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/TestHelpers/Dummy/DummyKeyManagementService.cs
  languages/csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Exceptions/KmsException.cs
  languages/csharp/AppEncryption/AppEncryption/Kms/AwsKeyManagementServiceImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Kms/AwsKmsClientFactory.cs
  languages/csharp/AppEncryption/AppEncryption/Kms/KeyManagementService.cs
  languages/csharp/AppEncryption/AppEncryption/Kms/StaticKeyManagementServiceImpl.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
  languages/csharp/AppEncryption/after.AppEncryption.sln.targets
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
Due: languages_csharp_AppEncryption

Fixed the flow in parameterised tests
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/EncryptMetastoreInteractions.cs
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/AppEncryptionParameterizedTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/EncryptMetastoreInteractions.java
Due: languages_csharp_AppEncryption

Addressed review comments
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/EncryptMetastoreInteractions.cs
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/EncryptMetastoreInteractions.java
Due: languages_csharp_AppEncryption

minor grammar cleanup
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/EncryptMetastoreInteractions.cs
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/EncryptMetastoreInteractions.java
Due: languages_csharp_AppEncryption

Fixed the flow in parameterised tests (#116)
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/EncryptMetastoreInteractions.cs
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/AppEncryptionParameterizedTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/EncryptMetastoreInteractions.java
Due: languages_csharp_AppEncryption

WIP checkpoint commit of shared IK cache implementation
  languages/java/app-encryption/pom.xml
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/crypto/BasicExpiringCryptoPolicy.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/crypto/CryptoPolicy.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/crypto/NeverExpiredCryptoPolicy.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/crypto/keys/SecureCryptoKeyMap.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/crypto/keys/SecureCryptoKeyMapFactory.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/testhelpers/dummy/DummyCryptoPolicy.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/crypto/BasicExpiringCryptoPolicyTest.java
  languages/java/secure-memory/src/test/java/com/godaddy/asherah/securememory/protectedmemoryimpl/ProtectedMemorySecretTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/AppEncryptionParameterizedTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/FakeSecureCryptoKeyMapFactory.java
Due: languages_java_app_encryption, languages_java_secure_memory

checkpoint commit of experimenting with weight
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
Due: languages_java_app_encryption

added/refined more debugging for troubleshooting
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
Due: languages_java_app_encryption

have pinning with time based eviction working
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
Due: languages_java_app_encryption

checkpoint commit of effectively caching sessions
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionBytesImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/crypto/BasicExpiringCryptoPolicy.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/crypto/CryptoPolicy.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/crypto/NeverExpiredCryptoPolicy.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/crypto/keys/SecureCryptoKeyMap.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/testhelpers/dummy/DummyCryptoPolicy.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/crypto/BasicExpiringCryptoPolicyTest.java
Due: languages_java_app_encryption

Add caching options to crypto policy
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/TestHelpers/Dummy/DummyCryptoPolicy.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/Crypto/BasicExpiringCryptoPolicyTest.cs
  languages/csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
  languages/csharp/AppEncryption/Crypto/BasicExpiringCryptoPolicy.cs
  languages/csharp/AppEncryption/Crypto/CryptoPolicy.cs
  languages/csharp/AppEncryption/Crypto/NeverExpiredCryptoPolicy.cs
Due: languages_csharp_AppEncryption

Remove SecureCryptoKeyDictionaryFactory
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/FakeSecureCryptoKeyDictionaryFactory.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionBytesImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
  languages/csharp/AppEncryption/Crypto/Keys/SecureCryptoKeyDictionaryFactory.cs
Due: languages_csharp_AppEncryption

Implement caching, this build will fail
  languages/csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

WIP : Added caching logic, tests remaining
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

WIP : Add some unit tests
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

clean up / refactor of session caching implementation and unit tests
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/crypto/BasicExpiringCryptoPolicy.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  languages/java/app-encryption/src/test/resources/logback-test.xml
Due: languages_java_app_encryption

minor comment cleanup
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
Due: languages_java_app_encryption

Path conditions:
  languages_csharp_AppEncryption: any of: languages/csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_csharp_Logging: any of: languages/csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_csharp_SecureMemory: any of: languages/csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_java_app_encryption: any of: languages/java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_java_secure_memory: any of: languages/java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
