Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

Release Java AE v0.1.1 (#216)
  java/app-encryption/README.md
  java/app-encryption/pom.xml
Due: java_app_encryption

Rename withRegionSuffix to withKeySuffix
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/Metastore.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImplTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/JdbcMetastoreImplTest.java
Due: java_app_encryption

Add support for global dynamodb tables Add support for EndpointConfiguration, TableName and RegionSuffix Add more test cases Added integration test to verify backwards compatibility
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/DynamoDbCompatibilityTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/DefaultPartitionTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/InMemoryMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SuffixedPartitionTest.cs
  csharp/AppEncryption/AppEncryption/DefaultPartition.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/Partition.cs
  csharp/AppEncryption/AppEncryption/Persistence/AdoMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/IMetastore.cs
  csharp/AppEncryption/AppEncryption/Persistence/InMemoryMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/AppEncryption/SuffixedPartition.cs
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Remove BOM characters
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
Due: csharp_AppEncryption

DynamoDBMetastore: rename GetSuffix to GetKeySuffix
  go/appencryption/pkg/persistence/dynamodb.go
  go/appencryption/pkg/persistence/dynamodb_test.go
  go/appencryption/session.go
  go/appencryption/session_test.go
Due: go_appencryption

bump go/ae to 0.1.2
  go/appencryption/.versionfile
Due: go_appencryption

DynamoDBMetastore: rename GetKeySuffix to GetRegionSuffix
  go/appencryption/pkg/persistence/dynamodb.go
  go/appencryption/pkg/persistence/dynamodb_test.go
  go/appencryption/session.go
  go/appencryption/session_test.go
Due: go_appencryption

Remove unused code
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  server/java/src/main/java/com/godaddy/asherah/grpc/ServerApp.java
Due: none

Fix checkstyle error
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
Due: none

[Java] Use a POJO for DynamoDB config in the gRPC server
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  server/java/pom.xml
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/DynamoDbConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/ServerApp.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionConfigTest.java
Due: server-java

Remove extra newline [ci skip]
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
Due: server-java

Address review comments
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
Due: csharp_AppEncryption

Fix integration test
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/DynamoDbCompatibilityTest.cs
Due: csharp_AppEncryption

Minor change in serviceURL
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/DynamoDbCompatibilityTest.cs
Due: csharp_AppEncryption

Update Directory.Build.props
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Address review comments
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/InMemoryMetastoreImplTest.cs
Due: csharp_AppEncryption

[C#] Dynamodb updates and feature requests (#220)
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/DynamoDbCompatibilityTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/DefaultPartitionTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/InMemoryMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SuffixedPartitionTest.cs
  csharp/AppEncryption/AppEncryption/DefaultPartition.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/Partition.cs
  csharp/AppEncryption/AppEncryption/Persistence/AdoMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/IMetastore.cs
  csharp/AppEncryption/AppEncryption/Persistence/InMemoryMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/AppEncryption/SuffixedPartition.cs
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

[server/go] add --dynamodb-table-name flag
  server/go/go.mod
  server/go/go.sum
  server/go/pkg/server/options.go
  server/go/pkg/server/server.go
  server/go/pkg/server/server_test.go
Due: server-go

[go] updated reference app to support new dynamodb options
  samples/go/referenceapp/README.md
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
  samples/go/referenceapp/main.go
Due: none

[server/go] updated doc for --dynamodb-table-name
  server/go/README.md
Due: server-go

[C#]Add multi-targeting for Logging & AppEncryption
  .circleci/config.yml
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/Logging/Logging.Tests/Logging.Tests.csproj
  csharp/Logging/Logging/Logging.csproj
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
  tests/cross-language/csharp/Cltf.csproj
  tests/cross-language/csharp/scripts/build.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

Add back C# environment config
  .circleci/config.yml
Due: none

[C#] Source env variables before running integration tests
  .circleci/config.yml
Due: none

[C#] Update Logging & AE versions
  csharp/AppEncryption/Directory.Build.props
  csharp/Logging/Directory.Build.props
Due: csharp_AppEncryption, csharp_Logging

[go] updated reference app docs
  samples/go/referenceapp/README.md
Due: none

[go] expanded reference app docs
  samples/go/referenceapp/README.md
Due: none

applied suggestion
  server/go/pkg/server/server_test.go
Due: server-go

[Go] Use latest AE in the server and ref-app (#225)
  .circleci/config.yml
  samples/go/referenceapp/README.md
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
  samples/go/referenceapp/main.go
  server/go/README.md
  server/go/go.mod
  server/go/go.sum
  server/go/pkg/server/options.go
  server/go/pkg/server/server.go
  server/go/pkg/server/server_test.go
Due: server-go

remove redundant code
  csharp/AppEncryption/README.md
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionConfigTest.java
Due: csharp_AppEncryption, server-java

[Java] Update flag in ref-app docs
  samples/java/reference-app/README.md
Due: none

Address review comments
  go/appencryption/README.md
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/DynamoDbConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/ServerApp.java
Due: go_appencryption, server-java

[C#] Update Logging and AE READMEs with target framework information
  csharp/AppEncryption/README.md
  csharp/Logging/README.md
  samples/go/referenceapp/README.md
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
  samples/go/referenceapp/main.go
  server/go/README.md
  server/go/go.mod
  server/go/go.sum
  server/go/pkg/server/options.go
  server/go/pkg/server/server.go
  server/go/pkg/server/server_test.go
Due: csharp_AppEncryption, csharp_Logging, server-go

Address additional review comments
  samples/java/reference-app/README.md
  server/java/README.md
Due: server-java

Update samples/java/reference-app/README.md
  samples/java/reference-app/README.md
Due: none

Address review comments
  samples/java/reference-app/README.md
  samples/java/reference-app/pom.xml
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  server/java/README.md
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/DynamoDbConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/ServerApp.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionConfigTest.java
Due: server-java

[C#] : Update reference app and documentation
  csharp/AppEncryption/README.md
  samples/csharp/ReferenceApp/README.md
  samples/csharp/ReferenceApp/ReferenceApp/Options.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
Due: csharp_AppEncryption

[C#]Add multi-targeting for Logging & AppEncryption (#226)
  .circleci/config.yml
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Directory.Build.props
  csharp/AppEncryption/README.md
  csharp/Logging/Directory.Build.props
  csharp/Logging/Logging.Tests/Logging.Tests.csproj
  csharp/Logging/Logging/Logging.csproj
  csharp/Logging/README.md
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
  tests/cross-language/csharp/Cltf.csproj
  tests/cross-language/csharp/scripts/build.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

[C#]Release Logging v0.1.2
  csharp/Logging/Directory.Build.props
Due: csharp_Logging

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
