Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags: csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags: csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags: csharp_SecureMemory
        target: 90%
      java-app-encryption:
        flags: java_app_encryption
        target: 90%
      java-secure-memory:
        flags: java_secure_memory
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
ignore:
  # Ignore non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  # No need for C# path since the dotnet test command handles it currently (should change if/when we do the above)
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macos path

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags:
          - csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags:
          - csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags:
          - csharp_SecureMemory
        target: 90%
      go-securememory:
        flags:
          - go_securememory
        target: 90%
      go-appencryption:
        flags:
          - go_appencryption
        target: 90%
      java-app-encryption:
        flags:
          - java_app_encryption
        target: 90%
      java-secure-memory:
        flags:
          - java_secure_memory
        target: 90%
      server-go:
        flags:
          - server_go
        target: 90%
      server-java:
        flags:
          - server_java
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  go_securememory:
    paths:
      - go/securememory
  go_appencryption:
    paths:
      - go/appencryption
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
  server-go:
    paths:
      - server/go
  server-java:
    paths:
      - server/java
ignore:
  # Non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macOS path
  - "**/SecureMemory/ProtectedMemoryImpl/MacOS" # C# macOS path
  - "**/SecureMemory/ProtectedMemoryImpl/Windows" # C# Windows path
  # gRPC auto-generated file
  - "**/target/generated-sources/protobuf" # Java auto-generated files
  - "**api/appencryption.pb.go" # Go auto-generated files
  # Server startup files
  - "**/com/godaddy/asherah/grpc/ServerApp.java" # Java server startup

Fix bad nameof
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

Fix null systemInterface
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorTest.cs
Due: csharp_SecureMemory

Improve code coverage
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/PlatformNative/SystemInterface.cs
  csharp/SecureMemory/SecureMemory.Tests/CheckTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
Due: csharp_SecureMemory

Missed one fix
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcOperationFailedException.cs
Due: csharp_SecureMemory

Remove bad call to ZeroMemory
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
Due: csharp_SecureMemory

Remove duplicate checks
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

Fix project configs
  .pre-commit-config.yaml
  codecov.yml
Due: none

Add tests for OpenSSL allocator
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorTest.cs
Due: csharp_SecureMemory

Fix exception type
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorTest.cs
Due: csharp_SecureMemory

Add a test for requiredSecretDisposal + IntPtr
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretFactoryTest.cs
Due: csharp_SecureMemory

SetNoAccess failure + IntPtr
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
Due: csharp_SecureMemory

Remove duplicate null check
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

Refactor code that cannot be tested
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
Due: csharp_SecureMemory

Simplify
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

Huge alloc test
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

Fix all not implemented
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/LP64/Libc/LibcSystemInterface.cs
  csharp/SecureMemory/PlatformNative/LP64/Linux/LinuxSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/LP64/MacOS/MacOSSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/LP64/OpenSSL/OpenSSL11LP64.cs
  csharp/SecureMemory/PlatformNative/LP64/OpenSSL/OpenSSLCryptProtectMemory.cs
  csharp/SecureMemory/PlatformNative/LP64/OpenSSL/OpenSSLCrypto.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/AllocatorGenerator.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/OpenSSLCryptProtectMemoryTests.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/OpenSSL/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorVirtualAlloc.cs
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

Clean up tests and fix todos
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsSystemInterfaceImpl.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

All tests passing under Linux
  csharp/SecureMemory/PlatformNative/IOpenSSLCrypto.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/OpenSSLCryptoWindows.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsOperationFailedException.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/LP64/Libc/OpenSSLCryptoLibc.cs
  csharp/SecureMemory/PlatformNative/LP64/OpenSSL/OpenSSL11LP64.cs
  csharp/SecureMemory/PlatformNative/LP64/OpenSSL/OpenSSLCryptProtectMemory.cs
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/AllocatorGenerator.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/OpenSSLCryptProtectMemoryTests.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/OpenSSL11ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/OpenSSL/OpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
Due: csharp_SecureMemory

Resharper clean
  csharp/SecureMemory/PlatformNative/LLP64/Windows/CryptProtect.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/OpenSSLCryptoWindows.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/LP64/Libc/LibcSystemInterface.cs
  csharp/SecureMemory/PlatformNative/LP64/Libc/OpenSSLCryptoLibc.cs
  csharp/SecureMemory/PlatformNative/LP64/Linux/LinuxSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/LP64/MacOS/MacOSSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/LP64/OpenSSL/OpenSSLCryptProtectMemory.cs
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/PlatformNative/SystemInterface.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/AllocatorGenerator.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/OpenSSL/OpenSSL11ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/OpenSSL/OpenSSLCryptProtectMemoryTests.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/OpenSSL/OpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

Restore CryptProtectMemory path
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsSystemInterfaceImpl.cs
Due: csharp_SecureMemory

Working refactored SecureMemory
  .pre-commit-config.yaml
  csharp/SecureMemory/PlatformNative/IMemoryEncryption.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/LP64/Libc/LibcSystemInterface.cs
  csharp/SecureMemory/PlatformNative/LP64/Linux/LinuxSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/LP64/MacOS/MacOSSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/OpenSSL/IOpenSSLCrypto.cs
  csharp/SecureMemory/PlatformNative/OpenSSL/OpenSSLCryptProtectMemory.cs
  csharp/SecureMemory/PlatformNative/OpenSSL/OpenSSLCryptoLibc.cs
  csharp/SecureMemory/PlatformNative/OpenSSL/OpenSSLCryptoWindows.cs
  csharp/SecureMemory/PlatformNative/SystemInterface.cs
  csharp/SecureMemory/PlatformNative/WindowsMemoryEncryption.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/AllocatorGenerator.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/OpenSSL/OpenSSL11ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/OpenSSL/OpenSSLCryptProtectMemoryTests.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/OpenSSL/OpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/OpenSSL/OpenSSLSecureHeapUnavailableException.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Clean up
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsMemoryEncryption.cs
  csharp/SecureMemory/PlatformNative/OpenSSL/OpenSSLCryptProtectMemory.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/AllocatorGenerator.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/OpenSSL/OpenSSL11ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
Due: csharp_SecureMemory

Working OpenSSLCryptProtectMemory tested with multiple ciphers/modes
  csharp/SecureMemory/PlatformNative/CryptProtectMemory.cs
  csharp/SecureMemory/PlatformNative/IMemoryEncryption.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsMemoryEncryption.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/OpenSSL/IOpenSSLCrypto.cs
  csharp/SecureMemory/PlatformNative/OpenSSL/OpenSSLCryptProtectMemory.cs
  csharp/SecureMemory/PlatformNative/OpenSSL/OpenSSLCryptoLibc.cs
  csharp/SecureMemory/PlatformNative/OpenSSL/OpenSSLCryptoWindows.cs
  csharp/SecureMemory/PlatformNative/SystemInterface.cs
  csharp/SecureMemory/SecureMemory.Tests/EndToEndTests.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/OpenSSL/OpenSSL11ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/OpenSSL/OpenSSLCryptProtectMemoryTests.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecretTest.cs
  csharp/SecureMemory/SecureMemory.Tests/TransientSecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/OpenSSL/OpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Split context locks for concurrency
  csharp/SecureMemory/PlatformNative/OpenSSL/OpenSSLCryptProtectMemory.cs
Due: csharp_SecureMemory

Add missing files
  csharp/SecureMemory/PlatformNative/OpenSSL/OpenSSLConstants.cs
  csharp/SecureMemory/SecureMemory.Tests/TraceListenerConfig.cs
Due: csharp_SecureMemory

added simple debug-level logging package
  go/securememory/.versionfile
  go/securememory/log/example_test.go
  go/securememory/log/log.go
  go/securememory/protectedmemory/secret.go
  go/securememory/protectedmemory/secret_benchmark_test.go
Due: go_securememory

fix concurrency/memory leak issues in session cache & sk/ik cache
  go/appencryption/cache.go
  go/appencryption/cache_benchmark_test.go
  go/appencryption/cache_test.go
  go/appencryption/envelope.go
  go/appencryption/envelope_test.go
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/integration_benchmark_test.go
  go/appencryption/internal/key.go
  go/appencryption/pkg/kms/static.go
  go/appencryption/pkg/log/example_test.go
  go/appencryption/pkg/log/log.go
  go/appencryption/policy.go
  go/appencryption/policy_test.go
  go/appencryption/session.go
  go/appencryption/session_cache.go
  go/appencryption/session_cache_ristretto.go
  go/appencryption/session_cache_test.go
Due: go_appencryption

tartufo config
  .tartufo-excludes
  tartufo.toml
Due: none

added support for debug logging output to go perf test app
  go/appencryption/cmd/example/go.mod
  go/appencryption/cmd/example/go.sum
  go/appencryption/cmd/example/main.go
Due: go_appencryption

additional test coverage
  go/appencryption/cache_test.go
  go/appencryption/pkg/kms/static_test.go
  go/appencryption/pkg/log/log.go
  go/appencryption/pkg/log/log_test.go
  go/appencryption/policy_test.go
  go/appencryption/session_cache_test.go
  go/appencryption/session_test.go
Due: go_appencryption

removed dead code
  go/appencryption/cache.go
Due: go_appencryption

add missing test
  go/appencryption/internal/key_test.go
Due: go_appencryption

bump version
  go/appencryption/.versionfile
Due: go_appencryption

update appencryption to v0.1.5, added optional verbose logging
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
  samples/go/referenceapp/main.go
Due: none

update AE to v0.1.5, added optional verbose logging
  server/go/go.mod
  server/go/go.sum
  server/go/main.go
  server/go/pkg/server/options.go
Due: server-go

fix maligned struct
  server/go/pkg/server/options.go
Due: server-go

New actions workflow: Draft release
  .github/workflows/draft-release.yml
Due: none

Set DateParseHandling to none
  csharp/AppEncryption/AppEncryption/Util/Json.cs
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption
