Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

go mod tidy (tests/cross-language/go)
  tests/cross-language/go/go.mod
  tests/cross-language/go/go.sum
Due: none

go mod tidy (server/go)
  server/go/go.mod
Due: server-go

enable group updates for java server & cross-lang tests
  .github/dependabot.yml
Due: none

enable automated dependabot PRs for c#
  .github/dependabot.yml
Due: none

checkstyle configuration fix
  tests/cross-language/java/checkstyle.xml
Due: none

whitespace fix
  tests/cross-language/java/src/test/java/com/godaddy/asherah/cltf/DecryptDefinitions.java
  tests/cross-language/java/src/test/java/com/godaddy/asherah/cltf/EncryptDefinitions.java
Due: none

lint cleanup
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
Due: csharp_AppEncryption

bump xunit -> 2.9.2, xunit.runner.visualstudio -> 2.8.2
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
Due: csharp_AppEncryption

update tartufo and precommit
  .pre-commit-config.yaml
  tartufo.toml
Due: none

exclude generated sources from pre-commit targets
  .pre-commit-config.yaml
Due: none

pre-commit run --all (whitespace cleanup)
  .github/workflows/go-securememory-ci.yml
  .github/workflows/java-securememory-ci.yml
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
  java/app-encryption/README.md
  samples/csharp/ReferenceApp/README.md
Due: csharp_AppEncryption, csharp_SecureMemory, java_app_encryption

upgrade actions/cache to v4.2.0
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-appencryption-integration.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-pr.yml
  .github/workflows/csharp-securememory-ci.yml
Due: none

upgrade mysql-connector-java to 8.4.0
  samples/java/reference-app/pom.xml
  server/java/pom.xml
  tests/cross-language/java/pom.xml
Due: server-java

set target framework to net6.0
  tests/cross-language/csharp/Cltf.csproj
Due: none

use junit-jupiter-api
  tests/cross-language/java/pom.xml
Due: none

bump version to v0.1.5
  java/secure-memory/pom.xml
Due: java_secure_memory

use dotnet 6.0.x for legacy cross-language tests
  .github/workflows/ci.yml
Due: none

upgrade securememory to 0.1.5, bump version
  java/app-encryption/pom.xml
Due: java_app_encryption

bump version to 0.1.6
  csharp/Logging/Directory.Build.props
Due: csharp_Logging

bump version to v0.2.5
  csharp/SecureMemory/Directory.Build.props
Due: csharp_SecureMemory

upgrades deps, bump version
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

bump version to v0.1.6
  go/securememory/.versionfile
Due: go_securememory

exclude release branches
  .github/workflows/java-appencryption-ci.yml
Due: none

upgrade securememory to 0.1.6
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/go.work.sum
  tartufo.toml
Due: go_appencryption

go work sync
  go/appencryption/cmd/example/go.mod
  go/appencryption/cmd/example/go.sum
  go/appencryption/go.sum
  go/appencryption/go.work.sum
Due: go_appencryption

bump version to v0.7.1
  go/appencryption/.versionfile
Due: go_appencryption

Update grpcio to 1.66.2 (python 3.13 support)
  server/samples/clients/python/requirements.txt
  tests/cross-language/sidecar/requirements.txt
Due: none

update golangci-lint to latest
  .github/workflows/cross-language-validation.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-pr.yml
  .github/workflows/go-securememory-ci.yml
Due: none

exclude gosec G115
  go/appencryption/.golangci.yml
Due: go_appencryption

remove call to deprecated/redundant rand.Seed
  go/appencryption/parameterized_test.go
Due: go_appencryption

linting
  samples/go/referenceapp/main.go
Due: none

add test functions for godog feature tests
  tests/cross-language/go/decrypt_test.go
  tests/cross-language/go/encrypt_test.go
Due: none

replace `godog` with `go test`
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

remove godog cli install
  .github/workflows/cross-language-validation.yml
Due: none

add support for godog commandline flags
  tests/cross-language/go/decrypt_test.go
  tests/cross-language/go/encrypt_test.go
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

[csharp] new release workflows
  .github/workflows/csharp-appencryption-release.yml
  .github/workflows/csharp-logging-release.yml
  .github/workflows/csharp-securememory-release.yml
Due: none

replace xmllint with grep+sed
  build/csharp/release_prod.sh
Due: none

[java] new release workflows
  .github/workflows/java-appencryption-release.yml
  .github/workflows/java-securememory-release.yml
Due: none

[go] new release workflows
  .github/workflows/go-appencryption-release.yml
  .github/workflows/go-securememory-release.yml
Due: none

Legacy CI workflow updated to run on manual trigger only
  .github/workflows/ci.yml
Due: none

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
