Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

Update TestPrimaryBuilderPath test for DynamoDB
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
Due: csharp_AppEncryption

Fix indentation
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
Due: csharp_AppEncryption

Make allocators configurable
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/AllocatorGenerator.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemoryTests.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorVirtualAlloc.cs
Due: csharp_SecureMemory

Make allocators configurable
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/AllocatorGenerator.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
Due: csharp_SecureMemory

Resharper cleanup
  csharp/SecureMemory/PlatformNative/LLP64/Windows/CryptProtect.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/Enums/CryptProtectOptions.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/Enums/MemoryProtection.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/VirtualUnlock.cs
  csharp/SecureMemory/PlatformNative/LP64/Linux/OpenSSLCrypto.cs
  csharp/SecureMemory/SecureMemory.Tests/CheckTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/AllocatorGenerator.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Check.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemory.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsOperationFailedException.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorVirtualAlloc.cs
  csharp/SecureMemory/SecureMemory/TransientSecretFactory.cs
Due: csharp_SecureMemory

Fix mock object ctor
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
Due: csharp_SecureMemory

Configure heap in ProtectedMemorySecretTest
  csharp/SecureMemory/Directory.Build.props
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory.sln
Due: csharp_SecureMemory

Fix Windows allocator working set size defaults
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorVirtualAlloc.cs
Due: csharp_SecureMemory

Add documentation of SecureMemory configuration
  csharp/SecureMemory/SecureMemory.sln
  docs/Configuration.md
Due: csharp_SecureMemory

Add sane defaults and fixup configuration code
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
Due: csharp_SecureMemory

Mention mmap
  docs/Configuration.md
Due: none

Move configuration documentation to proper place
  csharp/SecureMemory/README.md
  docs/Configuration.md
Due: csharp_SecureMemory

Move test to proper location
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
Due: csharp_SecureMemory

show curl errors
  .circleci/config.yml
Due: none

New actions workflow: Sync release branch
  .github/workflows/sync-release.yml
Due: none

Add javadoc validation in build step
  java/app-encryption/checkstyle.xml
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKmsClientFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyAeadCrypto.java
Due: java_app_encryption

[go] new securememory metrics counter for in-use secrets
  go/securememory/memguard/secret.go
  go/securememory/memguard/secret_test.go
  go/securememory/protectedmemory/secret.go
  go/securememory/protectedmemory/secret_test.go
  go/securememory/securememory.go
Due: go_securememory

[go] securememory unit test bugfix
  go/securememory/memguard/secret_test.go
Due: go_securememory

[go] bump securememory to v0.1.1
  go/securememory/.versionfile
Due: go_securememory

Update nuget dependency resolver.
  .circleci/wss-unified-agent.config
Due: none

Zero pointer after ctor failure and free
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
Due: csharp_SecureMemory

Fix the locking on ProtectedMemorySecret
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
  csharp/SecureMemory/SecureMemory/Secret.cs
Due: csharp_SecureMemory

Update csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
Due: csharp_SecureMemory

Add tracking of locked memory and limit check on Alloc/Free
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

Update csharp/SecureMemory/SecureMemory.Tests/SecretTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecretTest.cs
Due: csharp_SecureMemory

Fix bad call to .Close after known exception
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
Due: csharp_SecureMemory

Add second lock to defend against access changes with concurrent readers
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
Due: csharp_SecureMemory

Update csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
Due: csharp_SecureMemory

Remove check that compares total limits against single allocations
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

Bump version
  csharp/SecureMemory/Directory.Build.props
Due: csharp_SecureMemory

Fix access counter
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
Due: csharp_SecureMemory

Add tests and rework for code coverage
  csharp/SecureMemory/PlatformNative/LP64/Linux/OpenSSLCrypto.cs
  csharp/SecureMemory/PlatformNative/LP64/MacOS/MacOSLibcLP64.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecretTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
Due: csharp_SecureMemory

Start moving allocators to SystemInterface
  csharp/SecureMemory/Directory.Build.props
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/LP64/Libc/LibcLP64.cs
  csharp/SecureMemory/PlatformNative/LP64/Linux/LinuxLibcLP64.cs
  csharp/SecureMemory/PlatformNative/LP64/Linux/LinuxSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/LP64/MacOS/MacOSSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/SystemInterface.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/AllocatorGenerator.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemoryTests.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/MacOS/MacOSProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorVirtualAlloc.cs
Due: csharp_SecureMemory

Clean up
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/LP64/Linux/LinuxSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/LP64/MacOS/MacOSSystemInterfaceImpl.cs
  csharp/SecureMemory/PlatformNative/SystemInterface.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemory.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/MacOS/MacOSProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
  csharp/SecureMemory/SecureMemory/Secret.cs
Due: csharp_SecureMemory

Clean up
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
  csharp/SecureMemory/SecureMemory/Secret.cs
Due: csharp_SecureMemory

Fix tests
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/MacOS/MacOSProtectedMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

Restore virtual for Moq
  csharp/SecureMemory/SecureMemory/Secret.cs
Due: csharp_SecureMemory

Fix parameterless ctors for Moq
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/MacOS/MacOSProtectedMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
