Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

Fix failing tests
  csharp/SecureMemory/SecureMemory.Tests/SecureMemorySecretTest.cs
Due: csharp_SecureMemory

Address review comments
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/Libc/LibcSecureMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

Use updated SM with configurable mLock
  csharp/AppEncryption/AppEncryption.IntegrationTests/SecureMemory/Multithreaded/MultiThreadedSecretTest.cs
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Update C# Referece App
  csharp/AppEncryption/README.md
  samples/csharp/ReferenceApp/README.md
  samples/csharp/ReferenceApp/ReferenceApp/Options.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
  samples/csharp/ReferenceApp/ReferenceApp/appsettings.json
  samples/csharp/ReferenceApp/images/runtime/Dockerfile
Due: csharp_AppEncryption

Update samples/csharp/ReferenceApp/README.md
  samples/csharp/ReferenceApp/README.md
Due: none

update ansi-regex per CVE-2021-3807
  server/samples/clients/node/package-lock.json
  server/samples/clients/node/package.json
Due: none

Stream Cipher - First Commit
  .pre-commit-config.yaml
  java/app-encryption/README.md
  java/app-encryption/pom.xml
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyRC4Crypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyStreamCrypto.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
Due: java_app_encryption

Use ChaCha20Poly1305
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyAeadCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyChaCha20Poly1305Crypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyStreamCrypto.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
Due: java_app_encryption

Add CipherStep to SessionFactory
  java/app-encryption/src/it/java/com/godaddy/asherah/utils/SessionFactoryGenerator.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyChaCha20Poly1305Crypto.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
Due: java_app_encryption

Default to BlockCipher
  java/app-encryption/src/it/java/com/godaddy/asherah/utils/SessionFactoryGenerator.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
Due: java_app_encryption

Consolidate duplicate code
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyAeadCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyAes256GcmCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyChaCha20Poly1305Crypto.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
Due: java_app_encryption

Fix checkstyle violations
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyAeadCrypto.java
Due: java_app_encryption

Fix checkstyle
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
Due: java_app_encryption

Encrypt/Decrypt Streams
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/AeadCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyAeadCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyAes256GcmCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyChaCha20Poly1305Crypto.java
Due: java_app_encryption

All working
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyAeadCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyAes256GcmCrypto.java
  java/app-encryption/src/test/java/com/godaddy/asherah/crypto/engine/GenericAeadCryptoTest.java
Due: java_app_encryption

Fix checkstyle
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/AeadCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyAeadCrypto.java
Due: java_app_encryption

remove read limit
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/AeadCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyAeadCrypto.java
Due: java_app_encryption

Working code
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyAeadCrypto.java
  java/app-encryption/src/test/java/com/godaddy/asherah/crypto/engine/GenericAeadCryptoTest.java
Due: java_app_encryption

Fix for intermittent cipher: message authentication failed error
  go/appencryption/envelope.go
  go/appencryption/envelope_test.go
Due: go_appencryption

Add test for code coverage on failure case
  go/appencryption/.versionfile
  go/appencryption/envelope_test.go
Due: go_appencryption

Add positive test case for SK lookup
  go/appencryption/envelope_test.go
Due: go_appencryption

lint / spacing
  go/appencryption/envelope.go
  go/appencryption/envelope_test.go
Due: go_appencryption

Upgrade Go Server deps to latest versions
  server/go/go.mod
  server/go/go.sum
Due: server-go

Upgrade Go samples to latest dependency versions
  samples/go/aws/lambda/function/go.mod
  samples/go/aws/lambda/function/go.sum
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
Due: none

Upgrade Go appencryption dependencies to latest versions
  go/appencryption/cmd/example/go.mod
  go/appencryption/cmd/example/go.sum
  go/appencryption/go.mod
  go/appencryption/go.sum
Due: go_appencryption

Upgrade Go securememory dependencies to latest versions
  go/securememory/go.mod
  go/securememory/go.sum
Due: go_securememory

Upgrade Go cross-language test dependencies to latest versions
  tests/cross-language/go/go.mod
  tests/cross-language/go/go.sum
Due: none

Updated to latest JNA and added JNA-Platform which should support aarch64
  java/secure-memory/pom.xml
Due: java_secure_memory

Asherah-Node added to cross-language tests
  .github/workflows/ci.yml
  tests/cross-language/features/decrypt.feature
  tests/cross-language/node/features/support/decrypt.js
  tests/cross-language/node/features/support/encrypt.js
  tests/cross-language/node/package.json
  tests/cross-language/node/run-decrypt.sh
  tests/cross-language/node/run-encrypt.sh
  tests/cross-language/node/run-local.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

Update tests/cross-language/node/features/support/encrypt.js
  tests/cross-language/node/features/support/encrypt.js
Due: none

Fix filename
  tests/cross-language/node/features/support/decrypt.js
Due: none

Cross language testing for Ruby Asherah
  .github/workflows/ci.yml
  tests/cross-language/features/decrypt.feature
  tests/cross-language/ruby/.gitignore
  tests/cross-language/ruby/.ruby-version
  tests/cross-language/ruby/Gemfile
  tests/cross-language/ruby/features/step_definitions/decrypt.rb
  tests/cross-language/ruby/features/step_definitions/encrypt.rb
  tests/cross-language/ruby/features/support/env.rb
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

Add base64 encode/decode
  tests/cross-language/ruby/features/step_definitions/decrypt.rb
  tests/cross-language/ruby/features/step_definitions/encrypt.rb
  tests/cross-language/ruby/features/support/env.rb
Due: none

Setup and shutdown before/after each scenario
  tests/cross-language/ruby/features/step_definitions/encrypt.rb
  tests/cross-language/ruby/features/support/env.rb
Due: none

Update golang.org/x-crypto to fix security issue
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/securememory/go.mod
  go/securememory/go.sum
Due: go_securememory, go_appencryption

Update all go projects
  go/appencryption/cmd/example/go.mod
  go/appencryption/cmd/example/go.sum
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/securememory/go.mod
  go/securememory/go.sum
  samples/go/aws/lambda/function/go.mod
  samples/go/aws/lambda/function/go.sum
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
  server/go/go.mod
  server/go/go.sum
  tests/cross-language/go/go.mod
  tests/cross-language/go/go.sum
Due: go_securememory, go_appencryption, server-go

Run go mod tidy
  go/appencryption/cmd/example/go.mod
  go/appencryption/cmd/example/go.sum
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/securememory/go.sum
  samples/go/aws/lambda/function/go.sum
  samples/go/referenceapp/go.sum
  server/go/go.sum
  tests/cross-language/go/go.sum
Due: go_securememory, go_appencryption, server-go

Bump securememory
  go/securememory/.versionfile
Due: go_securememory

Let GHA use localhost for cross-language
  .github/workflows/ci.yml
Due: none

Do not assume localhost for go cross-language test
  .github/workflows/ci.yml
  tests/cross-language/go/encrypt_test.go
Due: none

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
