Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

replace `go get` with `go install`
  .github/workflows/ci.yml
Due: none

setup-go 1.19
  .github/workflows/ci.yml
Due: none

do not modify PATH
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

Update README.md
  go/appencryption/README.md
Due: go_appencryption

fix: java/app-encryption/pom.xml to reduce vulnerabilities
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: server/java/pom.xml to reduce vulnerabilities
  server/java/pom.xml
Due: server-java

fix: upgrade com.amazonaws:aws-java-sdk-dynamodb from 1.12.361 to 1.12.362
  java/app-encryption/pom.xml
Due: java_app_encryption

Update GHA SHAs to latest version
  .github/workflows/ci.yml
  .github/workflows/draft-release.yml
  .github/workflows/run-wss-scans.yml
  .github/workflows/sync-release.yml
  tartufo.toml
Due: none

Update exclusion reasons
  .tartufo-excludes
  tartufo.toml
Due: none

fix: upgrade io.grpc:grpc-core from 1.51.0 to 1.51.1
  server/java/pom.xml
Due: server-java

fix: upgrade com.google.protobuf:protobuf-java from 3.21.11 to 3.21.12
  server/java/pom.xml
Due: server-java

fix: upgrade mysql:mysql-connector-java from 8.0.31 to 8.0.32
  server/java/pom.xml
Due: server-java

fix: upgrade org.checkerframework:checker-qual from 3.28.0 to 3.29.0
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade com.google.code.gson:gson from 2.10 to 2.10.1
  server/java/pom.xml
Due: server-java

ci workaround/fix
  .github/workflows/ci.yml
Due: none

dependency updates
  go/securememory/go.mod
  go/securememory/go.sum
Due: go_securememory

[go] bump securememory to v0.1.4
  go/securememory/.versionfile
Due: go_securememory

bump golang.org/x/text to v0.6.0 (indirect)
  go/securememory/go.mod
  go/securememory/go.sum
Due: go_securememory

upgrade secure memory to 0.1.4
  go/appencryption/go.mod
  go/appencryption/go.sum
Due: go_appencryption

upgrade testcontainers
  go/appencryption/go.mod
  go/appencryption/go.sum
Due: go_appencryption

upgrade github.com/aws/aws-sdk-go to v1.44.190
  go/appencryption/go.mod
  go/appencryption/go.sum
Due: go_appencryption

bump version
  go/appencryption/.versionfile
Due: go_appencryption

add replace directive for docker (transitive dep)
  tests/cross-language/go/go.mod
Due: none

Update Java SM dependencies and java version
  java/secure-memory/pom.xml
Due: java_secure_memory

Run java-secure-memory on the runner instead of a container
  .github/workflows/ci.yml
  java/secure-memory/pom.xml
Due: java_secure_memory

Update ulimit params
  .github/workflows/ci.yml
  java/secure-memory/pom.xml
Due: java_secure_memory

Update version
  .github/workflows/ci.yml
  java/secure-memory/pom.xml
Due: java_secure_memory

Update java version in release-java-secure-memory job
  .github/workflows/ci.yml
Due: none

Reorganize POM
  java/secure-memory/pom.xml
Due: java_secure_memory

add new integration tests to CI
  .github/workflows/ci.yml
  build/go/integration_test.sh
  go/appencryption/scripts/integration_test.sh
Due: go_appencryption

[go] appencryption integration tests improvements
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/go.work
  go/appencryption/go.work.sum
  go/appencryption/integrationtest/go.mod
  go/appencryption/integrationtest/go.sum
  go/appencryption/integrationtest/integration_benchmark_test.go
  go/appencryption/integrationtest/integration_test.go
  go/appencryption/integrationtest/persistence/dynamodb_test.go
  go/appencryption/integrationtest/persistence/persistencetest/dynamodb.go
  go/appencryption/integrationtest/persistence/sql_test.go
  go/appencryption/pkg/persistence/sql_test.go
Due: go_appencryption

go mod tidy
  go/appencryption/go.mod
  go/appencryption/go.sum
Due: go_appencryption

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
