Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

address review comments
  go/appencryption/integration_test.go
  go/appencryption/pkg/persistence/persistencetest/dynamodb.go
Due: go_appencryption

Add workaround for intermittently failing test
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
Due: csharp_AppEncryption

Fix typo
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
Due: csharp_AppEncryption

address review comments
  go/appencryption/pkg/persistence/persistencetest/dynamodb.go
Due: go_appencryption

[go] dynamodb integration tests (#240)
  go/appencryption/integration_test.go
  go/appencryption/pkg/persistence/dynamodb.go
  go/appencryption/pkg/persistence/dynamodb_integration_test.go
  go/appencryption/pkg/persistence/dynamodb_test.go
  go/appencryption/pkg/persistence/persistencetest/dynamodb.go
Due: go_appencryption

Use List instead of ConcurrentBag in test
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
Due: csharp_AppEncryption

Remove unused import
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
Due: csharp_AppEncryption

[C#] Update AwsKeyManagementServiceImplTest (#241)
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
Due: csharp_AppEncryption

[Java] Add javadoc validation in build script
  build/java/build.sh
  build/java/clean.sh
  build/java/release_prod.sh
  build/java/test.sh
  java/app-encryption/pom.xml
  java/secure-memory/pom.xml
Due: java_app_encryption, java_secure_memory

Update SystemRequirements.md
  docs/SystemRequirements.md
Due: none

Add javadocs
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/CryptoPolicy.java
Due: java_app_encryption

Misc typo correction
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
Due: java_app_encryption

Add javadocs
  server/java/checkstyle.xml
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionImpl.java
  server/java/src/main/java/com/godaddy/asherah/grpc/DynamoDbConfig.java
Due: server-java

Address review comments
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionImpl.java
  server/java/src/main/java/com/godaddy/asherah/grpc/DynamoDbConfig.java
Due: server-java

Add newline in JavaDoc
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionImpl.java
  server/java/src/main/java/com/godaddy/asherah/grpc/DynamoDbConfig.java
Due: server-java

Update checkstyle version
  server/java/checkstyle.xml
  server/java/pom.xml
  server/java/src/main/java/com/godaddy/asherah/grpc/DynamoDbConfig.java
Due: server-java

Update checkstyle
  server/java/checkstyle.xml
Due: server-java

update links
  server/java/checkstyle.xml
Due: server-java

Fix spacing
  server/java/checkstyle.xml
Due: server-java

Add JavaDocs for the following packages: - com.godaddy.asherah.appencryption - com.godaddy.asherah.appencryption.envelope - com.godaddy.asherah.appencryption.exceptions
  build/java/build.sh
  build/java/clean.sh
  build/java/release_prod.sh
  build/java/test.sh
  docs/SystemRequirements.md
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/DefaultPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Session.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionBytesImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SuffixedPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryption.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionBytesImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeKeyRecord.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/KeyMeta.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/AppEncryptionException.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/KmsException.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/MetadataMissingException.java
Due: java_app_encryption

Update suppressions.xml
  server/java/suppressions.xml
Due: server-java

[Java] Server: Add JavaDocs (#244)
  server/java/checkstyle.xml
  server/java/pom.xml
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionImpl.java
  server/java/suppressions.xml
Due: server-java

Update JavaDocs
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryption.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
Due: java_app_encryption

Update suppressions.xml (#246)
  server/java/suppressions.xml
Due: server-java

Address review comments
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/DefaultPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionBytesImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SuffixedPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionBytesImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeKeyRecord.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/KeyMeta.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/AppEncryptionException.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/KmsException.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/MetadataMissingException.java
Due: java_app_encryption

Update JavaDocs
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionBytesImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SuffixedPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeKeyRecord.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/KeyMeta.java
Due: java_app_encryption

WIP : Add documentation in csharp
  csharp/AppEncryption/AppEncryption/DefaultPartition.cs
  csharp/AppEncryption/AppEncryption/Partition.cs
  csharp/AppEncryption/AppEncryption/Session.cs
  csharp/AppEncryption/AppEncryption/SessionBytesImpl.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: csharp_AppEncryption

Address review comments
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeKeyRecord.java
Due: java_app_encryption

WIP : Add docs for 3 packages
  csharp/AppEncryption/AppEncryption/DefaultPartition.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionBytesImpl.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeKeyRecord.cs
  csharp/AppEncryption/AppEncryption/Envelope/IEnvelopeEncryption.cs
  csharp/AppEncryption/AppEncryption/Envelope/KeyMeta.cs
  csharp/AppEncryption/AppEncryption/Exceptions/KmsException.cs
  csharp/AppEncryption/AppEncryption/Exceptions/MetadataMissingException.cs
  csharp/AppEncryption/AppEncryption/Partition.cs
  csharp/AppEncryption/AppEncryption/Session.cs
  csharp/AppEncryption/AppEncryption/SessionBytesImpl.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/AppEncryption/SessionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/SuffixedPartition.cs
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Crypto/Exceptions/AppEncryptionException.cs
Due: csharp_AppEncryption

Misc fixes
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionBytesImpl.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeKeyRecord.cs
  csharp/AppEncryption/AppEncryption/Exceptions/MetadataMissingException.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/Crypto/Exceptions/AppEncryptionException.cs
Due: csharp_AppEncryption

Fix build error
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Crypto/Exceptions/AppEncryptionException.cs
Due: csharp_AppEncryption

WIP : Moving integration test to main repo
  java/app-encryption/pom.xml
  java/app-encryption/src/it/java/com/godaddy/asherah/TestSetup.java
  java/app-encryption/src/it/java/com/godaddy/asherah/multithreaded/MultiFactoryThreadedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/multithreaded/MultiPartitionMultiThreadedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/multithreaded/SessionByteMultiThreadedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/multithreaded/SessionJsonMultiThreadedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/CacheMock.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/CryptoKeyHolder.java
  java/app-encryption/src/it/java/com/godaddy/asherah/securememory/multithreaded/MultiThreadedSecretIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/testhelpers/Constants.java
  java/app-encryption/src/it/java/com/godaddy/asherah/testhelpers/KeyState.java
  java/app-encryption/src/it/java/com/godaddy/asherah/utils/DateTimeUtils.java
  java/app-encryption/src/it/java/com/godaddy/asherah/utils/PayloadGenerator.java
  java/app-encryption/src/it/java/com/godaddy/asherah/utils/PersistenceFactory.java
  java/app-encryption/src/it/java/com/godaddy/asherah/utils/SessionFactoryGenerator.java
Due: java_app_encryption

WIP : Add integration tests
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/AppEncryptionParameterizedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/CacheMock.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/CryptoKeyHolder.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/DecryptMetastoreInteractions.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/DynamoDbGlobalTableIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/EncryptMetastoreInteractions.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/MetastoreMock.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/SessionBytesIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/SessionJsonIT.java
Due: java_app_encryption

Integration tests in JAVA
  .circleci/config.yml
  build/java/integration_test.sh
  java/app-encryption/pom.xml
  java/app-encryption/scripts/integration_test.sh
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/DynamoDbGlobalTableIT.java
Due: java_app_encryption

Fix failing build
  .circleci/config.yml
Due: none

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
