Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

fix go paths
  server/samples/clients/test_clients.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

version bump v0.2.4
  go/appencryption/.versionfile
Due: go_appencryption

updated transitive dependencies
  go/appencryption/go.mod
  go/appencryption/go.sum
Due: go_appencryption

update test dep: testcontainers-go => v0.13.0
  go/appencryption/go.mod
  go/appencryption/go.sum
Due: go_appencryption

update min go version to 1.17
  go/appencryption/cmd/example/go.mod
  go/appencryption/cmd/example/go.sum
  go/appencryption/go.mod
  go/appencryption/go.sum
  samples/go/aws/lambda/function/go.mod
  samples/go/aws/lambda/function/go.sum
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
  server/go/go.mod
  server/go/go.sum
  tests/cross-language/go/go.mod
  tests/cross-language/go/go.sum
Due: go_appencryption, server-go

updates for go 1.17
  .github/workflows/ci.yml
Due: none

github.com/aws/aws-sdk-go => v1.43.39
  go/appencryption/go.mod
  go/appencryption/go.sum
Due: go_appencryption

go mod tidy -go={1.16,1.17}
  tests/cross-language/go/go.mod
  tests/cross-language/go/go.sum
Due: none

upgrade go server deps to latest
  server/go/go.mod
  server/go/go.sum
Due: server-go

update go samples deps to latest
  samples/go/aws/lambda/function/go.mod
  samples/go/aws/lambda/function/go.sum
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
Due: none

update go cross-language test deps to latest
  tests/cross-language/go/go.mod
  tests/cross-language/go/go.sum
Due: none

update nuget dependencies
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/Logging/Logging.Tests/Logging.Tests.csproj
  csharp/Logging/Logging/Logging.csproj
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

back down logging
  csharp/Logging/Logging/Logging.csproj
Due: csharp_Logging

back down in test project too
  csharp/Logging/Logging.Tests/Logging.Tests.csproj
Due: csharp_Logging

back down Configuration.Json
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

back off Caching.Memory
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
Due: csharp_AppEncryption

back off Logging.Console
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
Due: csharp_AppEncryption

Bump C# Logging version
  csharp/Logging/Directory.Build.props
Due: csharp_Logging

Bump C# SecureMemory version
  csharp/SecureMemory/Directory.Build.props
Due: csharp_SecureMemory

Use latest Logging and SecureMemory
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Java AppEncryption version bump
  java/app-encryption/pom.xml
Due: java_app_encryption

Update jackson version
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade com.amazonaws:aws-java-sdk-kms from 1.11.966 to 1.12.248
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.micrometer:micrometer-core from 1.6.4 to 1.9.1
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade com.github.ben-manes.caffeine:caffeine from 3.0.0 to 3.1.1
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade org.slf4j:slf4j-api from 1.7.30 to 1.7.36
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.grpc:grpc-protobuf from 1.28.0 to 1.47.0
  server/java/pom.xml
Due: server-java

fix: server/java/pom.xml to reduce vulnerabilities
  server/java/pom.xml
Due: server-java

fix: upgrade org.junit.jupiter:junit-jupiter-engine from 5.1.1 to 5.8.2
  server/java/pom.xml
Due: server-java

fix: upgrade io.netty:netty-all from 4.1.48.Final to 4.1.78.Final
  server/java/pom.xml
Due: server-java

fix: upgrade io.micrometer:micrometer-registry-cloudwatch from 1.5.5 to 1.9.1
  samples/java/reference-app/pom.xml
Due: none

fix: upgrade @grpc/proto-loader from 0.5.6 to 0.6.13
  server/samples/clients/node/package-lock.json
  server/samples/clients/node/package.json
Due: none

fix: upgrade io.grpc:grpc-stub from 1.28.0 to 1.47.0
  server/java/pom.xml
Due: server-java

fix: upgrade io.dropwizard.metrics:metrics-core from 4.1.12.1 to 4.2.10
  samples/java/reference-app/pom.xml
Due: none

fix: upgrade @grpc/grpc-js from 1.4.1 to 1.6.7
  server/samples/clients/node/package-lock.json
  server/samples/clients/node/package.json
Due: none

Log KMS decrypt errors in Asherah Go
  go/appencryption/pkg/kms/aws.go
Due: go_appencryption

fix: java/app-encryption/pom.xml to reduce vulnerabilities
  java/app-encryption/pom.xml
Due: java_app_encryption

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
