Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

Convert to symlink
  csharp/SecureMemory/scripts/install-dotnet-3.1.sh
Due: csharp_SecureMemory

Now try upgrading everything to 6.x
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

Update packages for snyk alerts
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

Fix build to use sdk 6.0 with 3.1 targetting
  .github/workflows/ci.yml
  build/csharp/install-dotnet-3.1.sh
  csharp/SecureMemory/scripts/install-dotnet-3.1.sh
Due: csharp_SecureMemory

C# SM Version Bump
  csharp/SecureMemory/Directory.Build.props
Due: csharp_SecureMemory

Use sdk:6.0 for all builds with 3.1 targeting
  .github/workflows/ci.yml
Due: none

Bump SecureMemory version
  csharp/AppEncryption/Crypto/Crypto.csproj
Due: csharp_AppEncryption

Fix up other packages
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/scripts/install-dotnet-3.1.sh
  csharp/Logging/scripts/install-dotnet-3.1.sh
  samples/csharp/ReferenceApp/scripts/install-dotnet-3.1.sh
Due: csharp_AppEncryption, csharp_Logging

Update test packages
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
Due: csharp_SecureMemory

C# AE Version Bump
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

fix: java/app-encryption/pom.xml to reduce vulnerabilities
  java/app-encryption/pom.xml
Due: java_app_encryption

Bump version
  csharp/SecureMemory/Directory.Build.props
Due: csharp_SecureMemory

Remove abandoned App.Metrics package
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/DynamoDbGlobalTableTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Util/MetricsUtilTest.cs
  csharp/AppEncryption/AppEncryption.Tests/MetricsFixture.cs
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/Kms/AwsKeyManagementServiceImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/AdoMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/AppEncryption/Util/MetricsUtil.cs
Due: csharp_AppEncryption

Bump version
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Explicitly update to System.Text 6.x packages
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
Due: csharp_AppEncryption

Update Directory.Build.props
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Update Crypto.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
Due: csharp_AppEncryption

update go directive to 1.17, go mod tidy, dependency updates
  go/securememory/go.mod
  go/securememory/go.sum
Due: go_securememory

upgrade golang.org/x/text to v0.3.7
  go/securememory/go.mod
  go/securememory/go.sum
Due: go_securememory

update golang.org/x/net to v0.0.0-20221004154528-8021a29435af
  go/securememory/go.mod
  go/securememory/go.sum
Due: go_securememory

update golang.org/x/crypto
  go/securememory/go.mod
  go/securememory/go.sum
Due: go_securememory

Update golang/x/crypto
  go/appencryption/go.mod
  go/appencryption/go.sum
Due: go_appencryption

fix: server/java/pom.xml to reduce vulnerabilities
  server/java/pom.xml
Due: server-java

fix: upgrade org.junit.platform:junit-platform-surefire-provider from 1.1.1 to 1.3.2
  server/java/pom.xml
Due: server-java

dependency updates and fixes
  java/app-encryption/pom.xml
Due: java_app_encryption

bump version
  java/app-encryption/pom.xml
Due: java_app_encryption

upgrade jackson-databind only
  java/app-encryption/pom.xml
Due: java_app_encryption

use accessModifiers, scope has been removed
  java/app-encryption/checkstyle.xml
Due: java_app_encryption

style fix
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
Due: java_app_encryption

java server dependency updates
  server/java/pom.xml
  server/java/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc/AppEncryptionGrpc.java
  server/java/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc/AppEncryptionProtos.java
Due: server-java

fix: upgrade com.google.protobuf:protobuf-java from 3.21.7 to 3.21.9
  server/java/pom.xml
Due: server-java

remove redundant `protoc.version` property
  server/java/pom.xml
Due: server-java

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
