Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: languages_csharp_AppEncryption, languages_csharp_Logging, languages_csharp_SecureMemory, languages_java_app_encryption, languages_java_secure_memory

WIP : Add dotnet tools to PATH
  .circleci/config.yml
Due: none

Added trx logger to all test scripts Update circleci configuration to use the generated testresults for all csharp projects
  .circleci/config.yml
  languages/csharp/AppEncryption/scripts/test.sh
  languages/csharp/SecureMemory/scripts/test.sh
Due: languages_csharp_AppEncryption, languages_csharp_SecureMemory

Add CI for csharp reference app
  .circleci/config.yml
Due: none

No need to run tests in reference app
  .circleci/config.yml
Due: none

Changes as per review comments Changed ordering of steps for cache Use CircleCI environment variables
  .circleci/config.yml
Due: none

Use env variable and some debug code
  .circleci/config.yml
Due: none

Change debug code
  .circleci/config.yml
Due: none

Using relative path for right now
  .circleci/config.yml
Due: none

Missed a typo
  .circleci/config.yml
Due: none

Add CI for C# repos (#91)
  .circleci/config.yml
  .codecov.yml
  languages/csharp/AppEncryption/scripts/test.sh
  languages/csharp/Logging/scripts/test.sh
  languages/csharp/SecureMemory/scripts/test.sh
  scripts/checksum.sh
Due: languages_csharp_AppEncryption, languages_csharp_Logging, languages_csharp_SecureMemory

forgot to integrate new circleci caching apporach
  .circleci/config.yml
Due: none

Squashed commit of the following:
  .circleci/config.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

Try secure memory build
  .circleci/config.yml
Due: none

WIP : Correct yaml
  .circleci/config.yml
Due: none

WIP : Trying reference of projects
  .circleci/config.yml
  languages/csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  languages/csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: languages_csharp_SecureMemory

WIP : adding dependencies on external projects
  .circleci/config.yml
  languages/csharp/SecureMemory/scripts/build.sh
  languages/csharp/SecureMemory/scripts/clean.sh
Due: languages_csharp_SecureMemory

fix/refactor dependency logic in circleci
  .circleci/calculate_dependencies.py
  .circleci/compare-url-reconstruct-patch.sh
  .circleci/config.yml
Due: none

fixed bug in dependency calculation script
  .circleci/calculate_dependencies.py
Due: none

ensure env file exists even in no-op flow
  .circleci/config.yml
Due: none

whitespace change to trigger ci diff logic
  languages/java/secure-memory/README.md
Due: languages_java_secure_memory

fix bug in export variable naming
  .circleci/config.yml
  languages/java/secure-memory/README.md
Due: languages_java_secure_memory

comment the java AE project out in circleci again
  .circleci/config.yml
  languages/csharp/Logging/README.md
Due: languages_csharp_Logging

WIP : Trying to persist workspace
  .circleci/NuGet.Config
  .circleci/config.yml
  languages/csharp/Logging/Directory.Build.props
  languages/csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  languages/csharp/SecureMemory/SecureMemory/SecureMemory.csproj
  languages/csharp/SecureMemory/scripts/build.sh
  languages/csharp/SecureMemory/scripts/clean.sh
Due: languages_csharp_Logging, languages_csharp_SecureMemory

- Update POM files for artifact deployment - Add maven settings file GPG signing and artifact deployment
  languages/java/app-encryption/pom.xml
  languages/java/secure-memory/pom.xml
  languages/java/settings.xml
Due: languages_java_app_encryption, languages_java_secure_memory

WIP : Fix config.yaml
  .circleci/config.yml
Due: none

WIP : Fix path
  .circleci/config.yml
Due: none

WIP : Fix project path
  .circleci/config.yml
Due: none

WIP : Fix stupid typo
  .circleci/config.yml
Due: none

WIP : Fix path to persist
  .circleci/config.yml
Due: none

WIP : Add some debug code
  .circleci/config.yml
Due: none

WIP : Use wildcard for Logging dependency in SecureMemory
  languages/csharp/SecureMemory/PlatformNative/PlatformNative.csproj
Due: languages_csharp_SecureMemory

WIP : Remove debug code and try to build AppEncryption
  .circleci/config.yml
  languages/csharp/AppEncryption/Directory.Build.props
  languages/csharp/SecureMemory/Directory.Build.props
Due: languages_csharp_AppEncryption, languages_csharp_SecureMemory

WIP : Use wildcard for secure memory builds
  languages/csharp/AppEncryption/Crypto/Crypto.csproj
Due: languages_csharp_AppEncryption

Path conditions:
  languages_csharp_AppEncryption: any of: languages/csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_csharp_Logging: any of: languages/csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_csharp_SecureMemory: any of: languages/csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_java_app_encryption: any of: languages/java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_java_secure_memory: any of: languages/java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
