Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory

Go-Remove SM dependency on AE
  .circleci/config.yml
Due: none

- Add installation step - Update godoc link
  go/appencryption/README.md
  go/securememory/README.md
Due: none

Release JAVA AE v0.1.0
  .circleci/config.yml
  java/app-encryption/pom.xml
Due: java_app_encryption

Release JAVA AE v0.1.0 (#158)
  .circleci/config.yml
  java/app-encryption/pom.xml
Due: java_app_encryption

Release JAVA AE v0.1.0 (#158) (#159)
  .circleci/config.yml
  java/app-encryption/pom.xml
Due: java_app_encryption

Update javadocs
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/AdhocPersistence.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/AeadCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/BasicExpiringCryptoPolicy.java
Due: java_app_encryption

Address review comments
  go/appencryption/README.md
  go/securememory/README.md
Due: none

Address review comments
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/AeadCrypto.java
Due: java_app_encryption

Update missing javadocs (#160)
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/AdhocPersistence.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/AeadCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/BasicExpiringCryptoPolicy.java
Due: java_app_encryption

Update missing javadocs (#161)
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/AdhocPersistence.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/AeadCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/BasicExpiringCryptoPolicy.java
Due: java_app_encryption

go fmt the code block
  go/appencryption/README.md
Due: none

Enable PR builds on forks
  .circleci/config.yml
  .circleci/set_env_variables.sh
Due: none

update java ae dependency
  samples/java/reference-app/pom.xml
  tests/cross-language/java/pom.xml
  tests/java/test-app/pom.xml
Due: none

test updated env variables
  .circleci/config.yml
  .circleci/set_env_variables.sh
Due: none

Address review comments
  .circleci/config.yml
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
Due: none

Remove AE dependency on reference-app for Java and Go
  .circleci/config.yml
Due: none

Add sidecars to the CI process
  .circleci/config.yml
  .circleci/set_env_variables.sh
Due: none

Add build scripts
  server/go/scripts/build.sh
  server/go/scripts/lint.sh
  server/go/scripts/test.sh
  server/java/scripts/build.sh
  server/java/scripts/clean.sh
  server/java/scripts/test.sh
Due: none

Add jacoco plugin for java server
  server/java/pom.xml
Due: none

Add installation instructions for SecureMemory and AppEncryption
  java/app-encryption/README.md
  java/secure-memory/README.md
Due: java_app_encryption, java_secure_memory

Update README.md
  java/secure-memory/README.md
Due: java_secure_memory

Add installation instructions for SecureMemory and AppEncryption (#165)
  java/app-encryption/README.md
  java/secure-memory/README.md
Due: java_app_encryption, java_secure_memory

CLTF for sidecar
  .circleci/config.yml
  .circleci/set_env_variables.sh
  samples/go/referenceapp/main.go
  server/go/pkg/server/server.go
  server/java/pom.xml
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionImpl.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionImplTest.java
  tests/cross-language/features/decrypt.feature
  tests/cross-language/scripts/test.sh
  tests/cross-language/sidecar/appencryption_pb2.py
  tests/cross-language/sidecar/appencryption_pb2_grpc.py
  tests/cross-language/sidecar/appencryption_types.py
  tests/cross-language/sidecar/client.py
  tests/cross-language/sidecar/features/steps/decrypt.py
  tests/cross-language/sidecar/features/steps/encrypt.py
  tests/cross-language/sidecar/requirements.txt
Due: none

Address review comments
  .circleci/config.yml
  .codecov.yml
  server/go/go.mod
  server/go/go.sum
  server/go/scripts/test.sh
  server/java/scripts/clean.sh
  server/java/scripts/test.sh
Due: none

Update test script and add a gitignore file for Go server
  server/go/.gitignore
  server/go/scripts/test.sh
Due: none

Add Java and Go gRPC servers to Ci pipeline (#164)
  .circleci/config.yml
  .circleci/set_env_variables.sh
  .codecov.yml
  server/go/.gitignore
  server/go/go.mod
  server/go/go.sum
  server/go/scripts/build.sh
  server/go/scripts/lint.sh
  server/go/scripts/test.sh
  server/java/pom.xml
  server/java/scripts/build.sh
  server/java/scripts/clean.sh
  server/java/scripts/test.sh
Due: none

Use the same static key across all SDKs/Servers
  csharp/AppEncryption/AppEncryption.IntegrationTests/TestHelpers/Constants.cs
  csharp/AppEncryption/README.md
  java/app-encryption/README.md
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
  samples/go/referenceapp/main.go
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  server/go/pkg/server/server.go
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionImplTest.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionServerTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/testhelpers/Constants.java
Due: csharp_AppEncryption, java_app_encryption

Replace remaining occurences with same static key
  README.md
  go/appencryption/README.md
  go/appencryption/cmd/example/main.go
  go/appencryption/integration_benchmark_test.go
  tests/cross-language/csharp/Constants.cs
  tests/cross-language/go/const.go
  tests/cross-language/java/src/test/java/com/godaddy/asherah/cltf/Constants.java
Due: none

CLTF framework implementation for go and java sidecar
  .circleci/config.yml
  samples/go/referenceapp/main.go
  server/go/pkg/server/server.go
  server/java/pom.xml
  server/java/scripts/install_local.sh
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionImpl.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionImplTest.java
  tests/cross-language/features/decrypt.feature
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
  tests/cross-language/scripts/test.sh
  tests/cross-language/sidecar/appencryption_pb2.py
  tests/cross-language/sidecar/appencryption_pb2_grpc.py
  tests/cross-language/sidecar/appencryption_types.py
  tests/cross-language/sidecar/client.py
  tests/cross-language/sidecar/features/steps/decrypt.py
  tests/cross-language/sidecar/features/steps/encrypt.py
  tests/cross-language/sidecar/requirements.txt
Due: none

Temporarily remove server from codecov
  .codecov.yml
Due: none

[go] Add regional suffix support for DynamoDBMetastore
  go/appencryption/.versionfile
  go/appencryption/partition.go
  go/appencryption/partition_test.go
  go/appencryption/pkg/persistence/dynamodb.go
  go/appencryption/pkg/persistence/dynamodb_test.go
  go/appencryption/session.go
  go/appencryption/session_test.go
Due: none

Address review comments
  .circleci/config.yml
  tests/cross-language/csharp/decrypt.feature
  tests/cross-language/csharp/encrypt.feature
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
  tests/cross-language/sidecar/appencryption_client.py
  tests/cross-language/sidecar/appencryption_pb2.py
  tests/cross-language/sidecar/appencryption_pb2_grpc.py
  tests/cross-language/sidecar/appencryption_types.py
  tests/cross-language/sidecar/client.py
  tests/cross-language/sidecar/features/decrypt.feature
  tests/cross-language/sidecar/features/encrypt.feature
  tests/cross-language/sidecar/features/steps/decrypt.py
  tests/cross-language/sidecar/features/steps/encrypt.py
Due: none

Missed a line
  tests/cross-language/scripts/encrypt_all.sh
Due: none

Minor cleanup of environment variable
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
  tests/cross-language/sidecar/features/steps/encrypt.py
Due: none

CLTF framework implementation for Go and Java sidecar (#167)
  .circleci/config.yml
  samples/go/referenceapp/main.go
  server/go/pkg/server/server.go
  server/java/pom.xml
  server/java/scripts/install_local.sh
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionImpl.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionImplTest.java
  tests/cross-language/csharp/decrypt.feature
  tests/cross-language/csharp/encrypt.feature
  tests/cross-language/features/decrypt.feature
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
  tests/cross-language/scripts/test.sh
  tests/cross-language/sidecar/appencryption_client.py
  tests/cross-language/sidecar/appencryption_pb2.py
  tests/cross-language/sidecar/appencryption_pb2_grpc.py
  tests/cross-language/sidecar/appencryption_types.py
  tests/cross-language/sidecar/features/decrypt.feature
  tests/cross-language/sidecar/features/encrypt.feature
  tests/cross-language/sidecar/features/steps/decrypt.py
  tests/cross-language/sidecar/features/steps/encrypt.py
  tests/cross-language/sidecar/requirements.txt
Due: none

Ignore auto-generated gRPC files from codecov
  .circleci/config.yml
  codecov.yml
Due: none

Update ignore options
  codecov.yml
Due: none

Update ignore section
  codecov.yml
Due: none

Exclude C# Non-linux native paths using codecov.yml
  codecov.yml
  csharp/AppEncryption/scripts/integration_test.sh
  csharp/AppEncryption/scripts/test.sh
  csharp/SecureMemory/scripts/test.sh
Due: csharp_AppEncryption, csharp_SecureMemory

Path conditions:
  csharp_AppEncryption: any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  csharp_Logging: any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  csharp_SecureMemory: any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  java_app_encryption: any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  java_secure_memory: any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
