Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags: csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags: csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags: csharp_SecureMemory
        target: 90%
      java-app-encryption:
        flags: java_app_encryption
        target: 90%
      java-secure-memory:
        flags: java_secure_memory
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
ignore:
  # Ignore non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  # No need for C# path since the dotnet test command handles it currently (should change if/when we do the above)
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macos path

Fix indent in pom file
  server/java/README.md
  server/java/pom.xml
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionServerTest.java
Due: none

- Address review comments - Extend eslint-config-godaddy for linting - Update JSDocs
  server/samples/clients/node/.eslintrc.json
  server/samples/clients/node/README.md
  server/samples/clients/node/appencryption_client.js
  server/samples/clients/node/package-lock.json
  server/samples/clients/node/package.json
Due: none

Move signal listeners outside the loop
  server/samples/clients/node/appencryption_client.js
Due: none

Node grpc client (#140)
  server/README.md
  server/samples/clients/node/.eslintrc.json
  server/samples/clients/node/.gitignore
  server/samples/clients/node/Dockerfile
  server/samples/clients/node/README.md
  server/samples/clients/node/appencryption_client.js
  server/samples/clients/node/package-lock.json
  server/samples/clients/node/package.json
  server/samples/docker-compose-node.yaml
  server/samples/docker-compose-python.yaml
Due: none

[server/samples] Amazon ECS sample/walkthrough (#139)
  server/README.md
  server/samples/docker-compose-ecs.yaml
  server/samples/ecs-params.yaml
Due: none

Add docker image
  server/README.md
  server/java/.dockerignore
  server/java/Dockerfile
  server/java/README.md
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/ServerApp.java
Due: none

WIP : Address review comments #1
  server/README.md
  server/java/Dockerfile
  server/java/README.md
  server/java/pom.xml
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionImpl.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionImplTest.java
Due: none

fixed option check for region map
  server/go/main.go
Due: none

added flag to chmod g+rwx socket for non-root access
  server/go/main.go
Due: none

Address review comments #2
  server/java/README.md
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionImpl.java
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionServer.java
  server/java/src/main/java/com/godaddy/asherah/grpc/ServerApp.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionConfigTest.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionImplTest.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionServerTest.java
Due: none

Add deploy scripts and new circleci config for java
  .circleci/config.yml
  .circleci/settings.xml
  java/app-encryption/pom.xml
  java/app-encryption/scripts/release_prod.sh
  java/secure-memory/pom.xml
  java/secure-memory/scripts/release_prod.sh
Due: java_app_encryption, java_secure_memory

Add test case for multiple clients
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionImplTest.java
Due: none

add go changes
  go/appencryption/.versionfile
  go/appencryption/scripts/release_prod.sh
  go/securememory/.versionfile
  go/securememory/scripts/release_prod.sh
Due: none

add csharp and other changes
  csharp/AppEncryption/AppEncryption/AppEncryption.nuspec
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Directory.Build.props
  csharp/AppEncryption/scripts/release_prod.sh
  csharp/Logging/Directory.Build.props
  csharp/Logging/Logging/Logging.nuspec
  csharp/Logging/scripts/release_prod.sh
  csharp/SecureMemory/Directory.Build.props
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/SecureMemory/SecureMemory.nuspec
  csharp/SecureMemory/scripts/release_prod.sh
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
  samples/java/reference-app/pom.xml
  tests/cross-language/csharp/Cltf.csproj
  tests/cross-language/java/pom.xml
  tests/java/test-app/pom.xml
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

add * from c# dependencies
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
  tests/cross-language/csharp/Cltf.csproj
Due: csharp_AppEncryption, csharp_SecureMemory

Suppress errors for editors like vscode which don't read pom checkstyle configurations
  server/java/checkstyle.xml
  server/java/pom.xml
  server/java/suppressions.xml
Due: none

Run C# AE integration tests without coverage
  .circleci/config.yml
  csharp/AppEncryption/scripts/integration_test.sh
Due: csharp_AppEncryption

Delete unused scripts
  csharp/AppEncryption/scripts/deploy.sh
  csharp/AppEncryption/scripts/release_test.sh
  csharp/Logging/scripts/deploy.sh
  csharp/Logging/scripts/release_test.sh
  csharp/SecureMemory/scripts/deploy.sh
  csharp/SecureMemory/scripts/release_test.sh
  java/app-encryption/scripts/deploy.sh
  java/app-encryption/scripts/integration_test.sh
  java/app-encryption/scripts/release_test.sh
  java/secure-memory/scripts/deploy.sh
  java/secure-memory/scripts/integration_test.sh
  java/secure-memory/scripts/release_test.sh
  samples/csharp/ReferenceApp/scripts/deploy.sh
  samples/csharp/ReferenceApp/scripts/test.sh
  samples/java/reference-app/scripts/deploy.sh
  samples/java/reference-app/scripts/integration_test.sh
  samples/java/reference-app/scripts/test.sh
  tests/java/test-app/scripts/deploy.sh
  tests/java/test-app/scripts/integration_test.sh
  tests/java/test-app/scripts/release.sh
  tests/java/test-app/scripts/test.sh
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory

correct script name[ci skip]
  .circleci/config.yml
Due: none

trigger build
  .circleci/config.yml
Due: none

Missed a comment
  server/java/README.md
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionImpl.java
Due: none

Suppress half close messages from server
  server/README.md
  server/java/Dockerfile
  server/java/README.md
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionImpl.java
Due: none

Fix checkstyle issues
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionImpl.java
Due: none

Address review comments
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/scripts/release_prod.sh
  csharp/Logging/Logging/Logging.csproj
  csharp/Logging/scripts/release_prod.sh
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
  csharp/SecureMemory/scripts/release_prod.sh
  go/appencryption/scripts/release_prod.sh
  go/securememory/scripts/release_prod.sh
  java/app-encryption/scripts/release_prod.sh
  java/secure-memory/scripts/release_prod.sh
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory

update circleci config
  .circleci/config.yml
Due: none

Add GH keys manually if deploying
  .circleci/config.yml
Due: none

Update circleci config and release scripts
  .circleci/config.yml
  csharp/AppEncryption/scripts/release_prod.sh
  csharp/Logging/scripts/release_prod.sh
  csharp/SecureMemory/scripts/release_prod.sh
  go/appencryption/scripts/release_prod.sh
  go/securememory/scripts/release_prod.sh
  java/app-encryption/scripts/release_prod.sh
  java/secure-memory/scripts/release_prod.sh
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory

JAVA based implementation for Asherah gRPC server (#138)
  server/README.md
  server/java/.dockerignore
  server/java/.gitignore
  server/java/Dockerfile
  server/java/README.md
  server/java/checkstyle.xml
  server/java/pom.xml
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionImpl.java
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionServer.java
  server/java/src/main/java/com/godaddy/asherah/grpc/Constants.java
  server/java/src/main/java/com/godaddy/asherah/grpc/ServerApp.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionConfigTest.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionImplTest.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionServerTest.java
  server/java/suppressions.xml
  server/java/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc/AppEncryptionGrpc.java
  server/java/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc/AppEncryptionProtos.java
Due: none

Update circleci config and POM files
  .circleci/config.yml
  csharp/AppEncryption/scripts/release_prod.sh
  csharp/Logging/scripts/release_prod.sh
  csharp/SecureMemory/scripts/release_prod.sh
  go/appencryption/scripts/release_prod.sh
  go/securememory/scripts/release_prod.sh
  java/app-encryption/pom.xml
  java/app-encryption/scripts/release_prod.sh
  java/secure-memory/pom.xml
  java/secure-memory/scripts/release_prod.sh
  samples/java/reference-app/pom.xml
  tests/cross-language/java/pom.xml
  tests/java/test-app/pom.xml
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory

Update Java SM version to 0.1.0
  java/secure-memory/pom.xml
Due: java_secure_memory

Update Java SM version to 0.1.0 (#147)
  java/secure-memory/pom.xml
Due: java_secure_memory

Release Go SecureMemory 0.1.0
  go/securememory/.versionfile
Due: none

Feature release (#148)
  go/securememory/.versionfile
Due: none

Feature release (#148) (#149)
  go/securememory/.versionfile
Due: none

Update artifact name for Go
  go/appencryption/scripts/release_prod.sh
  go/securememory/scripts/release_prod.sh
Due: none

Update artifact name for Go (#150)
  go/appencryption/scripts/release_prod.sh
  go/securememory/scripts/release_prod.sh
Due: none

Go SecureMemory v0.1.0 (#151)
  go/appencryption/scripts/release_prod.sh
  go/securememory/scripts/release_prod.sh
Due: none

Release Go AppEncryption v0.1.0
  go/appencryption/.versionfile
  go/appencryption/go.mod
  go/appencryption/go.sum
Due: none

Release Go AppEncryption v0.1.0 (#152)
  go/appencryption/.versionfile
  go/appencryption/go.mod
  go/appencryption/go.sum
Due: none
