Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

Use system page size
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemory.cs
Due: csharp_SecureMemory

Clean up usings
  csharp/SecureMemory/PlatformNative/LP64/Linux/LinuxOpenSSL11LP64.cs
  csharp/SecureMemory/PlatformNative/LP64/Linux/OpenSSLCrypto.cs
Due: csharp_SecureMemory

Newline
  csharp/SecureMemory/StyleCopCustom.ruleset
Due: csharp_SecureMemory

Remove malloc_done due to sharing heap with OpenSSL
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

Fix rounding so that we round on decrypt, but not on encrypt
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

Shorten lock window and ensure key page protection restored
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemory.cs
Due: csharp_SecureMemory

Remove unused
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemory.cs
Due: csharp_SecureMemory

Add locking for Dispose in the Disposing case
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemory.cs
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

Disable another StyleCop flag for documentation
  csharp/SecureMemory/StyleCopCustom.ruleset
Due: csharp_SecureMemory

Tests now cover both allocators, plus more guard rails
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/IProtectedMemoryAllocator.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemory.cs
Due: csharp_SecureMemory

Add the allocator generator for xunit
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/AllocatorGenerator.cs
Due: csharp_SecureMemory

Copy .editorconfig to csharp directories so it will be used
  csharp/AppEncryption/.editorconfig
  csharp/Logging/.editorconfig
  csharp/SecureMemory/.editorconfig
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

Remove duplicate editorconfig files
  csharp/AppEncryption/.editorconfig
  csharp/Logging/.editorconfig
  csharp/SecureMemory/.editorconfig
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

Fix EOF
  csharp/SecureMemory/SecureMemory.sln
  csharp/SecureMemory/StyleCopCustom.ruleset
Due: csharp_SecureMemory

Re-fix whitespace / pre-commit hook run
  csharp/SecureMemory/SecureMemory.Tests/CheckTest.cs
  csharp/SecureMemory/SecureMemory.Tests/EndToEndTests.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/AllocatorGenerator.cs
  csharp/SecureMemory/SecureMemory.sln
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Add tartufo scanner pre-commit hook
  .pre-commit-config.yaml
Due: none

Change interface back to internal
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/IProtectedMemoryAllocator.cs
Due: csharp_SecureMemory

Update java/app-encryption/src/main/java/com/godaddy/asherah/crypto/envelope/AeadEnvelopeCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/envelope/AeadEnvelopeCrypto.java
Due: java_app_encryption

Update java/app-encryption/src/main/java/com/godaddy/asherah/crypto/keys/SecureCryptoKeyMap.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/keys/SecureCryptoKeyMap.java
Due: java_app_encryption

Address review comments
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/AeadCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/BasicExpiringCryptoPolicy.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/CryptoPolicy.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/bufferutils/ManagedBufferUtils.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/exceptions/CipherNotSupportedException.java
Due: java_app_encryption

minor fixes
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/envelope/AeadEnvelopeCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/envelope/EnvelopeEncryptResult.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/keys/CryptoKey.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/keys/SecretCryptoKey.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/keys/SecureCryptoKeyMap.java
Due: java_app_encryption

[C#] bump SecureMemory to v0.1.4
  csharp/SecureMemory/Directory.Build.props
Due: csharp_SecureMemory

Add JavaDocs for public methods (#288)
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/AeadCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/BasicExpiringCryptoPolicy.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/CryptoPolicy.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/NonceGenerator.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/bufferutils/ManagedBufferUtils.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyAes256GcmCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/exceptions/CipherNotSupportedException.java
Due: java_app_encryption

revert back to using coverlet.msbuild
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
Due: csharp_SecureMemory

Add missing '.'
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/keys/SecureCryptoKeyMap.java
Due: java_app_encryption

JavaDocs for public methods (#289)
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/envelope/AeadEnvelopeCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/envelope/EnvelopeEncryptResult.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/keys/CryptoKey.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/keys/SecretCryptoKey.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/keys/SecureCryptoKeyMap.java
Due: java_app_encryption

[Java] secure-memory: JDK 11 support (build env only), upgraded dependencies
  .circleci/config.yml
  java/secure-memory/checkstyle.xml
  java/secure-memory/pom.xml
Due: java_secure_memory

[Java] bump secure-memory to v0.1.1
  java/secure-memory/pom.xml
Due: java_secure_memory

[C#] additional test coverage for exception path
  csharp/SecureMemory/PlatformNative/LP64/Linux/LinuxOpenSSL11LP64.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorTest.cs
Due: csharp_SecureMemory

[Java] bump app-encryption to v0.1.4-alpha
  java/app-encryption/pom.xml
Due: java_app_encryption

Replace TryLoadTable with LoadTable.
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

upgraded dependencies
  java/app-encryption/checkstyle.xml
  java/app-encryption/pom.xml
Due: java_app_encryption

initial jdk-11 build updates for app-encryption
  .circleci/config.yml
Due: none

more dependency upgrades
  java/app-encryption/pom.xml
Due: java_app_encryption

[Java] bump app-encryption to v0.1.4
  java/app-encryption/pom.xml
Due: java_app_encryption

[Java] Update reference-app to use latest AE (v0.1.4)
  .circleci/config.yml
  samples/java/reference-app/README.md
  samples/java/reference-app/checkstyle.xml
  samples/java/reference-app/pom.xml
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
Due: none

[docs] removed old roadmap chart
  docs/ROADMAP.md
  docs/images/roadmap.png
Due: none

Add creation stack trace debug mode for ProtectedMemorySecret
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
Due: csharp_SecureMemory

Enable debugSecrets for these tests
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
Due: csharp_SecureMemory

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
