Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags: csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags: csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags: csharp_SecureMemory
        target: 90%
      java-app-encryption:
        flags: java_app_encryption
        target: 90%
      java-secure-memory:
        flags: java_secure_memory
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
ignore:
  # Ignore non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  # No need for C# path since the dotnet test command handles it currently (should change if/when we do the above)
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macos path

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags:
          - csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags:
          - csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags:
          - csharp_SecureMemory
        target: 90%
      go-securememory:
        flags:
          - go_securememory
        target: 90%
      go-appencryption:
        flags:
          - go_appencryption
        target: 90%
      java-app-encryption:
        flags:
          - java_app_encryption
        target: 90%
      java-secure-memory:
        flags:
          - java_secure_memory
        target: 90%
      server-go:
        flags:
          - server_go
        target: 90%
      server-java:
        flags:
          - server_java
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  go_securememory:
    paths:
      - go/securememory
  go_appencryption:
    paths:
      - go/appencryption
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
  server-go:
    paths:
      - server/go
  server-java:
    paths:
      - server/java
ignore:
  # Non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macOS path
  - "**/SecureMemory/ProtectedMemoryImpl/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LP64/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LLP64/Windows" # C# Windows path
  - "**/SecureMemory/ProtectedMemoryImpl/Windows" # C# Windows path
  # gRPC auto-generated file
  - "**/target/generated-sources/protobuf" # Java auto-generated files
  - "**api/appencryption.pb.go" # Go auto-generated files
  # Server startup files
  - "**/com/godaddy/asherah/grpc/ServerApp.java" # Java server startup

Create CICD workflow using GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/set_env_variables.sh
  build/csharp/release_prod.sh
  build/go/benchmark_test.sh
  build/go/release_prod.sh
  build/java/release_prod.sh
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/DynamoDbGlobalTableTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDBContainerFixture.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/MySqlContainerFixture.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SuffixedPartitionTest.cs
  csharp/AppEncryption/AppEncryption/SuffixedPartition.cs
  csharp/AppEncryption/Directory.Build.props
  go/appencryption/cache_test.go
  go/appencryption/pkg/persistence/persistencetest/dynamodb.go
  go/appencryption/pkg/persistence/sql_test.go
  java/app-encryption/pom.xml
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/DynamoDbGlobalTableIT.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SuffixedPartition.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SuffixedPartitionTest.java
  server/java/pom.xml
  server/samples/clients/node/package-lock.json
  server/samples/clients/node/package.json
  tartufo.toml
  tests/cross-language/csharp/Constants.cs
  tests/cross-language/go/encrypt_test.go
  tests/cross-language/java/src/test/java/com/godaddy/asherah/cltf/Constants.java
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
  tests/cross-language/sidecar/features/steps/encrypt.py
Due: csharp_AppEncryption, java_app_encryption, go_appencryption, server-java

address review comments
  .circleci/config.yml
  .circleci/set_env_variables.sh
  .circleci/settings.xml
  .github/workflows/ci.yml
  .github/workflows/set_env_variables.sh
  build/csharp/release_prod.sh
Due: none

Review comments-2
  .github/workflows/ci.yml
  build/go/benchmark_test.sh
Due: none

Use startsWith conditional instead of contains
  .github/workflows/ci.yml
Due: none

Update job name for Go AE
  .github/workflows/ci.yml
Due: none

Version bump
  java/app-encryption/pom.xml
Due: java_app_encryption

Update workflow triggers
  .github/workflows/ci.yml
Due: none

Update trigger events
  .github/workflows/ci.yml
Due: none

Use custom PAT in sync-release
  .github/workflows/sync-release.yml
Due: none

Check branch and repo for release jobs
  .github/workflows/ci.yml
Due: none

Install xmllint and update pom for gpg
  .github/workflows/ci.yml
  java/app-encryption/pom.xml
Due: java_app_encryption

Update pom for Java SecureMemory
  java/secure-memory/pom.xml
Due: java_secure_memory

Add caching step and use custom token in release jobs
  .github/workflows/ci.yml
  build/csharp/release_prod.sh
  build/go/release_prod.sh
  build/java/release_prod.sh
  tartufo.toml
Due: none

Update cache key
  .github/workflows/ci.yml
Due: none

Temporarily build and pack C# artifacts
  build/csharp/release_prod.sh
Due: none

Update C# AE csproj file
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
Due: csharp_AppEncryption

Fix for Issue#385. - Make sure we are updating loadedAt in the cache entry - Add benchmark - Moved locks
  go/appencryption/cache.go
  go/appencryption/cache_benchmark_test.go
  go/appencryption/go.sum
Due: go_appencryption

minor formatting/comment changes
  go/appencryption/cache.go
  go/appencryption/cache_benchmark_test.go
Due: go_appencryption

add unit test
  go/appencryption/cache_test.go
Due: go_appencryption

fix deadlock, and improved performance with using RLock() minor changes do benchmark
  go/appencryption/cache.go
  go/appencryption/cache_benchmark_test.go
Due: go_appencryption

linter fixes
  go/appencryption/cache.go
  go/appencryption/cache_benchmark_test.go
  go/appencryption/cache_test.go
Due: go_appencryption

fix whitespace ;)
  go/appencryption/cache_test.go
Due: go_appencryption

version bump v0.2.2
  go/appencryption/.versionfile
Due: go_appencryption

Fix "Server Samples > Install build tools"
  .github/workflows/ci.yml
Due: none

update csharp libraries
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
Due: csharp_AppEncryption, csharp_SecureMemory

Updated c# AppEncryption dependencies
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

test fixes for multiple platforms
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
Due: csharp_SecureMemory

Add an implementation of SecureMemory that doesn't use mlock
  csharp/SecureMemory/Directory.Build.props
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/AllocatorGenerator.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Libc/LibcSecureMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Libc/ResourceLimitTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Linux/LinuxProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/MemoryLimitExceptionTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/SecureMemoryAllocationFailedTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/SecureMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/SecureMemoryExceptionTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/SecureMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/SecureMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/Check.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/ISecureMemoryAllocator.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/Libc/LibcOperationFailedException.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/Libc/LibcSecureMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/Linux/LinuxSecureMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/MacOS/MacOSSecureMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/MemoryLimitException.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/SecureMemoryAllocationFailedException.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/SecureMemoryException.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/SecureMemorySecret.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/SecureMemorySecretFactory.cs
Due: csharp_SecureMemory

Update test
  .github/workflows/ci.yml
  csharp/SecureMemory/README.md
  csharp/SecureMemory/SecureMemory.Tests/Libc/LibcMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocationFailedTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryExceptionTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Libc/LibcSecureMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/MemoryLimitExceptionTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/SecureMemoryAllocationFailedTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/SecureMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/SecureMemoryExceptionTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/SecureMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory/Check.cs
  csharp/SecureMemory/SecureMemory/ISecureMemoryAllocator.cs
  csharp/SecureMemory/SecureMemory/Libc/LibcMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/LibcOperationFailedException.cs
  csharp/SecureMemory/SecureMemory/MemoryLimitException.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/IProtectedMemoryAllocator.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/MemoryLimitException.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemoryAllocationFailedException.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemoryException.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryAllocationFailedException.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryException.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/Check.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/Libc/LibcOperationFailedException.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/Linux/LinuxSecureMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/MacOS/MacOSSecureMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

Refactor tests
  csharp/SecureMemory/SecureMemory.Tests/Libc/LibcMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/MemoryLimitExceptionTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryExceptionTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryAllocationFailedTest.cs
  csharp/SecureMemory/SecureMemory/Libc/LibcMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/Libc/LibcOperationFailedException.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/Libc/LibcSecureMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

Tests re-organization
  csharp/SecureMemory/SecureMemory.Tests/Libc/LibcMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/SecureMemoryAllocatorTest.cs
Due: csharp_SecureMemory

Add new ISecretFactory step to SessionFactory
  csharp/AppEncryption/AppEncryption.IntegrationTests/Utils/SessionFactoryGenerator.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

misc
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/Crypto/AeadCryptoTest.cs
  csharp/AppEncryption/AppEncryption.Tests/Crypto/Envelope/AeadEnvelopeCryptoTest.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/Kms/StaticKeyManagementServiceImpl.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/Crypto/AeadCrypto.cs
  csharp/AppEncryption/Crypto/Envelope/AeadEnvelopeCrypto.cs
Due: csharp_AppEncryption

fix formatting issues
  server/go/pkg/server/database.go
  server/go/pkg/server/database_test.go
Due: server-go

Option to set Aurora replica read consistency
  server/go/README.md
  server/go/pkg/server/database.go
  server/go/pkg/server/database_test.go
  server/go/pkg/server/options.go
  server/go/pkg/server/server.go
  server/go/pkg/server/server_test.go
Due: server-go

fix formatting issues
  server/go/pkg/server/database_test.go
Due: server-go

feedback: split test, remove unneeded assertions
  server/go/pkg/server/database_test.go
Due: server-go

ST1003: func resetTestDb should be resetTestDB (stylecheck)
  server/go/pkg/server/database_test.go
Due: server-go

Add an implementation of SecureMemory that doesn't use mlock
  .github/workflows/ci.yml
  csharp/SecureMemory/Directory.Build.props
  csharp/SecureMemory/README.md
  csharp/SecureMemory/SecureMemory.Tests/Libc/LibcMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/MemoryLimitExceptionTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryExceptionTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryExceptionTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryAllocationFailedTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/AllocatorGenerator.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Libc/LibcSecureMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Libc/ResourceLimitTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/Linux/LinuxProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/SecureMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/SecureMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemoryImpl/SecureMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory/Check.cs
  csharp/SecureMemory/SecureMemory/ISecureMemoryAllocator.cs
  csharp/SecureMemory/SecureMemory/Libc/LibcMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/Libc/LibcOperationFailedException.cs
  csharp/SecureMemory/SecureMemory/MemoryLimitException.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemoryAllocationFailedException.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemoryException.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryAllocationFailedException.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryException.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/Libc/LibcSecureMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/Linux/LinuxSecureMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/MacOS/MacOSSecureMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/SecureMemorySecret.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/SecureMemorySecretFactory.cs
Due: csharp_SecureMemory

Address review comments
  csharp/SecureMemory/SecureMemory.Tests/SecureMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory/Libc/LibcMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/SecureMemoryImpl/Libc/LibcSecureMemoryAllocatorLP64.cs
Due: csharp_SecureMemory
