Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

minor fixes
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/utils/Json.java
Due: java_app_encryption

Add docs for util package in csharp SDK
  csharp/AppEncryption/AppEncryption/Kms/AwsKeyManagementServiceImpl.cs
  csharp/AppEncryption/AppEncryption/Kms/AwsKmsClientFactory.cs
  csharp/AppEncryption/AppEncryption/Util/Json.cs
  csharp/AppEncryption/AppEncryption/Util/MetricsUtil.cs
Due: csharp_AppEncryption

Update JavaDocs (#257)
  build/java/integration_test.sh
  build/java/test.sh
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKeyManagementServiceImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKmsClientFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/KeyManagementService.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/StaticKeyManagementServiceImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/AdhocPersistence.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/InMemoryMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/JdbcMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/Metastore.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/Persistence.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/utils/Json.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/utils/SafeAutoCloseable.java
Due: java_app_encryption

[go] session caching functionality (#272)
  README.md
  go/appencryption/.versionfile
  go/appencryption/README.md
  go/appencryption/cache_test.go
  go/appencryption/cmd/example/README.md
  go/appencryption/cmd/example/go.mod
  go/appencryption/cmd/example/go.sum
  go/appencryption/cmd/example/main.go
  go/appencryption/cmd/example/out.go
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/integration_test.go
  go/appencryption/pkg/persistence/dynamodb_integration_test.go
  go/appencryption/pkg/persistence/sql_test.go
  go/appencryption/policy.go
  go/appencryption/policy_test.go
  go/appencryption/session.go
  go/appencryption/session_cache.go
  go/appencryption/session_cache_ristretto.go
  go/appencryption/session_cache_test.go
  go/appencryption/session_test.go
Due: go_appencryption

Update bouncycastle and jackson.dataformat versions
  java/app-encryption/pom.xml
Due: java_app_encryption

Update aws.sdk.version
  java/app-encryption/pom.xml
Due: java_app_encryption

Update package versions acc. to WhiteSource recommendations
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  go/appencryption/cmd/example/go.mod
  go/appencryption/cmd/example/go.sum
  go/appencryption/go.mod
  go/appencryption/go.sum
  java/app-encryption/pom.xml
Due: csharp_SecureMemory, java_app_encryption, go_appencryption

Update java test scripts
  build/java/integration_test.sh
  build/java/test.sh
Due: none

Minor update
  csharp/AppEncryption/AppEncryption/Util/Json.cs
  csharp/AppEncryption/README.md
Due: csharp_AppEncryption

Add docs for util package in csharp SDK (#277)
  csharp/AppEncryption/AppEncryption/Kms/AwsKeyManagementServiceImpl.cs
  csharp/AppEncryption/AppEncryption/Kms/AwsKmsClientFactory.cs
  csharp/AppEncryption/AppEncryption/Util/Json.cs
  csharp/AppEncryption/AppEncryption/Util/MetricsUtil.cs
  csharp/AppEncryption/README.md
Due: csharp_AppEncryption

Use latest codecov orb
  .circleci/config.yml
Due: none

Update script
  build/java/integration_test.sh
  build/java/test.sh
Due: none

[go] fix cross partition bug
  go/appencryption/envelope.go
  go/appencryption/envelope_test.go
  go/appencryption/partition.go
  go/appencryption/partition_test.go
Due: go_appencryption

[go] additional integration tests
  go/appencryption/integration_test.go
Due: go_appencryption

integration test fix
  go/appencryption/integration_test.go
Due: go_appencryption

set version to 0.1.3-alpha to prevent release
  go/appencryption/.versionfile
Due: go_appencryption

[go] session cache integration/benchmark tests
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/integration_benchmark_test.go
  go/appencryption/session_cache.go
Due: go_appencryption

switch default cache to ristretto and disable mango benchmarks
  go/appencryption/integration_benchmark_test.go
  go/appencryption/session_cache.go
  go/appencryption/session_cache_ristretto.go
Due: go_appencryption

[go] session cache integration/benchmark tests (#279)
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/integration_benchmark_test.go
  go/appencryption/session_cache.go
  go/appencryption/session_cache_ristretto.go
Due: go_appencryption

[go] release appencryption v0.1.3
  go/appencryption/.versionfile
Due: go_appencryption

[go] release appencryption v0.1.3 (#280)
  go/appencryption/.versionfile
Due: go_appencryption

[go] referenceapp updated to use latest appencryption (v0.1.3)
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
Due: none

Use the latest codecov orb in CircleCI (#282)
  .circleci/config.yml
Due: none

[go] server updated to support shared session caching (ae v0.1.3)
  server/go/go.mod
  server/go/go.sum
  server/go/main.go
  server/go/pkg/server/options.go
  server/go/pkg/server/server.go
  server/go/pkg/server/server_test.go
Due: server-go

[go] appencryption v0.1.4
  go/appencryption/.versionfile
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/integration_benchmark_test.go
Due: go_appencryption

[go] v0.1.3 updates for server and referenceapp (#283)
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
  server/go/go.mod
  server/go/go.sum
  server/go/main.go
  server/go/pkg/server/options.go
  server/go/pkg/server/server.go
  server/go/pkg/server/server_test.go
Due: server-go

[go] print resource limits from benchmark_test.sh
  build/go/benchmark_test.sh
Due: none

[go] set benchmark parallelism to 12 via -cpu flag
  build/go/benchmark_test.sh
Due: none

update bencharks to use GOMAXPROCS instead of NumCPU
  go/securememory/memguard/secret_race_test.go
  go/securememory/protectedmemory/secret_race_test.go
Due: go_securememory

[go] TestSharedSessionCloseOn* improvements
  go/appencryption/session_cache_test.go
Due: go_appencryption

[go] appencryption v0.1.4 (#284)
  build/go/benchmark_test.sh
  go/appencryption/.versionfile
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/integration_benchmark_test.go
  go/appencryption/session_cache_test.go
  go/securememory/memguard/secret_race_test.go
  go/securememory/protectedmemory/secret_race_test.go
Due: go_securememory, go_appencryption

Integrate WSS as a scheduled workflow
  .circleci/config.yml
  .circleci/wss-unified-agent.config
Due: none

Add javadocs for public methods
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/AeadCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/BasicExpiringCryptoPolicy.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/CryptoPolicy.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/NonceGenerator.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/bufferutils/ManagedBufferUtils.java
Due: java_app_encryption

Add JavaDoc
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyAes256GcmCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/exceptions/CipherNotSupportedException.java
Due: java_app_encryption

JavaDocs for public methods
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/envelope/AeadEnvelopeCrypto.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/envelope/EnvelopeEncryptResult.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/keys/CryptoKey.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/keys/SecretCryptoKey.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/keys/SecureCryptoKeyMap.java
Due: java_app_encryption

Run wss workflow at 11:00 on Monday
  .circleci/config.yml
Due: none

Integrate WhiteSource scans as a scheduled workflow (#287)
  .circleci/config.yml
  .circleci/wss-unified-agent.config
Due: none

Run wss workflow at 12:00(PST) on Monday
  .circleci/config.yml
Due: none

Run WSS at 12:00(PST) on Monday (#291)
  .circleci/config.yml
Due: none

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
