Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

migrate C# workflows from ci.yml
  .github/workflows/csharp-all.yml
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-appencryption-integration.yml
  .github/workflows/csharp-logging.yml
  .github/workflows/csharp-securememory-ci.yml
Due: none

migrate Go workflows from ci.yml
  .github/workflows/go-all.yml
  .github/workflows/go-appencryption-bench.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-appencryption-integration.yml
  .github/workflows/go-securememory-bench.yml
  .github/workflows/go-securememory-ci.yml
  build/go/integration_test.sh
Due: none

cleanup/align triggers
  .github/workflows/csharp-all.yml
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-securememory-ci.yml
  .github/workflows/go-all.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-securememory-ci.yml
  .github/workflows/java-all.yml
  .github/workflows/java-appencryption-ci.yml
  .github/workflows/java-securememory-ci.yml
Due: none

migrate tests-cross-language and server-samples jobs from ci.yml
  .github/workflows/cross-language-validation.yml
Due: none

new pull request workflow
  .github/workflows/pull-request.yml
Due: none

remove pr and main branch triggers from ci.yml
  .github/workflows/ci.yml
Due: none

set minimum permissions
  .github/workflows/cross-language-validation.yml
  .github/workflows/csharp-all.yml
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-appencryption-integration.yml
  .github/workflows/csharp-logging.yml
  .github/workflows/csharp-securememory-ci.yml
  .github/workflows/go-all.yml
  .github/workflows/go-appencryption-bench.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-appencryption-integration.yml
  .github/workflows/go-securememory-bench.yml
  .github/workflows/go-securememory-ci.yml
  .github/workflows/java-all.yml
  .github/workflows/java-appencryption-ci.yml
  .github/workflows/java-appencryption-integration.yml
  .github/workflows/java-securememory-ci.yml
Due: none

limit concurrency by workflow + github.ref
  .github/workflows/cross-language-validation.yml
  .github/workflows/csharp-all.yml
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-securememory-ci.yml
  .github/workflows/go-all.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-securememory-ci.yml
  .github/workflows/java-all.yml
  .github/workflows/java-appencryption-ci.yml
  .github/workflows/java-securememory-ci.yml
Due: none

rename workflows
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-pr.yml
  .github/workflows/go-pr.yml
  .github/workflows/java-pr.yml
Due: none

consistent names for all jobs
  .github/workflows/cross-language-validation.yml
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-appencryption-integration.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-pr.yml
  .github/workflows/csharp-securememory-ci.yml
  .github/workflows/go-appencryption-bench.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-appencryption-integration.yml
  .github/workflows/go-securememory-bench.yml
  .github/workflows/go-securememory-ci.yml
  .github/workflows/java-appencryption-ci.yml
  .github/workflows/java-appencryption-integration.yml
  .github/workflows/java-pr.yml
  .github/workflows/java-securememory-ci.yml
Due: none

reduce nesting, add triggers to targeted workflows
  .github/workflows/cross-language-validation.yml
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-pr.yml
  .github/workflows/csharp-securememory-ci.yml
  .github/workflows/go-appencryption-bench.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-pr.yml
  .github/workflows/go-securememory-bench.yml
  .github/workflows/go-securememory-ci.yml
  .github/workflows/java-appencryption-ci.yml
  .github/workflows/java-pr.yml
  .github/workflows/java-securememory-ci.yml
Due: none

rename for consistency: "[C#] Logging" > "[C#] Logging CI"
  .github/workflows/csharp-logging-ci.yml
Due: none

build appencryption prior to running integration tests
  .github/workflows/csharp-appencryption-integration.yml
Due: none

upgrade github.com/testcontainers/testcontainers-go to latest
  go/appencryption/go.work
  go/appencryption/go.work.sum
  go/appencryption/integrationtest/go.mod
  go/appencryption/integrationtest/go.sum
Due: go_appencryption

go work sync
  go/appencryption/cmd/example/go.mod
  go/appencryption/cmd/example/go.sum
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/go.work.sum
Due: go_appencryption

bump golangci-lint version to v1.60.1, golangci-lint-action to v6.1.0, disable cache
  .github/workflows/go-appencryption-ci.yml
Due: none

run unit tests after build (not in parallel)
  .github/workflows/go-appencryption-ci.yml
Due: none

use golangci-lint-action for linting steps
  .github/workflows/go-pr.yml
Due: none

use golangci-lint-action for Go linting step
  .github/workflows/cross-language-validation.yml
Due: none

initial aws-v2/kms implementation
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/plugins/aws-v2/kms/builder.go
  go/appencryption/plugins/aws-v2/kms/builder_test.go
  go/appencryption/plugins/aws-v2/kms/kms.go
  go/appencryption/plugins/aws-v2/kms/kms_test.go
Due: go_appencryption

use aws-v2 plugins, go mod tidy
  go/appencryption/cmd/example/go.mod
  go/appencryption/cmd/example/go.sum
  go/appencryption/cmd/example/main.go
Due: go_appencryption

READMEs for plugins/aws-v1 and plugins/aws-v2
  go/appencryption/plugins/aws-v1/README.md
  go/appencryption/plugins/aws-v2/README.md
Due: go_appencryption

build tag: nodeprecated, use to build pkg/kms and pkg/persistence packages without the backwards-compatible type aliases to plugins/aws-v1/*
  go/appencryption/integrationtest/dynamodbtest/dynamodbtest.go
  go/appencryption/integrationtest/integration_dynamodb_test.go
  go/appencryption/pkg/kms/aws.go
  go/appencryption/pkg/persistence/dynamodb.go
Due: go_appencryption

bump version to v0.7.0
  go/appencryption/.versionfile
Due: go_appencryption

integration tests for plugins/aws-v2/dynamodb/metastore
  go/appencryption/integrationtest/dynamodbtest/dynamodbtest.go
  go/appencryption/integrationtest/dynamodbtest/dynamodbtest_awsv2.go
  go/appencryption/integrationtest/integration_dynamodb_awsv2_test.go
  go/appencryption/integrationtest/integration_dynamodb_test.go
  go/appencryption/integrationtest/integration_memory_test.go
  go/appencryption/integrationtest/integration_test.go
  go/appencryption/integrationtest/persistence/dynamodb_awsv2_test.go
  go/appencryption/integrationtest/persistence/dynamodb_test.go
Due: go_appencryption

initial aws-v2/dynamodb/metastore implementation
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/plugins/aws-v2/dynamodb/metastore/errors.go
  go/appencryption/plugins/aws-v2/dynamodb/metastore/metastore.go
  go/appencryption/plugins/aws-v2/dynamodb/metastore/metastore_example_test.go
  go/appencryption/plugins/aws-v2/dynamodb/metastore/metastore_mockdb_test.go
  go/appencryption/plugins/aws-v2/dynamodb/metastore/metastore_test.go
Due: go_appencryption

update how-to for plugins/aws-v2
  go/appencryption/README.md
Due: go_appencryption

bump actions/setup-go, use go-version "stable"
  .github/workflows/ci.yml
Due: none

disable go linting
  .github/workflows/ci.yml
Due: none

[ci.yml] updated step names
  .github/workflows/ci.yml
Due: none

initial dependabot.yml
  .github/dependabot.yml
Due: none

expanded update sections for .net and java projects
  .github/dependabot.yml
Due: none

use node version 20.x
  .github/workflows/cross-language-validation.yml
Due: none

bump golangci-lint to v1.60.1
  .github/workflows/go-securememory-ci.yml
Due: none

download go modules ahead of linting
  .github/workflows/cross-language-validation.yml
Due: none

go mod tidy (server/go)
  server/go/go.mod
  server/go/go.sum
Due: server-go

refactor "wait for socket" functionality, add timeout
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

rename label "csharp" to "c#"
  .github/dependabot.yml
Due: none

enable automated dependabot PRs for Java
  .github/dependabot.yml
Due: none

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
