Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags: csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags: csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags: csharp_SecureMemory
        target: 90%
      java-app-encryption:
        flags: java_app_encryption
        target: 90%
      java-secure-memory:
        flags: java_secure_memory
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
ignore:
  # Ignore non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  # No need for C# path since the dotnet test command handles it currently (should change if/when we do the above)
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macos path

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags:
          - csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags:
          - csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags:
          - csharp_SecureMemory
        target: 90%
      go-securememory:
        flags:
          - go_securememory
        target: 90%
      go-appencryption:
        flags:
          - go_appencryption
        target: 90%
      java-app-encryption:
        flags:
          - java_app_encryption
        target: 90%
      java-secure-memory:
        flags:
          - java_secure_memory
        target: 90%
      server-go:
        flags:
          - server_go
        target: 90%
      server-java:
        flags:
          - server_java
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  go_securememory:
    paths:
      - go/securememory
  go_appencryption:
    paths:
      - go/appencryption
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
  server-go:
    paths:
      - server/go
  server-java:
    paths:
      - server/java
ignore:
  # Non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macOS path
  - "**/SecureMemory/ProtectedMemoryImpl/MacOS" # C# macOS path
  - "**/SecureMemory/ProtectedMemoryImpl/Windows" # C# Windows path
  # gRPC auto-generated file
  - "**/target/generated-sources/protobuf" # Java auto-generated files
  - "**api/appencryption.pb.go" # Go auto-generated files
  # Server startup files
  - "**/com/godaddy/asherah/grpc/ServerApp.java" # Java server startup

Enable debugSecrets for these tests 2
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretFactoryTest.cs
Due: csharp_SecureMemory

Don't be so verbose
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
Due: csharp_SecureMemory

[C#] bump SecureMemory to v0.1.5
  csharp/SecureMemory/Directory.Build.props
Due: csharp_SecureMemory

[Java] Update reference-app to use latest AE (v0.1.4)
  .circleci/config.yml
  samples/java/reference-app/README.md
  samples/java/reference-app/checkstyle.xml
  samples/java/reference-app/pom.xml
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
Due: none

[docs] removed old roadmap chart
  docs/ROADMAP.md
  docs/images/roadmap.png
Due: none

Add creation stack trace debug mode for ProtectedMemorySecret
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
Due: csharp_SecureMemory

Enable debugSecrets for these tests
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
Due: csharp_SecureMemory

Add null test
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
Due: csharp_SecureMemory

Forgot the mock setup
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
Due: csharp_SecureMemory

Fix NullReferenceException in null config case
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
Due: csharp_SecureMemory

Bump version
  csharp/SecureMemory/Directory.Build.props
Due: csharp_SecureMemory

Update csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
Due: csharp_SecureMemory

replace codecov orb with a custom command
  .circleci/config.yml
Due: none

Execute codecov bash in subshell
  .circleci/config.yml
Due: none

upload-coverage script updates
  .circleci/config.yml
Due: none

Make ProtectedMemorySecret.Dispose requirement configurable, default off
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
Due: csharp_SecureMemory

IncludeSymbols in nuget package builds
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_AppEncryption, csharp_SecureMemory

Update release script
  build/csharp/release_prod.sh
Due: none

1 failing test
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
Due: csharp_AppEncryption

Update unit test
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
Due: csharp_AppEncryption

Update WhiteSource config
  .circleci/wss-unified-agent.config
Due: none

Enable required secret disposal for some tests for coverage
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
Due: csharp_SecureMemory

Add test for SetNoAccess failure path
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
Due: csharp_SecureMemory

Switch to Trace.Listeners.Clear()
  csharp/SecureMemory/SecureMemory.Tests/EndToEndTests.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecretTest.cs
  csharp/SecureMemory/SecureMemory.Tests/TransientSecretFactoryTest.cs
Due: csharp_SecureMemory

Add test for two concurrent allocator instances
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
Due: csharp_SecureMemory

Add more tests
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

More tests
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemoryTests.cs
Due: csharp_SecureMemory

Fix broken test
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
Due: csharp_SecureMemory

Improve tests
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/ResourceLimitTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxOpenSSL11ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/LinuxProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Linux/OpenSSLCryptProtectMemoryTests.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretFactoryTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
Due: csharp_SecureMemory

Add type cast for mock call to ctor
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
Due: csharp_SecureMemory

Add ignore for vsc
  .gitignore
Due: none

Update SystemRequirements.md
  docs/SystemRequirements.md
Due: none

Update nuget config
  .circleci/wss-unified-agent.config
Due: none

Address review comments
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
Due: csharp_AppEncryption

Remove duplicate push
  build/csharp/release_prod.sh
Due: none
