Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: languages_csharp_AppEncryption, languages_csharp_Logging, languages_csharp_SecureMemory, languages_java_app_encryption, languages_java_secure_memory

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      #languages-csharp-AppEncryption:
      #  flags: languages_csharp_AppEncryption
      #  target: 90%
      #languages-csharp-Logging:
      #  flags: languages_csharp_Logging
      #  target: 90%
      #languages-csharp-SecureMemory:
      #  flags: languages_csharp_SecureMemory
      #  target: 90%
      languages-java-app-encryption:
        flags: languages_java_app_encryption
        target: 90%
      languages-java-secure-memory:
        flags: languages_java_secure_memory
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  languages_csharp_AppEncryption:
    paths:
      - languages/csharp/AppEncryption
  languages_csharp_Logging:
    paths:
      - languages/csharp/Logging
  languages_csharp_SecureMemory:
    paths:
      - languages/csharp/SecureMemory
  languages_java_app_encryption:
    paths:
      - languages/java/app-encryption
  languages_java_secure_memory:
    paths:
      - languages/java/secure-memory
ignore:
  # Ignore non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  # No need for C# path since the dotnet test command handles it currently (should change if/when we do the above)
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macos path

Fix csharp build errors
  .circleci/config.yml
Due: none

Local dynamodb (#101)
  languages/java/app-encryption/pom.xml
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastorePersistenceImplTest.java
Due: languages_java_app_encryption

Add build step in reference app for consistency
  .circleci/config.yml
Due: none

Fix csharp build errors (#102)
  .circleci/config.yml
Due: none

move native libs needed for tests to build dir
  languages/java/app-encryption/pom.xml
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastorePersistenceImplTest.java
Due: languages_java_app_encryption

missed a couple file renames in initial commit
  languages/csharp/AppEncryption/AppEncryption.sln
  languages/csharp/AppEncryption/AppEncryption.sln.DotSettings
Due: languages_csharp_AppEncryption

missed a couple file renames in initial commit (#104)
  languages/csharp/AppEncryption/AppEncryption.sln
  languages/csharp/AppEncryption/AppEncryption.sln.DotSettings
Due: languages_csharp_AppEncryption

Create packages directory in setup csharp environment
  .circleci/config.yml
Due: none

move native libs needed for tests to build dir (#103)
  languages/java/app-encryption/pom.xml
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastorePersistenceImplTest.java
Due: languages_java_app_encryption

Create packages directory in setup csharp environment (#105)
  .circleci/config.yml
Due: none

WIP : Add local database containers
  .circleci/config.yml
Due: none

WIP : Enable dynamodb tests
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastorePersistenceImplTest.cs
Due: languages_csharp_AppEncryption

WIP : Enable ado based tests
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastorePersistenceImplTest.cs
Due: languages_csharp_AppEncryption

Update fixtures to support local containers
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDBContainerFixture.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastorePersistenceImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/MySqlContainerFixture.cs
Due: languages_csharp_AppEncryption

- Use official Mysql:5.7 image for Docker - Use password for mysql
  .circleci/config.yml
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDBContainerFixture.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/MySqlContainerFixture.cs
Due: languages_csharp_AppEncryption

Bump up code coverage
  .codecov.yml
Due: none

Simplify env variable usage
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDBContainerFixture.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/MySqlContainerFixture.cs
Due: languages_csharp_AppEncryption

- Remove redundant boolean assignment - Invert order of tertiary operator in thr InitializeAsync and DisposeAsync methods
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDBContainerFixture.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/MySqlContainerFixture.cs
Due: languages_csharp_AppEncryption

Add support for running Ado and Dynamo tests in a local docker container (#106)
  .circleci/config.yml
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastorePersistenceImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDBContainerFixture.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastorePersistenceImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/MySqlContainerFixture.cs
Due: languages_csharp_AppEncryption

Code coverage (#107)
  .codecov.yml
Due: none

Using 32 bytes static masterkey
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
Due: none

use 32 bytes static master key
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
Due: none

Static kms key (#108)
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
Due: none

File and method renaming and related refactor
  .gitignore
  README.md
  docs/CodeStructure.md
  languages/java/app-encryption/README.md
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Session.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionBytesImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionJsonImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/keymanagement/AwsKeyManagementServiceImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/InMemoryMetastoreImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/JdbcMetastoreImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/MetastorePersistence.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/PartitionTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionBytesImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionJsonImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/keymanagement/AwsKeyManagementServiceImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/InMemoryMetastoreImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/JdbcMetastoreImplTest.java
  samples/java/reference-app/README.md
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/multithreaded/MultiFactoryThreadedTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/multithreaded/MultiPartitionMultiThreadedTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/multithreaded/SessionByteMultiThreadedTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/multithreaded/SessionJsonMultiThreadedTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/AppEncryptionParameterizedTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/MetastoreMock.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/SessionBytesTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/SessionJsonTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/utils/KeyManagementServiceFactory.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/utils/MetastoreFactory.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/utils/SessionFactoryGenerator.java
Due: languages_java_app_encryption

remove extra quotes
  README.md
Due: none

Update method names to use LoadLatest instead of LoadLatestValue
  languages/java/app-encryption/README.md
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/InMemoryMetastoreImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/JdbcMetastoreImplTest.java
Due: languages_java_app_encryption

Leftover refactor
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionBytesImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionJsonImplTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/AppEncryptionParameterizedTest.java
Due: languages_java_app_encryption

Leftover refactor
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/AppEncryptionParameterizedTest.java
Due: languages_java_app_encryption

Make naming changes in C sharp packages This commit will fail temporarily, because the reference app does not have all the required changes
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/MultiFactoryThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/MultiPartitionMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/SessionByteMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/SessionJsonMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/MetastoreMock.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/SessionBytesTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/SessionJsonTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Utils/SessionFactoryGenerator.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/KeyManagement/AwsKeyManagementServiceImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/PartitionTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/InMemoryMetastoreImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionBytesImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionJsonImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionTest.cs
  languages/csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  languages/csharp/AppEncryption/AppEncryption/AppEncryption.nuspec
  languages/csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Partition.cs
  languages/csharp/AppEncryption/AppEncryption/Persistence/AdoMetastoreImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Persistence/IMetastorePersistence.cs
  languages/csharp/AppEncryption/AppEncryption/Persistence/InMemoryMetastoreImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Session.cs
  languages/csharp/AppEncryption/AppEncryption/SessionBytesImpl.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
  languages/csharp/AppEncryption/AppEncryption/SessionJsonImpl.cs
  languages/csharp/AppEncryption/Crypto/Crypto.nuspec
  languages/csharp/AppEncryption/README.md
  samples/csharp/ReferenceApp/README.md
Due: languages_csharp_AppEncryption

Add changes for reference app. This commit should have a successful build
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
Due: none

Fix AWSKeyManagementServiceImplTest.cs file
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/KeyManagement/AWSKeyManagementServiceImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/KeyManagement/AwsKeyManagementServiceImplTest.cs
Due: languages_csharp_AppEncryption

This should build fine. Some issue caused duplicate entry in the csproj file.
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/KeyManagement/AwsKeyManagementServiceImplTest.cs
Due: languages_csharp_AppEncryption

Leftover refactor
  .gitignore
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/multithreaded/MultiFactoryThreadedTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/multithreaded/MultiPartitionMultiThreadedTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/multithreaded/SessionByteMultiThreadedTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/multithreaded/SessionJsonMultiThreadedTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/SessionBytesTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/SessionJsonTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/utils/SessionFactoryGenerator.java
Due: none

Rename IMetastorePersistence to IMetastore
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/MultiFactoryThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/MultiPartitionMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/SessionByteMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/SessionJsonMultiThreadedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/MetastoreMock.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/SessionBytesTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/SessionJsonTest.cs
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/Utils/SessionFactoryGenerator.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Persistence/AdoMetastoreImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  languages/csharp/AppEncryption/AppEncryption/Persistence/IMetastore.cs
  languages/csharp/AppEncryption/AppEncryption/Persistence/InMemoryMetastoreImpl.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
  languages/csharp/AppEncryption/README.md
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
Due: languages_csharp_AppEncryption

Remove bom
  languages/csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  languages/csharp/AppEncryption/AppEncryption/AppEncryption.csproj
Due: languages_csharp_AppEncryption

Rename MetastorePersistence to Metastore
  README.md
  languages/java/app-encryption/README.md
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/InMemoryMetastoreImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/JdbcMetastoreImpl.java
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/Metastore.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImplTest.java
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/JdbcMetastoreImplTest.java
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/TestSetup.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/AppEncryptionParameterizedTest.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/regression/MetastoreMock.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/utils/MetastoreFactory.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/utils/SessionFactoryGenerator.java
Due: languages_java_app_encryption

Fix leftover references
  languages/java/app-encryption/README.md
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
Due: languages_java_app_encryption

Fix leftover references
  README.md
  docs/CodeStructure.md
  docs/KeyCaching.md
  tests/java/test-app/README.md
Due: none

Fix indentation
  languages/java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
Due: languages_java_app_encryption

Rename lefover references
  docs/CodeStructure.md
  docs/DesignAndArchitecture.md
Due: none
