Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags: csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags: csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags: csharp_SecureMemory
        target: 90%
      java-app-encryption:
        flags: java_app_encryption
        target: 90%
      java-secure-memory:
        flags: java_secure_memory
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
ignore:
  # Ignore non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  # No need for C# path since the dotnet test command handles it currently (should change if/when we do the above)
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macos path

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags:
          - csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags:
          - csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags:
          - csharp_SecureMemory
        target: 90%
      go-securememory:
        flags:
          - go_securememory
        target: 90%
      go-appencryption:
        flags:
          - go_appencryption
        target: 90%
      java-app-encryption:
        flags:
          - java_app_encryption
        target: 90%
      java-secure-memory:
        flags:
          - java_secure_memory
        target: 90%
      server-go:
        flags:
          - server_go
        target: 90%
      server-java:
        flags:
          - server_java
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  go_securememory:
    paths:
      - go/securememory
  go_appencryption:
    paths:
      - go/appencryption
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
  server-go:
    paths:
      - server/go
  server-java:
    paths:
      - server/java
ignore:
  # Non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macOS path
  - "**/SecureMemory/ProtectedMemoryImpl/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LP64/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LLP64/Windows" # C# Windows path
  - "**/SecureMemory/ProtectedMemoryImpl/Windows" # C# Windows path
  # gRPC auto-generated file
  - "**/target/generated-sources/protobuf" # Java auto-generated files
  - "**api/appencryption.pb.go" # Go auto-generated files
  # Server startup files
  - "**/com/godaddy/asherah/grpc/ServerApp.java" # Java server startup

bump version to v0.3.0
  csharp/SecureMemory/Directory.Build.props
Due: csharp_SecureMemory

install libssl prior to running tests
  .github/workflows/csharp-securememory-ci.yml
Due: none

update container to dotnet/sdk:9.0
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-appencryption-integration.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-pr.yml
  .github/workflows/csharp-securememory-ci.yml
Due: none

update cache keys for csharp projects
  .github/workflows/csharp-appencryption-integration.yml
  .github/workflows/csharp-appencryption-release.yml
  .github/workflows/csharp-logging-ci.yml
  .github/workflows/csharp-logging-release.yml
  .github/workflows/csharp-pr.yml
  .github/workflows/csharp-securememory-ci.yml
  .github/workflows/csharp-securememory-release.yml
Due: none

use mysql:8.0
  .github/workflows/csharp-appencryption-ci.yml
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/MySqlContainerFixture.cs
Due: csharp_AppEncryption

[csharp cltf] install dotnet 9.0 runtime
  .github/workflows/cross-language-validation.yml
Due: none

Add multi-target framework support for net8.0 and net9.0
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/Logging/Logging.Tests/Logging.Tests.csproj
  csharp/Logging/Logging/Logging.csproj
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
  tests/cross-language/csharp/Cltf.csproj
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

Drop multi-target framework support for netstandard2.1
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/Logging/Logging/Logging.csproj
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

Add .NET 9.0 setup to C# release workflows
  .github/workflows/csharp-appencryption-release.yml
  .github/workflows/csharp-logging-release.yml
  .github/workflows/csharp-securememory-release.yml
Due: none

bump version to 0.2.0
  csharp/Logging/Directory.Build.props
Due: csharp_Logging

update version ref in docs
  csharp/SecureMemory/README.md
Due: csharp_SecureMemory

upgrade SecureMemory to latest
  csharp/AppEncryption/Crypto/Crypto.csproj
Due: csharp_AppEncryption

upgrade Logging to latest
  csharp/AppEncryption/Crypto/Crypto.csproj
Due: csharp_AppEncryption

bump version to 0.4.0
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

chore: Remove verify_go_hash.go from rust directory
  rust/memguard/verify_go_hash.go
Due: none

chore: Clean up repository structure and build artifacts
  rust/memguard/verify_go_hash.go
Due: none

docs: Update README.md with proper Rust appencryption examples
  README.md
Due: none

Add no-op mlock mode for Go performance benchmarking
  go/securememory/internal/memcall/memcall_darwin_nobenchlock.go
  go/securememory/protectedmemory/secret.go
  go/securememory/protectedmemory/secret_default.go
  go/securememory/protectedmemory/secret_nobenchlock.go
  go/securememory/protectedmemory/secret_sequential_benchmark_test.go
Due: go_securememory

Add Rust-specific .gitignore and rust-port.patch
  rust/.gitignore
  rust/rust-port.patch
Due: none

Enhance Rust .gitignore to exclude all build artifacts
  rust/.gitignore
Due: none

Reorganize Rust documentation files
  rust/appencryption/docs/SQL_SERVER_IMPLEMENTATION.md
  rust/appencryption/docs/TEST_STATUS.md
  rust/appencryption/docs/TODO-VNEXT.md
  rust/docs/FEATURE_PARITY.md
  rust/docs/PERFORMANCE.md
  rust/docs/PORT_STATUS.md
  rust/docs/conclusion.md
  rust/docs/go_library_outline.md
  rust/docs/rust_implementation_status.md
  rust/memguard/docs/CHANGES.md
  rust/memguard/docs/LOCK_ORDERING.md
  rust/securememory/IMPROVEMENT_PLAN.md
  rust/securememory/docs/FEATURE_MATRIX.md
  rust/securememory/docs/FINAL_PERFORMANCE_REPORT.md
  rust/securememory/docs/GO_RUST_COMPARISON.md
  rust/securememory/docs/IMPLEMENTATION.md
  rust/securememory/docs/IMPLEMENTATION_NOTES.md
  rust/securememory/docs/IMPLEMENTATION_STATUS.md
  rust/securememory/docs/IMPROVEMENT_PLAN_COMBINED.md
  rust/securememory/docs/OPTIMIZATION_SUMMARY.md
  rust/securememory/docs/PERFORMANCE_OPTIMIZATION_COMPLETE.md
  rust/securememory/docs/PERFORMANCE_REGRESSION_ANALYSIS.md
  rust/securememory/docs/PERFORMANCE_REGRESSION_ROOT_CAUSE.md
  rust/securememory/docs/PLATFORM_SUPPORT.md
  rust/securememory/docs/PLATFORM_SUPPORT_SUMMARY.md
  rust/securememory/docs/PROTECTED_MEMORY_DESIGN.md
  rust/securememory/docs/README-memguard.md
  rust/securememory/docs/README-signal.md
  rust/securememory/docs/README-stream.md
  rust/securememory/docs/STATUS.md
Due: none

Add no-op mlock mode for Go performance benchmarking
  go/securememory/internal/memcall/memcall_darwin_nobenchlock.go
  go/securememory/protectedmemory/secret.go
Due: go_securememory

Add CI/CD workflows and scripts for Rust implementation
  .github/workflows/rust-appencryption-bench.yml
  .github/workflows/rust-appencryption-ci.yml
  .github/workflows/rust-appencryption-release.yml
  .github/workflows/rust-pr.yml
  .github/workflows/rust-securememory-bench.yml
  .github/workflows/rust-securememory-ci.yml
  .github/workflows/rust-securememory-release.yml
  rust/appencryption/CHANGELOG.md
  rust/appencryption/scripts/benchmark_test.sh
  rust/appencryption/scripts/build.sh
  rust/appencryption/scripts/integration_test.sh
  rust/appencryption/scripts/lint.sh
  rust/appencryption/scripts/release_prod.sh
  rust/appencryption/scripts/test.sh
  rust/securememory/CHANGELOG.md
  rust/securememory/scripts/benchmark_test.sh
  rust/securememory/scripts/build.sh
  rust/securememory/scripts/lint.sh
  rust/securememory/scripts/release_prod.sh
  rust/securememory/scripts/test.sh
Due: none

Clean up memguard tests, fix lifecycle test ignores, add concurrent tests
  rust/memguard/Cargo.toml
  rust/memguard/src/buffer.rs
  rust/memguard/tests/concurrent_tests.rs
  rust/memguard/tests/lifecycle_tests.rs
  rust/memguard/tests/memguard_tests.rs
Due: none

Add CHANGELOG.md for memguard
  rust/memguard/CHANGELOG.md
Due: none

Fix: Remove unimplemented method from AdoMetastore
  rust/appencryption/src/metastore/ado.rs
Due: none

Fix: Correct metrics macro syntax in SecureMemory
  rust/securememory/src/protected_memory/factory.rs
Due: none

Fix lint errors and warnings
  rust/memguard/src/signals.rs
Due: none

Fix additional lint warnings in multiple files
  rust/memguard/src/buffer.rs
  rust/memguard/src/coffer.rs
  rust/memguard/src/stream.rs
  rust/memguard/src/util.rs
Due: none

Fix lint warnings and improve code quality
  rust/memguard/src/buffer.rs
  rust/memguard/src/coffer.rs
  rust/memguard/src/enclave.rs
  rust/memguard/src/stream.rs
  rust/memguard/src/test_debug.rs
  rust/memguard/src/test_debug2.rs
  rust/memguard/src/test_debug3.rs
  rust/memguard/src/test_debug4.rs
  rust/memguard/src/test_debug8.rs
  rust/memguard/src/test_debug9.rs
  rust/memguard/src/test_debug_hash.rs
  rust/memguard/src/test_minimal2.rs
  rust/memguard/src/util.rs
  rust/memguard/tests/signals_integration_test.rs
Due: none

Fix code formatting in actix_web_integration.rs example
  rust/appencryption/examples/actix_web_integration.rs
Due: none

Fix trailing whitespace issues in signals_integration_test.rs
  rust/memguard/tests/signals_integration_test.rs
Due: none

Fix redundant closure in Buffer::scramble method
  rust/memguard/src/buffer.rs
Due: none

Fix compilation errors in securememory
  rust/securememory/src/protected_memory/factory.rs
  rust/securememory/src/protected_memory/secret.rs
Due: none
