Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

reverted cltf to minimal possible
  tests/cross-language/csharp/Cltf.csproj
Due: none

just updated target to net10
  tests/cross-language/csharp/Cltf.csproj
Due: none

turn off a few other warnings
  tests/cross-language/csharp/Cltf.csproj
Due: none

Updated to use the proper bouncycastle. Support for modern dotnet was added years ago, and this is just catching us up to that
  csharp/AppEncryption/Crypto/Crypto.csproj
Due: csharp_AppEncryption

Apply pre-commit formatting fixes
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  csharp/AppEncryption/AppEncryption.PlugIns.Aws/AppEncryption.PlugIns.Aws.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/package-updates-report.md
Due: csharp_AppEncryption

removed temp report file
  csharp/AppEncryption/package-updates-report.md
Due: csharp_AppEncryption

Configure analyzer settings: suppress CA1848 in main project, set Minimal analysis mode for test projects
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
Due: csharp_AppEncryption

Remove 28 Obsolete attributes from test files and add CS0618 suppression to integration tests
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
Due: csharp_AppEncryption

Release new version of Secure Memory
  csharp/SecureMemory/Directory.Build.props
Due: csharp_SecureMemory

Update securememory reference and set version for appencryption release. Also updated the sample application references that will be valid after release happens.
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Directory.Build.props
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
  samples/csharp/aws/ecs/myapp/myapp.csproj
Due: csharp_AppEncryption

egg
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
  samples/csharp/aws/ecs/myapp/myapp.csproj
Due: none

moved setup to each test, and other PR feedback
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/PlugIns/Aws/Kms/KeyManagementServiceTestBuilder.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/PlugIns/Aws/Kms/KeyManagementServiceTests.cs
Due: csharp_AppEncryption

Suppress CA1816 and CA1873 code analysis warnings in test projects
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
Due: csharp_AppEncryption

Add OptimizeByRegions extension method and upgrade guide
  csharp/AppEncryption/AppEncryption.PlugIns.Aws/Kms/KeyManagementServiceOptionsExtensions.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/PlugIns/Aws/Kms/KeyManagementServiceOptionsTests.cs
  csharp/AppEncryption/README.md
  csharp/AppEncryption/docs/plugins-upgrade-guide.md
Due: csharp_AppEncryption

fix: added support for Java Crypto, along side with BouncyCastle. Updated dependencies.
  java/app-encryption/pom.xml
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKeyManagementServiceImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/StaticKeyManagementServiceImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/bufferutils/ManagedBufferUtils.java
  server/java/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc/AppEncryptionGrpc.java
  server/java/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc/AppEncryptionProtos.java
Due: java_app_encryption, server-java

update
  java/app-encryption/docs/CryptoBenchmarks.md
  java/app-encryption/dynamodb-local-metadata.json
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/CryptoEngineType.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/jdk/JdkAes256GcmCrypto.java
  java/app-encryption/src/test/java/com/godaddy/asherah/crypto/engine/CryptoEngineBenchmark.java
  java/app-encryption/src/test/java/com/godaddy/asherah/crypto/engine/CryptoEngineBenchmarkTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/crypto/engine/CryptoEngineInteropTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/crypto/engine/jdk/JdkAes256GcmCryptoTest.java
Due: java_app_encryption

Bump version to 0.3.4, fix checkstyle plugin config, add Javadoc to AwsKmsClientFactory
  java/app-encryption/pom.xml
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKmsClientFactory.java
Due: java_app_encryption

Update reference-app to use appencryption 0.3.4
  samples/java/reference-app/pom.xml
Due: none

Add FFM support for secure-memory (Java 22+) with JNA fallback
  java/app-encryption/docs/CryptoBenchmarks.md
  java/app-encryption/pom.xml
  java/secure-memory/pom.xml
  java/secure-memory/src/main/java/com/godaddy/asherah/securememory/TransientSecretFactory.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/FfmAllocationFailed.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/FfmAllocator.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/FfmMemoryLimitException.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/FfmOperationFailed.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/FfmProtectedMemoryAllocator.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/FfmProtectedMemorySecret.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/FfmSecretFactory.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/LinuxFfmProtectedMemoryAllocator.java
  java/secure-memory/src/main/java22/com/godaddy/asherah/securememory/ffmimpl/MacOSFfmProtectedMemoryAllocator.java
Due: java_app_encryption, java_secure_memory

Update dependencies to latest versions
  java/app-encryption/pom.xml
  java/secure-memory/pom.xml
Due: java_app_encryption, java_secure_memory

Revert server/java generated protobuf files to upstream state
  server/java/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc/AppEncryptionGrpc.java
  server/java/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc/AppEncryptionProtos.java
Due: server-java

Add FFM unit tests and fix deprecations
  java/app-encryption/src/it/java/com/godaddy/asherah/utils/PayloadGenerator.java
  java/app-encryption/src/it/java/com/godaddy/asherah/utils/SessionFactoryGenerator.java
  java/app-encryption/src/main/java/com/godaddy/asherah/crypto/engine/bouncycastle/BouncyAes256GcmCrypto.java
  java/secure-memory/pom.xml
  java/secure-memory/src/test/java/com/godaddy/asherah/securememory/TransientSecretFactoryTest.java
  java/secure-memory/src/test/java/com/godaddy/asherah/securememory/ffmimpl/FfmProtectedMemorySecretTest.java
  java/secure-memory/src/test/java/com/godaddy/asherah/securememory/ffmimpl/FfmSecretFactoryTest.java
Due: java_app_encryption, java_secure_memory

Add PlugIns.Aws to CI artifacts and bump version to 0.10.0
  .github/workflows/csharp-appencryption-ci.yml
  .github/workflows/csharp-appencryption-release.yml
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Migrate to golangci-lint v2.8.0
  .github/workflows/cross-language-validation.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-pr.yml
  .github/workflows/go-securememory-ci.yml
  CLAUDE.md
  go/appencryption/.golangci.yml
  go/securememory/.golangci.yml
  samples/go/referenceapp/.golangci.yml
  server/go/.golangci.yml
  tests/cross-language/go/.golangci.yml
Due: go_securememory, go_appencryption, server-go

Fix staticcheck lint errors in securememory
  go/securememory/protectedmemory/secret_test.go
Due: go_securememory

Fix staticcheck lint errors and add exclusions in appencryption
  go/appencryption/.golangci.yml
  go/appencryption/session_cache_test.go
Due: go_appencryption

Remove obsolete golangci-lint script and symlinks
  build/go/lint.sh
  go/appencryption/scripts/lint.sh
  go/securememory/scripts/lint.sh
  samples/go/referenceapp/scripts/lint.sh
  server/go/scripts/lint.sh
  tests/cross-language/go/scripts/lint.sh
Due: go_securememory, go_appencryption, server-go

Add noctx exclusions for server/go initialization code
  server/go/.golangci.yml
Due: server-go

Do not error on NuGet audit warnings
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.PlugIns.Aws/AppEncryption.PlugIns.Aws.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
  tests/cross-language/csharp/Cltf.csproj
Due: csharp_AppEncryption

Do not error on NuGet audit warnings
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
Due: none

fix: Add pip caching for cross-language tests
  .github/workflows/cross-language-validation.yml
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

fix: add pip caching for server-samples job
  .github/workflows/cross-language-validation.yml
Due: none

perf: Remove unnecessary apt-get upgrade from server-samples job
  .github/workflows/cross-language-validation.yml
Due: none

bump org.junit.jupiter:junit-jupiter-engine to 6.0.2
  server/java/pom.xml
Due: server-java

Bump golangci-lint from v2.8.0 to v2.9.0
  .github/workflows/cross-language-validation.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-pr.yml
  .github/workflows/go-securememory-ci.yml
  CLAUDE.md
Due: none

Fix simpleCache.Delete to actually delete entries from the map
  go/appencryption/key_cache.go
Due: go_appencryption

Guard sharedEncryption.Close() against negative accessCounter
  go/appencryption/session_cache.go
Due: go_appencryption

Restrict Unix domain socket permissions to owner only
  server/go/main.go
Due: server-go

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
