Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

Update config.yml
  .circleci/config.yml
Due: none

Do not install java server locally
  .circleci/config.yml
  server/java/checkstyle.xml
  server/java/pom.xml
  server/java/scripts/install_local.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: server-java

Revert "Do not install java server locally"
  .circleci/config.yml
  server/java/checkstyle.xml
  server/java/pom.xml
  server/java/scripts/install_local.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: server-java

Use java-server jar from latest branch build
  .circleci/config.yml
  server/samples/clients/test_clients.sh
Due: none

Cltf fix (#201)
  .circleci/config.yml
  server/samples/clients/test_clients.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

Removing "GoDaddy.Asherah.Logging"
  csharp/SecureMemory/Directory.Build.props
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/SecureMemory.Tests/LoggerFixture.cs
  csharp/SecureMemory/SecureMemory.Tests/LoggerFixtureCollection.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
Due: csharp_SecureMemory

Removing "GoDaddy.Asherah.Logging" (#194)
  csharp/SecureMemory/Directory.Build.props
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/SecureMemory.Tests/LoggerFixture.cs
  csharp/SecureMemory/SecureMemory.Tests/LoggerFixtureCollection.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
Due: csharp_SecureMemory

Add global table support
  .circleci/config.yml
  java/app-encryption/pom.xml
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/DefaultPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SuffixedPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/InMemoryMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/JdbcMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/Metastore.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/DefaultPartitionTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/PartitionTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SuffixedPartitionTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImplTest.java
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: java_app_encryption

Misc updates
  .circleci/config.yml
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/DefaultPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImplTest.java
Due: java_app_encryption

Update constructor
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
Due: java_app_encryption

Update builder method
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
Due: java_app_encryption

Updated C# metastore exception handling
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/AdoMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Address review comments
  .circleci/config.yml
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/Metastore.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SuffixedPartitionTest.java
Due: java_app_encryption

- Address additional review comments - Update build process for CLTF and Java server
  .circleci/config.yml
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/DefaultPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SuffixedPartition.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/DefaultPartitionTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/PartitionTest.java
  server/java/checkstyle.xml
  server/java/pom.xml
  server/samples/clients/test_clients.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: java_app_encryption, server-java

Add echo for debug
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/InMemoryMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/JdbcMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/Metastore.java
  server/java/scripts/install_local.sh
  server/samples/clients/test_clients.sh
Due: java_app_encryption, server-java

remove local install script usage
  .circleci/config.yml
Due: none

test server-samples
  .circleci/config.yml
  server/samples/clients/test_clients.sh
Due: none

Update tests for Windows
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemorySecretTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Temporarily disable VirtualAllocEx
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Initial Windows support
  csharp/SecureMemory/PlatformNative/LLP64/Windows/AllocationProtect.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Fix mixed up namespaces
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
Due: csharp_SecureMemory

Relocate the pure tests to benefit all IProtectedMemoryAllocator implementations
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Remove unsupported check
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecretFactory.cs
Due: csharp_SecureMemory

Fix VirtualAllocEx calls to use process handle rather than NULL
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Clean up impure tests
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/ProtectedMemoryAllocatorTest.cs
Due: csharp_SecureMemory

Implement different Windows off-heap allocator strategies
  csharp/SecureMemory/PlatformNative/LLP64/Windows/AllocationType.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/MemoryProtection.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Ignore Windows code for codecov calculations
  codecov.yml
Due: none

Attempt to stop Windows tests from running on non-Windows builds
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
Due: csharp_SecureMemory

Normalize interop types
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Clean up Windows interop
  csharp/SecureMemory/PlatformNative/LLP64/Windows/Enums/AllocationType.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/Enums/MemoryProtection.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorTest.cs
Due: csharp_SecureMemory

Settled on VirtualAllocEx
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Switch to compile time debug strategy
  csharp/SecureMemory/SecureMemory/Debug.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
Due: csharp_SecureMemory

Implement CryptProtectMemory based protections as an alternative to page protections
  csharp/SecureMemory/PlatformNative/LLP64/Windows/CryptProtect.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/Enums/AllocationType.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/Enums/CryptProtectOptions.cs
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Fix compile time debug strategy
  csharp/AppEncryption/Crypto/Engine/BouncyCastle/BouncyAeadCrypto.cs
Due: csharp_AppEncryption

WIP : Initial commit for supporting global dynamodb tables in C#
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/DefaultPartitionTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SuffixedPartitionTest.cs
  csharp/AppEncryption/AppEncryption/DefaultPartition.cs
  csharp/AppEncryption/AppEncryption/Partition.cs
  csharp/AppEncryption/AppEncryption/Persistence/AdoMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/IMetastore.cs
  csharp/AppEncryption/AppEncryption/Persistence/InMemoryMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/AppEncryption/SuffixedPartition.cs
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Miscellaneous minor changes
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
Due: csharp_AppEncryption

Simplify by using VirtualAlloc/VirtualFree
  csharp/SecureMemory/PlatformNative/LLP64/Windows/WindowsInterop.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Windows/WindowsProtectedMemoryAllocatorLLP64.cs
Due: csharp_SecureMemory

Add additional test in SessionFactory
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
Due: csharp_AppEncryption

Update cache version
  .circleci/config.yml
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/DefaultPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/DefaultPartitionTest.java
Due: java_app_encryption

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
