Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

Codecov exclude files (#171)
  .circleci/config.yml
  .codecov.yml
  codecov.yml
  csharp/AppEncryption/scripts/integration_test.sh
  csharp/AppEncryption/scripts/test.sh
  csharp/SecureMemory/scripts/test.sh
Due: csharp_AppEncryption, csharp_SecureMemory

[server/go] add --enable-region-suffix flag
  server/go/README.md
  server/go/go.mod
  server/go/go.sum
  server/go/pkg/server/options.go
  server/go/pkg/server/server.go
Due: server-go

Release C# Logging v0.1.0
  csharp/Logging/Directory.Build.props
Due: csharp_Logging

[go/referenceapp] new flags, bump AE to v0.1.1
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
  samples/go/referenceapp/main.go
Due: none

Delete local nupkg for release versions
  csharp/AppEncryption/scripts/install_local.sh
  csharp/Logging/scripts/install_local.sh
  csharp/SecureMemory/scripts/install_local.sh
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

Release C# Logging v0.1.0 (#174)
  csharp/AppEncryption/scripts/install_local.sh
  csharp/Logging/Directory.Build.props
  csharp/Logging/scripts/install_local.sh
  csharp/SecureMemory/scripts/install_local.sh
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

Added "service layer" link to supported languages
  README.md
Due: none

Release C# SecureMemory v0.1.0
  .circleci/config.yml
  csharp/SecureMemory/Directory.Build.props
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/PlatformNative/PlatformNative.nuspec
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
  csharp/SecureMemory/SecureMemory/SecureMemory.nuspec
  csharp/SecureMemory/scripts/release_prod.sh
Due: csharp_SecureMemory

Update license info and repo URL link
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

Update license info and repo URL
  csharp/Logging/Logging/Logging.csproj
  csharp/Logging/Logging/Logging.nuspec
  csharp/Logging/scripts/release_prod.sh
Due: csharp_Logging

Revert C# SecureMemory to 0.1.0-alpha
  csharp/SecureMemory/Directory.Build.props
Due: csharp_SecureMemory

Use Logging 0.1.0-alpha for SM
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
Due: csharp_SecureMemory

Release C# Logging v0.1.1
  csharp/Logging/Directory.Build.props
Due: csharp_Logging

Release C# SecureMemory v0.1.1
  csharp/SecureMemory/Directory.Build.props
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
Due: csharp_SecureMemory

Release AE v0.1.1
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/AppEncryption/AppEncryption.nuspec
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Crypto/Crypto.nuspec
  csharp/AppEncryption/Directory.Build.props
  csharp/AppEncryption/scripts/release_prod.sh
Due: csharp_AppEncryption

Enable builds for sample clients
  .circleci/config.yml
  server/samples/clients/test_clients.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

non-root PHP sample app
  server/samples/clients/php/.dockerignore
  server/samples/clients/php/.gitignore
  server/samples/clients/php/Asherah.Dockerfile
  server/samples/clients/php/Dockerfile
  server/samples/clients/php/README.md
  server/samples/clients/php/appencryption_client.php
  server/samples/clients/php/composer.json
  server/samples/clients/php/lib/Asherah/Apps/Server/AppEncryptionClient.php
  server/samples/clients/php/lib/Asherah/Apps/Server/DataRowRecord.php
  server/samples/clients/php/lib/Asherah/Apps/Server/Decrypt.php
  server/samples/clients/php/lib/Asherah/Apps/Server/DecryptResponse.php
  server/samples/clients/php/lib/Asherah/Apps/Server/Encrypt.php
  server/samples/clients/php/lib/Asherah/Apps/Server/EncryptResponse.php
  server/samples/clients/php/lib/Asherah/Apps/Server/EnvelopeKeyRecord.php
  server/samples/clients/php/lib/Asherah/Apps/Server/ErrorResponse.php
  server/samples/clients/php/lib/Asherah/Apps/Server/GetSession.php
  server/samples/clients/php/lib/Asherah/Apps/Server/KeyMeta.php
  server/samples/clients/php/lib/Asherah/Apps/Server/SessionRequest.php
  server/samples/clients/php/lib/Asherah/Apps/Server/SessionResponse.php
  server/samples/clients/php/lib/GPBMetadata/Appencryption.php
  server/samples/clients/php/src/Client.php
Due: none

Update dependenecies
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.nuspec
  tests/cross-language/csharp/Cltf.csproj
  tests/cross-language/go/go.mod
  tests/cross-language/go/go.sum
Due: none

Add installation instructions
  csharp/AppEncryption/README.md
  csharp/SecureMemory/README.md
Due: csharp_AppEncryption, csharp_SecureMemory

Update link
  csharp/AppEncryption/README.md
Due: csharp_AppEncryption

Add badges
  csharp/AppEncryption/README.md
  csharp/SecureMemory/README.md
  java/app-encryption/README.md
  java/secure-memory/README.md
Due: csharp_AppEncryption, csharp_SecureMemory, java_app_encryption, java_secure_memory

Address review comments
  .circleci/config.yml
  server/samples/clients/test_clients.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

Update names for restoring cache commands
  .circleci/config.yml
Due: none

Add commands for save cache as well
  .circleci/config.yml
Due: none

Removing "GoDaddy.Asherah.Logging"
  csharp/SecureMemory/Directory.Build.props
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/SecureMemory.Tests/LoggerFixture.cs
  csharp/SecureMemory/SecureMemory.Tests/LoggerFixtureCollection.cs
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/ProtectedMemorySecret.cs
Due: csharp_SecureMemory

Enable builds for sample clients (#187)
  .circleci/config.yml
  server/samples/clients/test_clients.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

Avoid using local install for AE and SM
  .circleci/config.yml
  csharp/AppEncryption/scripts/install_local.sh
  csharp/Logging/scripts/install_local.sh
  csharp/SecureMemory/scripts/install_local.sh
  java/app-encryption/scripts/install_local.sh
  java/secure-memory/scripts/install_local.sh
  tests/cross-language/csharp/Cltf.csproj
  tests/cross-language/java/.gitignore
  tests/cross-language/java/pom.xml
  tests/cross-language/java/scripts/build.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory

Update variable name(s) and values
  README.md
  csharp/AppEncryption/AppEncryption.IntegrationTests/TestHelpers/Constants.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/README.md
  go/appencryption/README.md
  go/appencryption/cmd/example/main.go
  go/appencryption/integration_benchmark_test.go
  java/app-encryption/README.md
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
  samples/go/referenceapp/main.go
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  server/go/pkg/server/server.go
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionImplTest.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionServerTest.java
  tests/cross-language/csharp/Constants.cs
  tests/cross-language/go/const.go
  tests/cross-language/java/src/test/java/com/godaddy/asherah/cltf/Constants.java
  tests/java/test-app/src/main/java/com/godaddy/asherah/testapp/testhelpers/Constants.java
Due: csharp_AppEncryption, java_app_encryption, go_appencryption, server-go, server-java

Overwrite old jars in cache
  .circleci/config.yml
Due: none

Overwrite jar using 'cp -rf'
  .circleci/config.yml
Due: none

Remove unnecessary changes
  .circleci/config.yml
  tests/cross-language/java/.gitignore
  tests/cross-language/java/pom.xml
Due: none

debug
  .circleci/config.yml
Due: none

run all
  .circleci/config.yml
Due: none

Remove debug statements
  .circleci/config.yml
Due: none

Use dotnet core 2.1 images since 2.2 has reached end of life
  .circleci/config.yml
Due: none

Add accidentally deleted command
  .circleci/config.yml
Due: none

Update decrypt_all.sh
  tests/cross-language/scripts/decrypt_all.sh
Due: none

Update encrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc, **/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc, **/com/godaddy/asherah/grpc/ServerApp.java
