Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags: csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags: csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags: csharp_SecureMemory
        target: 90%
      java-app-encryption:
        flags: java_app_encryption
        target: 90%
      java-secure-memory:
        flags: java_secure_memory
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
ignore:
  # Ignore non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  # No need for C# path since the dotnet test command handles it currently (should change if/when we do the above)
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macos path

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags:
          - csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags:
          - csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags:
          - csharp_SecureMemory
        target: 90%
      go-securememory:
        flags:
          - go_securememory
        target: 90%
      go-appencryption:
        flags:
          - go_appencryption
        target: 90%
      java-app-encryption:
        flags:
          - java_app_encryption
        target: 90%
      java-secure-memory:
        flags:
          - java_secure_memory
        target: 90%
      server-go:
        flags:
          - server_go
        target: 90%
      server-java:
        flags:
          - server_java
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  go_securememory:
    paths:
      - go/securememory
  go_appencryption:
    paths:
      - go/appencryption
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
  server-go:
    paths:
      - server/go
  server-java:
    paths:
      - server/java
ignore:
  # Ignore non-linux native paths,auto-generated files and server startup files
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macos path
  - "**/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc"
  - "**/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc"
  - "**/com/godaddy/asherah/grpc/ServerApp.java"

Address review comments
  samples/java/reference-app/README.md
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  server/java/README.md
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/DynamoDbConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/ServerApp.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionConfigTest.java
Due: server-java

[C#]AppEncryption v0.1.4
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Apply suggestions and address review comments
  csharp/AppEncryption/README.md
  samples/csharp/ReferenceApp/README.md
  samples/csharp/ReferenceApp/ReferenceApp/Options.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
Due: csharp_AppEncryption

Combine the dynamodb-region and signing-region flags
  java/app-encryption/README.md
  samples/java/reference-app/README.md
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  server/java/README.md
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/DynamoDbConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/ServerApp.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionConfigTest.java
Due: java_app_encryption, server-java

Remove redundant code
  samples/java/reference-app/pom.xml
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/ServerApp.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionConfigTest.java
Due: server-java

Bump up AE to v0.1.4
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
Due: none

Update server/java/src/main/java/com/godaddy/asherah/grpc/DynamoDbConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/DynamoDbConfig.java
Due: server-java

Update server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
Due: server-java

[C#] : Update reference app and documentation (#228)
  csharp/AppEncryption/README.md
  samples/csharp/ReferenceApp/README.md
  samples/csharp/ReferenceApp/ReferenceApp/Options.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
Due: csharp_AppEncryption

[Java] Use latest AE in the server and ref-app (#221)
  docs/Metastore.md
  go/appencryption/README.md
  java/app-encryption/README.md
  samples/java/reference-app/README.md
  samples/java/reference-app/pom.xml
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  server/go/README.md
  server/java/README.md
  server/java/pom.xml
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/DynamoDbConfig.java
  server/java/src/main/java/com/godaddy/asherah/grpc/ServerApp.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionConfigTest.java
Due: java_app_encryption, go_appencryption, server-go, server-java

Address GitHub security alert for Guava version
  java/app-encryption/pom.xml
Due: java_app_encryption

Use latest version of Guava and AE version bump
  java/app-encryption/pom.xml
Due: java_app_encryption

Move java scripts to a central location and symlink everywhere
  java/app-encryption/scripts/build.sh
  java/app-encryption/scripts/clean.sh
  java/app-encryption/scripts/release_prod.sh
  java/app-encryption/scripts/test.sh
  java/secure-memory/scripts/build.sh
  java/secure-memory/scripts/clean.sh
  java/secure-memory/scripts/release_prod.sh
  java/secure-memory/scripts/test.sh
  samples/java/reference-app/scripts/build.sh
  samples/java/reference-app/scripts/clean.sh
  scripts/java/build.sh
  scripts/java/clean.sh
  scripts/java/release_prod.sh
  scripts/java/test.sh
  scripts/metastore/revoke_keys_dynamodb.py
  scripts/metastore/revoke_keys_mysql.py
  server/java/scripts/build.sh
  server/java/scripts/clean.sh
  server/java/scripts/test.sh
  tests/java/test-app/scripts/build.sh
  tests/java/test-app/scripts/clean.sh
Due: java_app_encryption, java_secure_memory, server-java

Add newline at the end of script
  scripts/java/clean.sh
  scripts/java/test.sh
Due: none

[Java] Update Guava version to address GitHub security alert (#233)
  java/app-encryption/pom.xml
Due: java_app_encryption

Move scripts to root level build directory
  build/java/build.sh
  build/java/clean.sh
  build/java/release_prod.sh
  build/java/test.sh
  build/settings.xml
  java/app-encryption/scripts/build.sh
  java/app-encryption/scripts/clean.sh
  java/app-encryption/scripts/release_prod.sh
  java/app-encryption/scripts/test.sh
  java/secure-memory/scripts/build.sh
  java/secure-memory/scripts/clean.sh
  java/secure-memory/scripts/release_prod.sh
  java/secure-memory/scripts/test.sh
  samples/java/reference-app/scripts/build.sh
  samples/java/reference-app/scripts/clean.sh
  scripts/revoke_keys_dynamodb.py
  scripts/revoke_keys_mysql.py
  server/java/scripts/build.sh
  server/java/scripts/clean.sh
  server/java/scripts/test.sh
  tests/java/test-app/scripts/build.sh
  tests/java/test-app/scripts/clean.sh
Due: java_app_encryption, java_secure_memory, server-java

Update ROADMAP and testing approach
  docs/ROADMAP.md
  docs/TestingApproach.md
Due: none

[Java]Move scripts to a central location and symlink everywhere (#234)
  build/java/build.sh
  build/java/clean.sh
  build/java/release_prod.sh
  build/java/test.sh
  build/settings.xml
  java/app-encryption/scripts/build.sh
  java/app-encryption/scripts/clean.sh
  java/app-encryption/scripts/release_prod.sh
  java/app-encryption/scripts/test.sh
  java/secure-memory/scripts/build.sh
  java/secure-memory/scripts/clean.sh
  java/secure-memory/scripts/release_prod.sh
  java/secure-memory/scripts/test.sh
  samples/java/reference-app/scripts/build.sh
  samples/java/reference-app/scripts/clean.sh
  server/java/scripts/build.sh
  server/java/scripts/clean.sh
  server/java/scripts/test.sh
  tests/java/test-app/scripts/build.sh
  tests/java/test-app/scripts/clean.sh
Due: java_app_encryption, java_secure_memory, server-java

[C#] Move scripts to root level build directory and symlink everywhere
  .circleci/config.yml
  build/csharp/NuGet.Config
  build/csharp/build.sh
  build/csharp/clean.sh
  build/csharp/release_prod.sh
  build/csharp/test.sh
  csharp/AppEncryption/scripts/build.sh
  csharp/AppEncryption/scripts/clean.sh
  csharp/AppEncryption/scripts/release_prod.sh
  csharp/Logging/scripts/build.sh
  csharp/Logging/scripts/clean.sh
  csharp/Logging/scripts/release_prod.sh
  csharp/Logging/scripts/test.sh
  csharp/SecureMemory/scripts/build.sh
  csharp/SecureMemory/scripts/clean.sh
  csharp/SecureMemory/scripts/release_prod.sh
  csharp/SecureMemory/scripts/test.sh
  samples/csharp/ReferenceApp/scripts/build.sh
  samples/csharp/ReferenceApp/scripts/clean.sh
  tests/cross-language/csharp/scripts/build.sh
  tests/cross-language/csharp/scripts/clean.sh
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

Remove unused files
  .circleci/config.yml
  build/csharp/NuGet.Config
  csharp/AppEncryption/Directory.Build.props
  csharp/Logging/Directory.Build.props
  csharp/SecureMemory/Directory.Build.props
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

Update test commands for CLTF
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

Use symlink for CLTF build
  tests/cross-language/csharp/scripts/build.sh
Due: none

Use symlink for CLTF build
  .circleci/config.yml
  build/csharp/clean.sh
Due: none

Update ROADMAP.md
  docs/ROADMAP.md
Due: none

Update TestingApproach.md
  docs/TestingApproach.md
Due: none

Apply suggestions from code review
  docs/ROADMAP.md
Due: none

Bump cache versions to v5
  .circleci/config.yml
Due: none

Update ROADMAP and testing approach (#235)
  docs/ROADMAP.md
  docs/TestingApproach.md
Due: none

[C#] Move scripts to root level build directory (#237)
  .circleci/config.yml
  build/NuGet.Config
  build/csharp/build.sh
  build/csharp/clean.sh
  build/csharp/release_prod.sh
  build/csharp/test.sh
  csharp/AppEncryption/Directory.Build.props
  csharp/AppEncryption/scripts/build.sh
  csharp/AppEncryption/scripts/clean.sh
  csharp/AppEncryption/scripts/release_prod.sh
  csharp/Logging/Directory.Build.props
  csharp/Logging/scripts/build.sh
  csharp/Logging/scripts/clean.sh
  csharp/Logging/scripts/release_prod.sh
  csharp/Logging/scripts/test.sh
  csharp/SecureMemory/Directory.Build.props
  csharp/SecureMemory/scripts/build.sh
  csharp/SecureMemory/scripts/clean.sh
  csharp/SecureMemory/scripts/release_prod.sh
  csharp/SecureMemory/scripts/test.sh
  samples/csharp/ReferenceApp/scripts/build.sh
  samples/csharp/ReferenceApp/scripts/clean.sh
  tests/cross-language/csharp/scripts/build.sh
  tests/cross-language/csharp/scripts/clean.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

[Go] Move scripts to root level build directory and symlink everywhere
  build/go/benchmark_test.sh
  build/go/build.sh
  build/go/lint.sh
  build/go/release_prod.sh
  build/go/test.sh
  go/appencryption/.versionfile
  go/appencryption/scripts/benchmark_test.sh
  go/appencryption/scripts/build.sh
  go/appencryption/scripts/lint.sh
  go/appencryption/scripts/release_prod.sh
  go/appencryption/scripts/test.sh
  go/securememory/.versionfile
  go/securememory/scripts/benchmark_test.sh
  go/securememory/scripts/build.sh
  go/securememory/scripts/lint.sh
  go/securememory/scripts/release_prod.sh
  go/securememory/scripts/test.sh
  java/app-encryption/pom.xml
  java/secure-memory/pom.xml
  samples/go/referenceapp/scripts/build.sh
  samples/go/referenceapp/scripts/lint.sh
  server/go/scripts/build.sh
  server/go/scripts/lint.sh
  tests/cross-language/go/scripts/build.sh
  tests/cross-language/go/scripts/lint.sh
Due: java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go

Revert Java version bumps
  java/app-encryption/pom.xml
  java/secure-memory/pom.xml
Due: java_app_encryption, java_secure_memory

Add an optional flag for table name
  scripts/revoke_keys_dynamodb.py
Due: none

Update link to utility scripts
  docs/Metastore.md
Due: none

[Go] Move scripts to root level build directory and symlink everywhere (#238)
  build/go/benchmark_test.sh
  build/go/build.sh
  build/go/lint.sh
  build/go/release_prod.sh
  build/go/test.sh
  go/appencryption/.versionfile
  go/appencryption/scripts/benchmark_test.sh
  go/appencryption/scripts/build.sh
  go/appencryption/scripts/lint.sh
  go/appencryption/scripts/release_prod.sh
  go/appencryption/scripts/test.sh
  go/securememory/.versionfile
  go/securememory/scripts/benchmark_test.sh
  go/securememory/scripts/build.sh
  go/securememory/scripts/lint.sh
  go/securememory/scripts/release_prod.sh
  go/securememory/scripts/test.sh
  samples/go/referenceapp/scripts/build.sh
  samples/go/referenceapp/scripts/lint.sh
  server/go/scripts/build.sh
  server/go/scripts/lint.sh
  tests/cross-language/go/scripts/build.sh
  tests/cross-language/go/scripts/lint.sh
Due: go_securememory, go_appencryption, server-go

Update docs/Metastore.md
  docs/Metastore.md
Due: none

Update DynamoDb revoke script (#239)
  docs/Metastore.md
  scripts/revoke_keys_dynamodb.py
Due: none

[go] test dynamodb region suffix backwards compatibility
  go/appencryption/integration_test.go
  go/appencryption/pkg/persistence/persistencetest/dynamodb.go
Due: go_appencryption

[go] refactored dynamodb persistence tests
  go/appencryption/pkg/persistence/dynamodb.go
  go/appencryption/pkg/persistence/dynamodb_integration_test.go
  go/appencryption/pkg/persistence/dynamodb_test.go
  go/appencryption/pkg/persistence/persistencetest/dynamodb.go
Due: go_appencryption
