Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

optionally pool database connections
  server/go/pkg/server/database.go
  server/go/pkg/server/options.go
  server/go/pkg/server/server.go
Due: server-go

[Java] Fix cross-partition decryption bug
  java/app-encryption/pom.xml
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/DefaultPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SuffixedPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/Metastore.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/DefaultPartitionTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/PartitionTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SuffixedPartitionTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImplTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/JdbcMetastoreImplTest.java
Due: java_app_encryption

Add config.yaml to configure IT options
  java/app-encryption/pom.xml
  java/app-encryption/src/it/java/com/godaddy/asherah/ConfigReader.java
  java/app-encryption/src/it/java/com/godaddy/asherah/TestSetup.java
  java/app-encryption/src/it/java/com/godaddy/asherah/multithreaded/MultiFactoryThreadedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/multithreaded/MultiPartitionMultiThreadedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/multithreaded/SessionByteMultiThreadedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/multithreaded/SessionJsonMultiThreadedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/AppEncryptionParameterizedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/SessionBytesIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/SessionJsonIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/securememory/multithreaded/MultiThreadedSecretIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/testhelpers/Constants.java
  java/app-encryption/src/it/java/com/godaddy/asherah/utils/SessionFactoryGenerator.java
  java/app-encryption/src/it/resources/config.yaml
Due: java_app_encryption

fix linter errors
  server/go/pkg/server/database.go
  server/go/pkg/server/options.go
Due: server-go

fix more linter errors
  server/go/pkg/server/database.go
Due: server-go

review changes suggested by @aka-bo
  server/go/pkg/server/database.go
  server/go/pkg/server/options.go
  server/go/pkg/server/server.go
Due: server-go

added database_test
  server/go/go.mod
  server/go/go.sum
  server/go/pkg/server/database_test.go
Due: server-go

use fake driver for database test
  server/go/go.mod
  server/go/go.sum
  server/go/pkg/server/database.go
  server/go/pkg/server/database_test.go
Due: server-go

Address review comments
  .circleci/config.yml
  java/app-encryption/pom.xml
  java/app-encryption/src/it/java/com/godaddy/asherah/TestConfiguration.java
  java/app-encryption/src/it/java/com/godaddy/asherah/TestSetup.java
Due: java_app_encryption

fix linting
  server/go/pkg/server/database_test.go
Due: server-go

Address review comments
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/Metastore.java
Due: java_app_encryption

Update java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
Due: java_app_encryption

Update DynamoDbMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
Due: java_app_encryption

Use `tableName` instead of `table` for table name
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
Due: java_app_encryption

[Java] AE: Add JavaDocs (#245)
  build/java/build.sh
  build/java/clean.sh
  build/java/release_prod.sh
  build/java/test.sh
  docs/SystemRequirements.md
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/DefaultPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Session.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionBytesImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SuffixedPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryption.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionBytesImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeKeyRecord.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/KeyMeta.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/AppEncryptionException.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/KmsException.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/MetadataMissingException.java
Due: java_app_encryption

RDBMS connection pool (#254)
  server/go/go.sum
  server/go/pkg/server/database.go
  server/go/pkg/server/database_test.go
Due: server-go

Add docs for public methods in C# (#248)
  csharp/AppEncryption/AppEncryption/DefaultPartition.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionBytesImpl.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeKeyRecord.cs
  csharp/AppEncryption/AppEncryption/Envelope/IEnvelopeEncryption.cs
  csharp/AppEncryption/AppEncryption/Envelope/KeyMeta.cs
  csharp/AppEncryption/AppEncryption/Exceptions/KmsException.cs
  csharp/AppEncryption/AppEncryption/Exceptions/MetadataMissingException.cs
  csharp/AppEncryption/AppEncryption/Partition.cs
  csharp/AppEncryption/AppEncryption/Session.cs
  csharp/AppEncryption/AppEncryption/SessionBytesImpl.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/AppEncryption/SessionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/SuffixedPartition.cs
  csharp/AppEncryption/Crypto/Exceptions/AppEncryptionException.cs
Due: csharp_AppEncryption

fix build error
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
Due: java_app_encryption

merge master and resolve conflicts
  build/java/build.sh
  build/java/clean.sh
  build/java/release_prod.sh
  build/java/test.sh
  csharp/AppEncryption/AppEncryption/DefaultPartition.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionBytesImpl.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeKeyRecord.cs
  csharp/AppEncryption/AppEncryption/Envelope/IEnvelopeEncryption.cs
  csharp/AppEncryption/AppEncryption/Envelope/KeyMeta.cs
  csharp/AppEncryption/AppEncryption/Exceptions/KmsException.cs
  csharp/AppEncryption/AppEncryption/Exceptions/MetadataMissingException.cs
  csharp/AppEncryption/AppEncryption/Partition.cs
  csharp/AppEncryption/AppEncryption/Session.cs
  csharp/AppEncryption/AppEncryption/SessionBytesImpl.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/AppEncryption/SessionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/SuffixedPartition.cs
  csharp/AppEncryption/Crypto/Exceptions/AppEncryptionException.cs
  docs/SystemRequirements.md
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Session.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionBytesImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryption.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionBytesImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeKeyRecord.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/KeyMeta.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/AppEncryptionException.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/KmsException.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/exceptions/MetadataMissingException.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  server/go/go.sum
  server/go/pkg/server/database.go
  server/go/pkg/server/database_test.go
Due: csharp_AppEncryption, java_app_encryption, server-go

update javadoc
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
Due: java_app_encryption

Integration tests migration (#255)
  .circleci/config.yml
  build/java/integration_test.sh
  java/app-encryption/pom.xml
  java/app-encryption/scripts/integration_test.sh
  java/app-encryption/src/it/java/com/godaddy/asherah/TestConfiguration.java
  java/app-encryption/src/it/java/com/godaddy/asherah/TestSetup.java
  java/app-encryption/src/it/java/com/godaddy/asherah/multithreaded/MultiFactoryThreadedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/multithreaded/MultiPartitionMultiThreadedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/multithreaded/SessionByteMultiThreadedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/multithreaded/SessionJsonMultiThreadedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/AppEncryptionParameterizedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/CacheMock.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/CryptoKeyHolder.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/DecryptMetastoreInteractions.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/DynamoDbGlobalTableIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/EncryptMetastoreInteractions.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/MetastoreMock.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/SessionBytesIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/SessionJsonIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/securememory/multithreaded/MultiThreadedSecretIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/testhelpers/Constants.java
  java/app-encryption/src/it/java/com/godaddy/asherah/testhelpers/KeyState.java
  java/app-encryption/src/it/java/com/godaddy/asherah/utils/DateTimeUtils.java
  java/app-encryption/src/it/java/com/godaddy/asherah/utils/PayloadGenerator.java
  java/app-encryption/src/it/java/com/godaddy/asherah/utils/PersistenceFactory.java
  java/app-encryption/src/it/java/com/godaddy/asherah/utils/SessionFactoryGenerator.java
  java/app-encryption/src/it/resources/config.yaml
Due: java_app_encryption

Add cross partition decrypt test
  java/app-encryption/src/it/java/com/godaddy/asherah/TestSetup.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/AppEncryptionParameterizedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/CrossPartitionDecryptIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/DynamoDbGlobalTableIT.java
Due: java_app_encryption

Rename test
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/CrossPartitionDecryptIT.java
Due: java_app_encryption

Address review comments
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/CrossPartitionDecryptIT.java
Due: java_app_encryption

Use TestUtils to create payload and sessionFactory
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/CrossPartitionDecryptIT.java
Due: java_app_encryption

Use TestUtils to create payload and sessionFactory
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/DynamoDbGlobalTableIT.java
Due: java_app_encryption

Fix failing test
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/DynamoDbGlobalTableIT.java
Due: java_app_encryption

Update JavaDocs
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKeyManagementServiceImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/KeyManagementService.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/StaticKeyManagementServiceImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/AdhocPersistence.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/JdbcMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/Metastore.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/Persistence.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/utils/Json.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/utils/SafeAutoCloseable.java
Due: java_app_encryption

Fix cross partition bug in csharp sdk
  .circleci/config.yml
  csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/CrossPartitionDecryptTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/DynamoDbGlobalTableTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/DefaultPartitionTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/PartitionTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/AppEncryption/DefaultPartition.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/Partition.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/IMetastore.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/AppEncryption/SuffixedPartition.cs
  docs/TestingApproach.md
Due: csharp_AppEncryption

Remove unused imports
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/DynamoDbGlobalTableTest.cs
Due: csharp_AppEncryption

Convert StyleCop to a development dependency
  csharp/Logging/Directory.Build.props
  csharp/Logging/Logging.Tests/Logging.Tests.csproj
  csharp/Logging/Logging/Logging.csproj
Due: csharp_Logging

Adjust spacing
  csharp/Logging/Logging.Tests/Logging.Tests.csproj
  csharp/Logging/Logging/Logging.csproj
Due: csharp_Logging

Convert StyleCop to a development dependency
  csharp/SecureMemory/Directory.Build.props
  csharp/SecureMemory/PlatformNative/PlatformNative.csproj
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

[C#] Logging: Convert StyleCop to a development dependency (#261)
  csharp/Logging/Directory.Build.props
  csharp/Logging/Logging.Tests/Logging.Tests.csproj
  csharp/Logging/Logging/Logging.csproj
Due: csharp_Logging

Keep back dependency in circleci
  .circleci/config.yml
Due: none

Fix cross partition bug in csharp sdk (#258)
  csharp/AppEncryption/AppEncryption.IntegrationTests/ConfigFixture.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/CrossPartitionDecryptTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/DynamoDbGlobalTableTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/DefaultPartitionTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/PartitionTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/AppEncryption/DefaultPartition.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/Partition.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/IMetastore.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/AppEncryption/SuffixedPartition.cs
  docs/TestingApproach.md
Due: csharp_AppEncryption

Convert StyleCop to a development dependency
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

[Java]Release AppEncryption v0.1.3
  java/app-encryption/pom.xml
Due: java_app_encryption

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
