Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: languages_csharp_AppEncryption, languages_csharp_Logging, languages_csharp_SecureMemory, languages_java_app_encryption, languages_java_secure_memory

Misc cleanup
  languages/csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
  languages/csharp/AppEncryption/Crypto/BasicExpiringCryptoPolicy.cs
Due: languages_csharp_AppEncryption

WIP : Add semaphore lock for creating sessions
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

Add multithreaded tests
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/Crypto/BasicExpiringCryptoPolicyTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/LoggerFixture.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
  languages/csharp/AppEncryption/Crypto/BasicExpiringCryptoPolicy.cs
  languages/csharp/AppEncryption/Crypto/Engine/BouncyCastle/BouncyAeadCrypto.cs
  languages/csharp/AppEncryption/Crypto/Keys/SecureCryptoKeyDictionary.cs
Due: languages_csharp_AppEncryption

Some code cleanup around clearing all remaining sessions in cache
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

added a few more assertions to unit tests
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
Due: languages_java_app_encryption

Use IMemoryCache for session caching
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

WIP : A little cleanup and adding more tests
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

Added all tests related to session cache max size
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

remove unreliable assertion
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
Due: languages_java_app_encryption

continuing to troubleshoot failing unit test
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
Due: languages_java_app_encryption

adding assertion back to previously-failing test
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
Due: languages_java_app_encryption

previous commit was invalid test. add back rest
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
Due: languages_java_app_encryption

add more assertions, still troubleshooting
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
Due: languages_java_app_encryption

add more troubleshooting
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
Due: languages_java_app_encryption

more troubleshooting in unit test...
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
Due: languages_java_app_encryption

aha! mlock limit error was getting swalloed
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
Due: languages_java_app_encryption

add couple more assertions
  languages/java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
Due: languages_java_app_encryption

ReleaseShared as a separate function
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

Remove style check warnings Added code comments wherever required Fixed test cases Remove unused sessions when the cache size limit is reached, instead of bypassing the cache
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

Update CryptoPolicy.md
  docs/CryptoPolicy.md
Due: none

Update CodeStructure.md
  docs/CodeStructure.md
Due: none

Update KeyCaching.md
  docs/KeyCaching.md
Due: none

Update cache_lifecycles.svg
  docs/images/cache_lifecycles.svg
Due: none

Revert "Update cache_lifecycles.svg"
  docs/images/cache_lifecycles.svg
Due: none

edit image
  docs/images/cache_lifecycles.svg
Due: none

correct svg image
  docs/images/cache_lifecycles.svg
Due: none

Update cache_lifecycles.puml
  docs/assets/cache_lifecycles.puml
Due: none

use docker image to generate svg file
  docs/images/cache_lifecycles.svg
Due: none

Update README.md
  languages/java/app-encryption/README.md
Due: languages_java_app_encryption

Update README.md
  languages/csharp/AppEncryption/README.md
Due: languages_csharp_AppEncryption

Addressed review comments
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  languages/csharp/AppEncryption/AppEncryption.Tests/Crypto/BasicExpiringCryptoPolicyTest.cs
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

Use compaction percentage
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

Assert cache size in TestSessionCacheMultiThreadedWithMaxSessionReachedSameSession
  languages/csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
Due: languages_csharp_AppEncryption

Use object lock instead of semaphore slim
  languages/csharp/AppEncryption/AppEncryption/SessionFactory.cs
Due: languages_csharp_AppEncryption

update cache lifecyle diagram
  docs/assets/cache_lifecycles.puml
  docs/images/cache_lifecycles.svg
Due: none

Java docs (#119)
  docs/CodeStructure.md
  docs/CryptoPolicy.md
  docs/KeyCaching.md
  docs/assets/cache_lifecycles.puml
  docs/images/cache_lifecycles.svg
  languages/java/app-encryption/README.md
Due: languages_java_app_encryption

Path conditions:
  languages_csharp_AppEncryption: any of: languages/csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_csharp_Logging: any of: languages/csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_csharp_SecureMemory: any of: languages/csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_java_app_encryption: any of: languages/java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
  languages_java_secure_memory: any of: languages/java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos
