Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags: csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags: csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags: csharp_SecureMemory
        target: 90%
      java-app-encryption:
        flags: java_app_encryption
        target: 90%
      java-secure-memory:
        flags: java_secure_memory
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
ignore:
  # Ignore non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  # No need for C# path since the dotnet test command handles it currently (should change if/when we do the above)
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macos path

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags:
          - csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags:
          - csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags:
          - csharp_SecureMemory
        target: 90%
      go-securememory:
        flags:
          - go_securememory
        target: 90%
      go-appencryption:
        flags:
          - go_appencryption
        target: 90%
      java-app-encryption:
        flags:
          - java_app_encryption
        target: 90%
      java-secure-memory:
        flags:
          - java_secure_memory
        target: 90%
      server-go:
        flags:
          - server_go
        target: 90%
      server-java:
        flags:
          - server_java
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  go_securememory:
    paths:
      - go/securememory
  go_appencryption:
    paths:
      - go/appencryption
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
  server-go:
    paths:
      - server/go
  server-java:
    paths:
      - server/java
ignore:
  # Non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macOS path
  - "**/SecureMemory/ProtectedMemoryImpl/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LP64/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LLP64/Windows" # C# Windows path
  - "**/SecureMemory/ProtectedMemoryImpl/Windows" # C# Windows path
  # gRPC auto-generated file
  - "**/target/generated-sources/protobuf" # Java auto-generated files
  - "**api/appencryption.pb.go" # Go auto-generated files
  # Server startup files
  - "**/com/godaddy/asherah/grpc/ServerApp.java" # Java server startup

move wss config to the run-wss-scan action dir
  .github/actions/run-wss-scan/wss-unified-agent.config
Due: none

fix secrets usage
  .github/actions/run-wss-scan/action.yml
Due: none

pass secrets from workflow to actions via inputs
  .github/actions/run-wss-scan/action.yml
  .github/workflows/run-wss-scans.yml
Due: none

removed redundant workflow input
  .github/workflows/run-wss-scans.yml
Due: none

fix conditional statement
  .github/workflows/run-wss-scans.yml
Due: none

added explicit package references for indirect dependencies with known vuln
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
Due: csharp_AppEncryption

added explicit package references for indirect dependencies with known vuln
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
Due: csharp_SecureMemory

java app-encryption dependency updates
  java/app-encryption/pom.xml
Due: java_app_encryption

java app-encryption: override jackson-dataformat-cbor version
  java/app-encryption/pom.xml
Due: java_app_encryption

install latest dotnet-sdk-2.1 during wss setup
  .github/actions/setup-wss-env/action.yml
Due: none

removed "alpha" notices and outdated roadmap content
  README.md
  docs/ROADMAP.md
Due: none

default release branch is now "release-0.x"
  .github/workflows/sync-release.yml
Due: none

Fix partition suffix bug
  java/app-encryption/pom.xml
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/AppEncryptionParameterizedIT.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/DynamoDbGlobalTableIT.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/DefaultPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/Partition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SessionFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SuffixedPartition.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/Metastore.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/DefaultPartitionTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/PartitionTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SessionFactoryTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SuffixedPartitionTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/json/AppJsonEncryptionImplTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImplTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/JdbcMetastoreImplTest.java
Due: java_app_encryption

additional unit test for keymeta validation
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
Due: java_app_encryption

fix copy/paste test fail
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/envelope/EnvelopeEncryptionJsonImplTest.java
Due: java_app_encryption

bump version
  java/app-encryption/pom.xml
Due: java_app_encryption

upgraded dependencies
  go/appencryption/go.mod
  go/appencryption/go.sum
Due: go_appencryption

version bump v0.2.0
  go/appencryption/.versionfile
Due: go_appencryption

Fix partition suffix bug
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/AppEncryptionParameterizedTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/CrossPartitionDecryptTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/DefaultPartitionTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SuffixedPartitionTest.cs
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/AppEncryption/DefaultPartition.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/Envelope/KeyMeta.cs
  csharp/AppEncryption/AppEncryption/Partition.cs
  csharp/AppEncryption/AppEncryption/Persistence/AdoMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/Persistence/IMetastore.cs
  csharp/AppEncryption/AppEncryption/Persistence/InMemoryMetastoreImpl.cs
  csharp/AppEncryption/AppEncryption/SessionFactory.cs
  csharp/AppEncryption/AppEncryption/SuffixedPartition.cs
Due: csharp_AppEncryption

Additional unit test for KeyMeta validation
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/DynamoDbGlobalTableTest.cs
Due: csharp_AppEncryption

Remove MYSQL_USER from c# AE run
  .circleci/config.yml
Due: none

Remove MYSQL_USER from Go AE run
  .circleci/config.yml
Due: none

Version bump
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Remove MYSQL_USER from cross language tests
  .circleci/config.yml
Due: none

Restore the cross partition decryption tests
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/CrossPartitionDecryptTest.cs
Due: csharp_AppEncryption

Add a basic test to fully cover AdpMetastoreImpl
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
Due: csharp_AppEncryption

Updated packages in .NET SecureMemory projects
  csharp/SecureMemory/Directory.Build.props
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
  csharp/SecureMemory/SecureMemory/SecureMemory.csproj
Due: csharp_SecureMemory

Updated the dependencies in the csharp libraries
  csharp/AppEncryption/AppEncryption.IntegrationTests/AppEncryption.IntegrationTests.csproj
  csharp/AppEncryption/AppEncryption.IntegrationTests/SecureMemory/Multithreaded/MultiThreadedSecretTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Directory.Build.props
  csharp/AppEncryption/README.md
  csharp/SecureMemory/README.md
Due: csharp_AppEncryption, csharp_SecureMemory

added System.Text.Encodings.Web as top-level dependency
  csharp/AppEncryption/AppEncryption/AppEncryption.csproj
Due: csharp_AppEncryption

bump version to 0.2.2
  csharp/AppEncryption/Directory.Build.props
  csharp/AppEncryption/README.md
Due: csharp_AppEncryption

Disable codecov
  .circleci/config.yml
Due: none

Fix handling of large/unlimited memlock rlimit
  csharp/SecureMemory/Directory.Build.props
  csharp/SecureMemory/SecureMemory.Tests/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorTest.cs
  csharp/SecureMemory/SecureMemory/ProtectedMemoryImpl/Libc/LibcProtectedMemoryAllocatorLP64.cs
Due: csharp_SecureMemory

Updated SecureMemory to latest, bump version to 0.2.3
  csharp/AppEncryption/Crypto/Crypto.csproj
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Issue #362: Records created in another region aren't able to be decrypted with the go appencrpytion implementation
  go/appencryption/partition.go
  go/appencryption/partition_test.go
Due: go_appencryption

Running gofmt
  go/appencryption/partition.go
  go/appencryption/partition_test.go
Due: go_appencryption

version bump v0.2.1
  go/appencryption/.versionfile
Due: go_appencryption

Fix cross-region decryption bug in Java and C#
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/DynamoDbGlobalTableTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDBContainerFixture.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SuffixedPartitionTest.cs
  csharp/AppEncryption/AppEncryption/SuffixedPartition.cs
  csharp/AppEncryption/Directory.Build.props
  java/app-encryption/pom.xml
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/DynamoDbGlobalTableIT.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/SuffixedPartition.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/SuffixedPartitionTest.java
Due: csharp_AppEncryption, java_app_encryption

Try out a CodeQL workflow
  .github/workflows/codeql-analysis.yml
Due: none

Install openjdk-11 version 11.0.7+10-3ubuntu1
  .circleci/config.yml
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

Fix indent
  csharp/AppEncryption/AppEncryption.IntegrationTests/Regression/DynamoDbGlobalTableTest.cs
Due: csharp_AppEncryption
