Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

go work sync
  go/appencryption/cmd/example/go.mod
  go/appencryption/cmd/example/go.sum
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/go.work.sum
  go/appencryption/integrationtest/go.sum
Due: go_appencryption

dynamodb persistence aliased to plugins/aws-v1
  go/appencryption/pkg/persistence/dynamodb.go
  go/appencryption/pkg/persistence/dynamodb_test.go
Due: go_appencryption

go mod tidy
  go/appencryption/go.sum
Due: go_appencryption

bump version to v0.5.0
  go/appencryption/.versionfile
Due: go_appencryption

aws kms types aliased to plugins/aws-v1/kms
  go/appencryption/pkg/kms/aws.go
  go/appencryption/pkg/kms/static_test.go
  go/appencryption/plugins/aws-v1/kms/aws.go
  go/appencryption/plugins/aws-v1/kms/aws_test.go
Due: go_appencryption

reorganize integrationtest packages & use descriptive/actionable test names
  go/appencryption/integrationtest/dynamodbtest/dynamodbtest.go
  go/appencryption/integrationtest/integration_test.go
  go/appencryption/integrationtest/persistence/dynamodb_test.go
  go/appencryption/integrationtest/persistence/sql_test.go
Due: go_appencryption

upgrade aws-sdk + go work sync
  go/appencryption/cmd/example/go.mod
  go/appencryption/cmd/example/go.sum
  go/appencryption/go.mod
  go/appencryption/go.sum
  go/appencryption/go.work.sum
  go/appencryption/integrationtest/go.mod
  go/appencryption/integrationtest/go.sum
Due: go_appencryption

Update the lambda example
  samples/go/aws/lambda/2-deploy.sh
  samples/go/aws/lambda/function/go.mod
  samples/go/aws/lambda/function/go.sum
  samples/go/aws/lambda/template.yml
Due: none

delete existing golangci config
  go/appencryption/.golangci.yml
Due: go_appencryption

initial lint cleanup
  go/appencryption/envelope.go
  go/appencryption/pkg/cache/cache.go
  go/appencryption/pkg/cache/internal/hash.go
  go/appencryption/pkg/cache/lfu.go
  go/appencryption/pkg/cache/lru.go
  go/appencryption/pkg/cache/tlfu.go
  go/appencryption/pkg/persistence/sql.go
  go/appencryption/plugins/aws-v1/kms/aws_test.go
  go/appencryption/plugins/aws-v1/persistence/dynamodb.go
Due: go_appencryption

new golangci config
  go/appencryption/.golangci.yml
Due: go_appencryption

add linter preset: performance; fixup
  go/appencryption/.golangci.yml
  go/appencryption/envelope.go
  go/appencryption/key_cache_benchmark_test.go
  go/appencryption/pkg/persistence/sql.go
  go/appencryption/plugins/aws-v1/kms/aws.go
Due: go_appencryption

add linter preset: comment; fixup
  go/appencryption/.golangci.yml
  go/appencryption/appencryption.go
  go/appencryption/envelope.go
  go/appencryption/partition.go
  go/appencryption/pkg/crypto/aead/aes256gcm.go
  go/appencryption/pkg/kms/aws.go
  go/appencryption/pkg/kms/static.go
  go/appencryption/pkg/persistence/sql.go
  go/appencryption/plugins/aws-v1/kms/aws.go
  go/appencryption/plugins/aws-v1/persistence/dynamodb.go
  go/appencryption/session.go
Due: go_appencryption

add linter preset: sql
  go/appencryption/.golangci.yml
Due: go_appencryption

add linter preset: complexity; fixup
  go/appencryption/.golangci.yml
  go/appencryption/pkg/kms/static_test.go
Due: go_appencryption

add linter preset: format; fixup
  go/appencryption/.golangci.yml
  go/appencryption/internal/bytes_test.go
  go/appencryption/key_cache.go
  go/appencryption/key_cache_benchmark_test.go
  go/appencryption/key_cache_test.go
  go/appencryption/parameterized_test.go
  go/appencryption/pkg/kms/static.go
  go/appencryption/pkg/persistence/dynamodb.go
  go/appencryption/plugins/aws-v1/kms/aws.go
  go/appencryption/plugins/aws-v1/persistence/dynamodb.go
  go/appencryption/plugins/aws-v1/persistence/dynamodb_test.go
  go/appencryption/session_cache_test.go
Due: go_appencryption

add linter preset: error
  go/appencryption/.golangci.yml
Due: go_appencryption

add linter preset: unused; fixup
  go/appencryption/.golangci.yml
  go/appencryption/key_cache_test.go
Due: go_appencryption

add linter preset: module; remove redundant replace directive & go mod tidy
  go/appencryption/.golangci.yml
  go/appencryption/go.mod
Due: go_appencryption

add linter preset: import; replace deprecated pkg/errors package
  go/appencryption/.golangci.yml
  go/appencryption/envelope.go
  go/appencryption/internal/bytes_test.go
  go/appencryption/internal/key_test.go
  go/appencryption/key_cache_benchmark_test.go
  go/appencryption/key_cache_test.go
  go/appencryption/pkg/crypto/aead/aead.go
  go/appencryption/pkg/crypto/aead/aead_test.go
  go/appencryption/pkg/kms/static.go
  go/appencryption/pkg/kms/static_test.go
  go/appencryption/pkg/persistence/dynamodb.go
  go/appencryption/pkg/persistence/sql.go
  go/appencryption/plugins/aws-v1/kms/aws.go
  go/appencryption/plugins/aws-v1/kms/aws_test.go
  go/appencryption/plugins/aws-v1/persistence/dynamodb.go
  go/appencryption/session.go
Due: go_appencryption

install golangci-lint v1.59.0, print version
  build/go/lint.sh
Due: none

removed redundant status check
  build/go/lint.sh
Due: none

[go/server] updated golangci config, resolved lint issues
  server/go/.golangci.yml
  server/go/main.go
  server/go/pkg/server/server.go
  server/go/pkg/server/server_test.go
Due: server-go

[go/securememory] updated golangci config, resolved lint issues
  go/securememory/.golangci.yml
  go/securememory/internal/memcall/memcall.go
  go/securememory/internal/secrets/reader.go
  go/securememory/memguard/secret.go
  go/securememory/memguard/secret_benchmark_test.go
  go/securememory/protectedmemory/secret.go
  go/securememory/protectedmemory/secret_benchmark_test.go
Due: go_securememory

[go/referenceapp] updated golangci config, resolved lint issues
  samples/go/referenceapp/.golangci.yml
  samples/go/referenceapp/main.go
Due: none

[go/cltf] updated golangci config, resolved lint issues
  tests/cross-language/go/.golangci.yml
  tests/cross-language/go/decrypt_test.go
Due: none

migrate Go workflows from ci.yml
  .github/workflows/go-all.yml
  .github/workflows/go-appencryption-bench.yml
  .github/workflows/go-appencryption-build.yml
  .github/workflows/go-appencryption-ci.yml
  .github/workflows/go-appencryption-integration.yml
  .github/workflows/go-appencryption-test.yml
  .github/workflows/go-securememory-bench.yml
  .github/workflows/go-securememory-build.yml
  .github/workflows/go-securememory-ci.yml
  .github/workflows/go-securememory-test.yml
  build/go/integration_test.sh
Due: none

added job for reference app
  .github/workflows/go-all.yml
Due: none

Delete obsolete workflow: Run WS Scans (run-wss-scans.yml)
  .github/workflows/run-wss-scans.yml
Due: none

replace fmt.Sprintf
  go/appencryption/key_cache.go
Due: go_appencryption

new keyCache backend: simple
  go/appencryption/envelope_test.go
  go/appencryption/key_cache.go
  go/appencryption/key_cache_benchmark_test.go
  go/appencryption/key_cache_test.go
  go/appencryption/policy.go
  go/appencryption/session_test.go
Due: go_appencryption

remove sleep, panic if loader is called unexpectedly
  go/appencryption/key_cache_benchmark_test.go
Due: go_appencryption

bump version to v0.6.0
  go/appencryption/.versionfile
Due: go_appencryption

update runtimes for cross lang and server tests
  .github/workflows/ci.yml
Due: none

sleep for up to 30s after starting server
  server/samples/clients/test_clients.sh
Due: none

regen package-lock.json for new lockfile version (3)
  server/samples/clients/node/package-lock.json
Due: none

upgrade grpcio[-tools] to latest 1.65.1
  server/samples/clients/python/requirements.txt
Due: none

remove hardcoded python minor version, upgrade grpcio (python xlang client)
  server/samples/clients/test_clients.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
  tests/cross-language/sidecar/requirements.txt
Due: none

generate junit xml report (c# test projects)
  .github/workflows/csharp-securememory-ci.yml
  build/csharp/test.sh
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/scripts/test.sh
  csharp/Logging/Logging.Tests/Logging.Tests.csproj
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
Due: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory

migrate Java workflows from ci.yml
  .github/workflows/java-all.yml
  .github/workflows/java-appencryption-ci.yml
  .github/workflows/java-appencryption-integration.yml
  .github/workflows/java-securememory-ci.yml
  java/app-encryption/pom.xml
Due: java_app_encryption

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
