Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags: csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags: csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags: csharp_SecureMemory
        target: 90%
      java-app-encryption:
        flags: java_app_encryption
        target: 90%
      java-secure-memory:
        flags: java_secure_memory
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
ignore:
  # Ignore non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  # No need for C# path since the dotnet test command handles it currently (should change if/when we do the above)
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macos path

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 5%
      csharp-AppEncryption:
        flags:
          - csharp_AppEncryption
        target: 90%
      csharp-Logging:
        flags:
          - csharp_Logging
        target: 90%
      csharp-SecureMemory:
        flags:
          - csharp_SecureMemory
        target: 90%
      go-securememory:
        flags:
          - go_securememory
        target: 90%
      go-appencryption:
        flags:
          - go_appencryption
        target: 90%
      java-app-encryption:
        flags:
          - java_app_encryption
        target: 90%
      java-secure-memory:
        flags:
          - java_secure_memory
        target: 90%
      server-go:
        flags:
          - server_go
        target: 90%
      server-java:
        flags:
          - server_java
        target: 90%
# Note flags have to be "\w" charset (hence underscore instead of hyphen)
flags:
  csharp_AppEncryption:
    paths:
      - csharp/AppEncryption
  csharp_Logging:
    paths:
      - csharp/Logging
  csharp_SecureMemory:
    paths:
      - csharp/SecureMemory
  go_securememory:
    paths:
      - go/securememory
  go_appencryption:
    paths:
      - go/appencryption
  java_app_encryption:
    paths:
      - java/app-encryption
  java_secure_memory:
    paths:
      - java/secure-memory
  server-go:
    paths:
      - server/go
  server-java:
    paths:
      - server/java
ignore:
  # Non-linux native paths. Ideally, be nice to setup separate OS-specific builds.
  - "**/com/godaddy/asherah/securememory/protectedmemoryimpl/macos" # java macOS path
  - "**/SecureMemory/ProtectedMemoryImpl/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LP64/MacOS" # C# macOS path
  - "**/SecureMemory/PlatformNative/LLP64/Windows" # C# Windows path
  - "**/SecureMemory/ProtectedMemoryImpl/Windows" # C# Windows path
  # gRPC auto-generated file
  - "**/target/generated-sources/protobuf" # Java auto-generated files
  - "**api/appencryption.pb.go" # Go auto-generated files
  # Server startup files
  - "**/com/godaddy/asherah/grpc/ServerApp.java" # Java server startup

Skip debug logging test to avoid race condition
  go/appencryption/session_cache_test.go
Due: go_appencryption

Fix gci formatting in session_worker_pool.go
  go/appencryption/session_worker_pool.go
Due: go_appencryption

Fix gci formatting and race condition in tests
  go/appencryption/key_cache_benchmark_test.go
  go/appencryption/session_cache_goroutine_test.go
Due: go_appencryption

Add missing sync/atomic import
  .tool-versions
  go/appencryption/session_cache_goroutine_test.go
Due: go_appencryption

Fix gci formatting across all files
  go/appencryption/envelope.go
  go/appencryption/session.go
  go/appencryption/session_cache_test.go
Due: go_appencryption

Fix gci import formatting with correct prefix
  go/appencryption/envelope.go
  go/appencryption/envelope_test.go
  go/appencryption/session.go
Due: go_appencryption

Fix gci formatting for all remaining files
  go/appencryption/cmd/example/main.go
  go/appencryption/internal/key_test.go
  go/appencryption/key_cache_benchmark_test.go
  go/appencryption/parameterized_test.go
  go/appencryption/pkg/crypto/aead/aes256gcm_test.go
  go/appencryption/pkg/kms/static.go
  go/appencryption/pkg/kms/static_test.go
  go/appencryption/session_test.go
Due: go_appencryption

removed LogManager from Integration tests
  csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/MultiFactoryThreadedTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/MultiPartitionMultiThreadedTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/SessionByteMultiThreadedTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/Multithreaded/SessionJsonMultiThreadedTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/SecureMemory/Multithreaded/MultiThreadedSecretTest.cs
  csharp/AppEncryption/AppEncryption.IntegrationTests/TestLoggerFactory.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption.Tests.csproj
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/DefaultPartitionTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionBytesImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeEncryptionJsonImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/EnvelopeKeyRecordTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Envelope/KeyMetaTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Json/AppJsonEncryptionImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/AwsKeyManagementServiceImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Kms/KeyManagementServiceTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdhocPersistenceTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/AdoMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/InMemoryMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/PersistenceTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionBytesImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionFactoryTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionJsonImplTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SessionTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/SuffixedPartitionTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Util/JsonTest.cs
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Util/MetricsUtilTest.cs
  csharp/AppEncryption/AppEncryption.Tests/Crypto/AeadCryptoTest.cs
  csharp/AppEncryption/AppEncryption.Tests/Crypto/BasicExpiringCryptoPolicyTest.cs
  csharp/AppEncryption/AppEncryption.Tests/Crypto/CryptoPolicyTest.cs
  csharp/AppEncryption/AppEncryption.Tests/Crypto/Engine/GenericAeadCryptoTest.cs
  csharp/AppEncryption/AppEncryption.Tests/Crypto/Envelope/AeadEnvelopeCryptoTest.cs
  csharp/AppEncryption/AppEncryption.Tests/Crypto/ExtensionMethods/DateTimeOffsetExtensionTests.cs
  csharp/AppEncryption/AppEncryption.Tests/Crypto/Keys/SecretCryptoKeyTest.cs
  csharp/AppEncryption/AppEncryption.Tests/Crypto/Keys/SecureCryptoKeyDictionaryTest.cs
  csharp/AppEncryption/AppEncryption.Tests/Crypto/Keys/SharedCryptoKeyTest.cs
  csharp/AppEncryption/AppEncryption.Tests/Crypto/NonceGeneratorTest.cs
  csharp/AppEncryption/AppEncryption.Tests/LoggerFixture.cs
  csharp/AppEncryption/AppEncryption.Tests/LoggerFixtureTestGroup.cs
Due: csharp_AppEncryption

fix go deprecation comment blocks
  go/appencryption/pkg/kms/aws.go
  go/appencryption/pkg/persistence/dynamodb.go
Due: go_appencryption

Add CLAUDE.md configuration file for Claude Code
  CLAUDE.md
Due: none

update go.work - bump go version to 1.23.0, remove toolchain directive
  go/appencryption/go.work
  go/appencryption/go.work.sum
Due: go_appencryption

bump version to v0.1.7
  go/securememory/.versionfile
Due: go_securememory

upgrade securememory to v0.1.7
  go/appencryption/go.mod
  go/appencryption/go.sum
Due: go_appencryption

bump version to 0.8.0
  go/appencryption/.versionfile
Due: go_appencryption

removed toolchain directive
  tests/cross-language/go/go.mod
Due: none

run `go mod tidy` after `go mod edit` to ensure go.mod is up to date
  .github/workflows/cross-language-validation.yml
Due: none

feat: migrate from OSSRH to Maven Central publishing system
  .github/workflows/ci.yml
  .github/workflows/java-appencryption-release.yml
  .github/workflows/java-securememory-release.yml
  java/app-encryption/pom.xml
  java/secure-memory/pom.xml
Due: java_app_encryption, java_secure_memory

Added overloads to keep backward compatible constructors for the classes I called out in the PR
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionBytesImpl.cs
  csharp/AppEncryption/AppEncryption/Envelope/EnvelopeEncryptionJsonImpl.cs
  csharp/AppEncryption/AppEncryption/SessionBytesImpl.cs
  csharp/AppEncryption/AppEncryption/SessionJsonImpl.cs
Due: csharp_AppEncryption

upgrade securememory to 0.1.6
  java/app-encryption/pom.xml
Due: java_app_encryption

bump version to 0.3.3
  java/app-encryption/pom.xml
Due: java_app_encryption

bump version to 0.7.0
  csharp/AppEncryption/Directory.Build.props
Due: csharp_AppEncryption

Suppress aws-sdk-go deprecation warnings in aws-v1 plugins
  go/appencryption/.golangci.yml
Due: go_appencryption

Bump Microsoft.Extensions.Configuration to 9.0.8
  csharp/SecureMemory/SecureMemory.Tests/SecureMemory.Tests.csproj
Due: csharp_SecureMemory

Migrate Go server from AWS SDK v1 to AWS SDK v2
  server/go/go.mod
  server/go/go.sum
  server/go/pkg/server/server.go
Due: server-go

removed toolchain directive
  server/go/go.mod
Due: server-go

Migrate Go samples to AWS SDK v2
  samples/go/aws/lambda/README.md
  samples/go/aws/lambda/function/go.mod
  samples/go/aws/lambda/function/go.sum
  samples/go/aws/lambda/function/main.go
  samples/go/referenceapp/README.md
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
  samples/go/referenceapp/main.go
Due: none

Complete KMS migration to AWS SDK v2 in referenceapp
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
  samples/go/referenceapp/main.go
Due: none

Complete AWS SDK v2 test infrastructure migration
  go/appencryption/go.work.sum
  go/appencryption/integrationtest/dynamodbtest/dynamodbtest_awsv2.go
  go/appencryption/integrationtest/go.mod
  go/appencryption/integrationtest/go.sum
  go/appencryption/integrationtest/integration_dynamodb_awsv2_test.go
  go/appencryption/integrationtest/persistence/dynamodb_awsv2_test.go
  tartufo.toml
Due: go_appencryption

Update AWS SDK v1 deprecation comments with EOL context
  go/appencryption/pkg/kms/aws.go
  go/appencryption/pkg/persistence/dynamodb.go
  go/appencryption/plugins/aws-v1/kms/aws.go
  go/appencryption/plugins/aws-v1/persistence/dynamodb.go
Due: go_appencryption

Add linter exclusions for AWS SDK v1 deprecation in backward compatibility layer
  go/appencryption/.golangci.yml
Due: go_appencryption

updates to the reference app
  samples/csharp/ReferenceApp/Directory.Build.props
  samples/csharp/ReferenceApp/README.md
  samples/csharp/ReferenceApp/ReferenceApp.sln
  samples/csharp/ReferenceApp/ReferenceApp.slnx
  samples/csharp/ReferenceApp/ReferenceApp/Options.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.cs
  samples/csharp/ReferenceApp/ReferenceApp/ReferenceApp.csproj
  samples/csharp/ReferenceApp/STYLE.md
  samples/csharp/ReferenceApp/StyleCopCustom.ruleset
  samples/csharp/aws/ecs/myapp/Controllers/CustomerController.cs
  samples/csharp/aws/ecs/myapp/Dockerfile
  samples/csharp/aws/ecs/myapp/Models/Customer.cs
  samples/csharp/aws/ecs/myapp/Program.cs
  samples/csharp/aws/ecs/myapp/Startup.cs
  samples/csharp/aws/ecs/myapp/myapp.csproj
Due: none

updated README
  samples/csharp/aws/ecs/README.md
Due: none

Fixed disposable issue and added ability to bring your own client
  csharp/AppEncryption/AppEncryption.Tests/AppEncryption/Persistence/DynamoDbMetastoreImplTest.cs
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/README.md
Due: csharp_AppEncryption

update comment on suppression
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
Due: csharp_AppEncryption

updated comments
  csharp/AppEncryption/AppEncryption/Persistence/DynamoDbMetastoreImpl.cs
  csharp/AppEncryption/README.md
Due: csharp_AppEncryption
