Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

grammar++
  go/appencryption/pkg/persistence/sql_test.go
Due: go_appencryption

direct dependency upgrades
  server/go/go.mod
  server/go/go.sum
Due: server-go

Update Java AE dependencies and java version
  .github/workflows/ci.yml
  java/app-encryption/pom.xml
  java/secure-memory/pom.xml
Due: java_app_encryption, java_secure_memory

dependency upgrades for go example/test apps
  go/appencryption/cmd/example/go.mod
  go/appencryption/cmd/example/go.sum
  go/appencryption/go.work.sum
  go/appencryption/integrationtest/go.mod
  go/appencryption/integrationtest/go.sum
  samples/go/aws/lambda/function/go.mod
  samples/go/aws/lambda/function/go.sum
  samples/go/referenceapp/go.mod
  samples/go/referenceapp/go.sum
  tests/cross-language/go/go.mod
  tests/cross-language/go/go.sum
Due: go_appencryption

Update CI for server and samples
  .github/workflows/ci.yml
Due: none

Fix jackson vuln
  java/app-encryption/pom.xml
Due: java_app_encryption

Revert "Fix jackson vuln"
  java/app-encryption/pom.xml
Due: java_app_encryption

Add missing {
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: java/app-encryption/pom.xml to reduce vulnerabilities
  java/app-encryption/pom.xml
Due: java_app_encryption

Add GPG plugin config
  java/app-encryption/pom.xml
  java/secure-memory/pom.xml
Due: java_app_encryption, java_secure_memory

git config - add safe directory
  .github/workflows/ci.yml
Due: none

Fix spacing
  java/app-encryption/pom.xml
  java/secure-memory/pom.xml
Due: java_app_encryption, java_secure_memory

Cache only m2/repository
  .github/workflows/ci.yml
Due: none

Fix typo
  .github/workflows/ci.yml
Due: none

Replace adopt with temurin
  .github/workflows/ci.yml
Due: none

Test builds
  .github/workflows/ci.yml
Due: none

Use ubuntu-20.04 in server samples
  .github/workflows/ci.yml
Due: none

fix: upgrade com.amazonaws:aws-java-sdk-dynamodb from 1.12.400 to 1.12.401
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.grpc:grpc-api from 1.52.1 to 1.53.0
  server/java/pom.xml
Due: server-java

List additional language support
  README.md
Due: none

Update README.md
  README.md
Due: none

fix: upgrade org.checkerframework:checker-qual from 3.30.0 to 3.33.0
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade io.micrometer:micrometer-core from 1.10.3 to 1.10.5
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade org.slf4j:slf4j-api from 2.0.6 to 2.0.7
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade com.github.ben-manes.caffeine:caffeine from 3.1.2 to 3.1.5
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade com.google.protobuf:protobuf-java from 3.21.12 to 3.22.2
  server/java/pom.xml
Due: server-java

fix: upgrade io.netty:netty-codec-http2 from 4.1.87.Final to 4.1.91.Final
  server/java/pom.xml
Due: server-java

java server dependency updates
  server/java/pom.xml
  server/java/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc/AppEncryptionGrpc.java
  server/java/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc/AppEncryptionProtos.java
Due: server-java

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
