Repository godaddy/asherah: changes, and which Codecov flags are due for each by the changed paths.
All: csharp_AppEncryption, csharp_Logging, csharp_SecureMemory, java_app_encryption, java_secure_memory, go_securememory, go_appencryption, server-go, server-java

use temurin distro for java server build
  .github/workflows/ci.yml
Due: none

java cltf - use java 17
  tests/cross-language/java/pom.xml
Due: none

java server - use java 17
  server/java/pom.xml
Due: server-java

fix: upgrade org.slf4j:slf4j-api from 2.0.6 to 2.0.7
  java/secure-memory/pom.xml
Due: java_secure_memory

rev cache version
  .github/workflows/ci.yml
Due: none

print debug info
  .github/workflows/ci.yml
Due: none

set cache
  .github/workflows/ci.yml
Due: none

"disable" select workflows (temp)
  .github/workflows/ci.yml
Due: none

fix: upgrade com.github.ben-manes.caffeine:caffeine from 3.1.5 to 3.1.6
  java/app-encryption/pom.xml
Due: java_app_encryption

use actions/setup-* built-in cache
  .github/workflows/ci.yml
Due: none

do not run integration test packages in parallel
  build/go/integration_test.sh
Due: none

use actions/setup-* built-in cache
  .github/workflows/ci.yml
  server/samples/clients/test_clients.sh
Due: none

mvn --no-transfer-progress
  .github/workflows/ci.yml
  build/java/build.sh
  build/java/clean.sh
  build/java/integration_test.sh
  build/java/test.sh
  tests/cross-language/java/scripts/build.sh
  tests/cross-language/scripts/decrypt_all.sh
  tests/cross-language/scripts/encrypt_all.sh
Due: none

go testing improvements
  .github/workflows/ci.yml
  build/go/integration_test.sh
  build/go/test.sh
  go/appencryption/integrationtest/integration_test.go
  go/appencryption/integrationtest/persistence/dynamodb_test.go
  go/appencryption/integrationtest/persistence/persistencetest/dynamodb.go
Due: go_appencryption

remove redundant env variable (CGO_ENABLED)
  build/go/test.sh
Due: none

java server dependency updates
  server/java/pom.xml
  server/java/target/generated-sources/protobuf/grpc-java/com/godaddy/asherah/grpc/AppEncryptionGrpc.java
  server/java/target/generated-sources/protobuf/java/com/godaddy/asherah/grpc/AppEncryptionProtos.java
Due: server-java

fix: upgrade io.micrometer:micrometer-core from 1.10.5 to 1.10.6
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade info.picocli:picocli from 4.7.1 to 4.7.2
  server/java/pom.xml
Due: server-java

fix: upgrade mysql:mysql-connector-java from 8.0.32 to 8.0.33
  server/java/pom.xml
Due: server-java

Upgrade AWS SDK to v2
  CONTRIBUTORS.md
  java/app-encryption/README.md
  java/app-encryption/pom.xml
  java/app-encryption/src/it/java/com/godaddy/asherah/TestSetup.java
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/DynamoDbGlobalTableIT.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKeyManagementServiceImpl.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/kms/AwsKmsClientFactory.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/kms/AwsKeyManagementServiceImplTest.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImplTest.java
  samples/java/reference-app/pom.xml
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  server/java/pom.xml
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionConfigTest.java
Due: java_app_encryption, server-java

Failfast on conversion
  java/app-encryption/README.md
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
Due: java_app_encryption

Refactor
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/DynamoDbGlobalTableIT.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImplTest.java
Due: java_app_encryption

PLEASE DO NOT APPROVE. Testing for security issues.. (lzrdsb)
  build/csharp/build.sh
  build/csharp/clean.sh
  build/csharp/install-dotnet-3.1.sh
  build/csharp/release_prod.sh
  build/csharp/test.sh
  build/go/benchmark_test.sh
  build/go/build.sh
  build/go/integration_test.sh
  build/go/lint.sh
  build/go/release_prod.sh
  build/go/test.sh
  build/java/build.sh
  build/java/clean.sh
  build/java/integration_test.sh
  build/java/release_prod.sh
  build/java/test.sh
  docs/assets/puml_to_svg.sh
  java/app-encryption/pom.xml
  java/secure-memory/pom.xml
  server/java/pom.xml
Due: java_app_encryption, java_secure_memory, server-java

fix: upgrade com.google.protobuf:protobuf-java from 3.22.3 to 3.23.0
  server/java/pom.xml
Due: server-java

fix: upgrade io.grpc:grpc-api from 1.54.1 to 1.55.1
  server/java/pom.xml
Due: server-java

Install during ci
  .github/workflows/ci.yml
  java/app-encryption/scripts/install.sh
Due: java_app_encryption

Code review changes
  java/app-encryption/README.md
  java/app-encryption/scripts/install.sh
  java/app-encryption/src/it/java/com/godaddy/asherah/regression/DynamoDbGlobalTableIT.java
  java/app-encryption/src/main/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImpl.java
  java/app-encryption/src/test/java/com/godaddy/asherah/appencryption/persistence/DynamoDbMetastoreImplTest.java
Due: java_app_encryption

Revert ci and samples
  .github/workflows/ci.yml
  samples/java/reference-app/pom.xml
  samples/java/reference-app/src/main/java/com/godaddy/asherah/referenceapp/App.java
  server/java/pom.xml
  server/java/src/main/java/com/godaddy/asherah/grpc/AppEncryptionConfig.java
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionConfigTest.java
Due: server-java

fix: upgrade org.slf4j:slf4j-api from 2.0.6 to 2.0.7
  server/java/pom.xml
Due: server-java

fix: upgrade org.checkerframework:checker-qual from 3.33.0 to 3.34.0
  java/app-encryption/pom.xml
Due: java_app_encryption

fix: upgrade com.google.protobuf:protobuf-java-util from 3.22.3 to 3.22.4
  server/java/pom.xml
Due: server-java

fix: upgrade com.google.protobuf:protobuf-java-util from 3.23.0 to 3.23.1
  server/java/pom.xml
Due: server-java

Update AE version
  tests/cross-language/java/pom.xml
Due: none

Update AE version
  samples/java/reference-app/pom.xml
  server/java/pom.xml
Due: server-java

Fix server tests
  server/java/src/test/java/com/godaddy/asherah/grpc/AppEncryptionConfigTest.java
Due: server-java

fix: upgrade io.netty:netty-codec-http2 from 4.1.92.Final to 4.1.93.Final
  server/java/pom.xml
Due: server-java

fix: upgrade com.google.protobuf:protobuf-java-util from 3.23.1 to 3.23.2
  server/java/pom.xml
Due: server-java

fix: server/java/pom.xml to reduce vulnerabilities
  server/java/pom.xml
Due: server-java

fix: upgrade com.google.protobuf:protobuf-java from 3.23.1 to 3.23.2
  server/java/pom.xml
Due: server-java

fix: upgrade io.netty:netty-transport-native-unix-common from 4.1.92.Final to 4.1.93.Final
  server/java/pom.xml
Due: server-java

Path conditions:
  csharp_AppEncryption: (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/AppEncryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_Logging: (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/Logging, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  csharp_SecureMemory: (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: csharp/SecureMemory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_app_encryption: (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/app-encryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  java_secure_memory: (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos) or (any of: java/secure-memory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java)
  go_securememory: any of: go/securememory, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  go_appencryption: any of: go/appencryption, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-go: any of: server/go, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
  server-java: any of: server/java, but not: **/com/godaddy/asherah/securememory/protectedmemoryimpl/macos, **/SecureMemory/ProtectedMemoryImpl/MacOS, **/SecureMemory/PlatformNative/LP64/MacOS, **/SecureMemory/PlatformNative/LLP64/Windows, **/SecureMemory/ProtectedMemoryImpl/Windows, **/target/generated-sources/protobuf, **api/appencryption.pb.go, **/com/godaddy/asherah/grpc/ServerApp.java
